Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

feat(isponsorblocktv): init
  kubernetes/apps/isponsorblocktv/external-secret.yml
  kubernetes/apps/isponsorblocktv/flux-kustomization.yml
  kubernetes/apps/isponsorblocktv/helm-release.yml
  kubernetes/apps/isponsorblocktv/kustomization.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

chore(ansible): cleaned up inventory
  ansible/inventory/static.yml
Labels: relative/ansible

feat(terraform): additional objects to allow ansible to query state file
  terraform/_modules/aws_vm/outputs.tf
  terraform/aws/main.tf
  terraform/aws/outputs.tf
  terraform/aws/providers.tf
Labels: relative/terraform

feat(mikrotik): add preshared key to gatus
  terraform/mikrotik/outputs.tf
  terraform/mikrotik/wireguard.tf
Labels: relative/terraform

chore(terraform): drop unused modules
  terraform/gravity/dhcp.tf.bak
  terraform/opnsense/backend.tf
  terraform/opnsense/interfaces.tf
  terraform/opnsense/kea.tf
  terraform/opnsense/leases.json
  terraform/opnsense/providers.tf
  terraform/opnsense/variables.tf
Labels: relative/terraform

feat(openshift): finally add ocp
  .gitignore
  openshift/sno/README.md
  openshift/sno/agent-config.yaml
  openshift/sno/install-config.yaml
  openshift/sno/manifests/cassandra/namespace.yaml
  openshift/sno/manifests/cassandra/scc-rolebinding.yaml
  openshift/sno/manifests/cassandra/service.yaml
  openshift/sno/manifests/cassandra/statefulset.yaml
  openshift/sno/manifests/garage/scc-rolebinding.yaml
  openshift/sno/manifests/garage/values.yaml
  openshift/sno/manifests/kasten-backup/backup-policy.yaml
  openshift/sno/manifests/kasten-backup/location-profile.yaml
  openshift/sno/manifests/kasten-backup/s3-credentials-secret.yaml
  openshift/sno/manifests/kasten-backup/volumesnapshotclass-annotation.yaml
  openshift/sno/manifests/kasten-monitoring/cluster-monitoring-config.yaml
  openshift/sno/manifests/kasten-monitoring/networkpolicy.yaml
  openshift/sno/manifests/kasten-monitoring/prometheusrule.yaml
  openshift/sno/manifests/kasten-monitoring/servicemonitor.yaml
  openshift/sno/manifests/lvm-storage/lvmcluster.yaml
  openshift/sno/manifests/lvm-storage/namespace.yaml
  openshift/sno/manifests/lvm-storage/operatorgroup.yaml
  openshift/sno/manifests/lvm-storage/subscription.yaml
Labels: none

feat(openshift): refactor files
  openshift/sno/manifests/cassandra/backup-policy.yml
  openshift/sno/manifests/cassandra/namespace.yml
  openshift/sno/manifests/cassandra/scc-rolebinding.yml
  openshift/sno/manifests/cassandra/service.yml
  openshift/sno/manifests/cassandra/statefulset.yml
  openshift/sno/manifests/garage/kustomization.yml
  openshift/sno/manifests/garage/namespace.yml
  openshift/sno/manifests/garage/scc-rolebinding.yml
  openshift/sno/manifests/garage/values.yml
  openshift/sno/manifests/kasten/k10.yml
  openshift/sno/manifests/kasten/location-profile.yml
  openshift/sno/manifests/kasten/namespace.yml
  openshift/sno/manifests/kasten/operatorgroup.yml
  openshift/sno/manifests/kasten/s3-credentials-secret.yml
  openshift/sno/manifests/kasten/subscription.yml
  openshift/sno/manifests/kasten/volumesnapshotclass-annotation.yml
  openshift/sno/manifests/lvm-storage/lvmcluster.yml
  openshift/sno/manifests/lvm-storage/namespace.yml
  openshift/sno/manifests/lvm-storage/operatorgroup.yml
  openshift/sno/manifests/lvm-storage/subscription.yml
  openshift/sno/manifests/monitoring/cluster-monitoring-config.yml
  openshift/sno/manifests/monitoring/networkpolicy.yml
  openshift/sno/manifests/monitoring/prometheusrule.yml
  openshift/sno/manifests/monitoring/servicemonitor.yml
Labels: none

feat(openshift): refactor files
  openshift/sno/agent-config.yml
  openshift/sno/install-config.yml
Labels: none

docs(k8s): update component reference docs
  kubernetes/core/cilium/reference.md
  kubernetes/core/envoy-gateway/reference.md
  kubernetes/core/prometheus/reference.md
  kubernetes/core/rook-ceph/reference.md
  kubernetes/core/volsync/reference.md
Labels: relative/kubernetes

docs(k8s): update component reference docs
  kubernetes/core/cilium/reference.md
  kubernetes/core/envoy-gateway/reference.md
  kubernetes/core/flux-instance/reference.md
  kubernetes/core/prometheus/reference.md
  kubernetes/core/rook-ceph/reference.md
  kubernetes/core/volsync/reference.md
Labels: relative/kubernetes

feat: swap booklore to grimmory
  kubernetes/apps/grimmory/external-secret.yml
  kubernetes/apps/grimmory/flux-kustomization.yml
  kubernetes/apps/grimmory/helm-release.yml
  kubernetes/apps/grimmory/kustomization.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

chore(grimmory): update resources
  kubernetes/apps/grimmory/helm-release.yml
Labels: relative/kubernetes

update secrets in terraform and ansible
  kubernetes/apps/authentik/helm-release.yml
  terraform/authentik/applications.tf
  terraform/authentik/directory.tf
  terraform/authentik/main.tf
  terraform/authentik/providers.tf
Labels: relative/kubernetes, relative/terraform

same
  ansible/inventory/host_vars/mgmt-srv-01.yml
Labels: relative/ansible

add controller manager to ocp
  openshift/sno/manifests/monitoring/servicemonitor.yml
Labels: none

chore(rook-ceph): disable specific alerts
  kubernetes/core/rook-ceph/cluster/helm-release.yml
Labels: relative/kubernetes

chore(monitoring): disable watchdog alerts
  kubernetes/core/prometheus/helm-release.yml
Labels: relative/kubernetes

renamed helmfile operations
  kubernetes/hacks/helmfile.d/apps.yml
  kubernetes/hacks/helmfile.d/crds.yml
Labels: relative/kubernetes

more rules
  kubernetes/core/prometheus/helm-release.yml
  kubernetes/core/rook-ceph/cluster/helm-release.yml
Labels: relative/kubernetes

delete custom routes and use charts instead
  kubernetes/core/cilium/http-route.yml
  kubernetes/core/rook-ceph/cluster/helm-release.yml
  kubernetes/core/rook-ceph/cluster/http-route.yml
  kubernetes/core/rook-ceph/cluster/kustomization.yml
Labels: relative/kubernetes

changed to streamable http for the mcp server
  kubernetes/core/flux-operator/mcp.yml
Labels: relative/kubernetes

chore(flux): fix cron for mcp
  kubernetes/core/github-actions/flux-mcp-reporter/cron-job.yml
Labels: relative/kubernetes

fix(flux): mcp code needed adjustment
  kubernetes/core/github-actions/flux-mcp-reporter/cron-job.yml
Labels: relative/kubernetes

update schemas 2026-04-17T15:49:22Z
  index.html
  postgres-operator.crunchydata.com/postgrescluster_v1.html
  postgres-operator.crunchydata.com/postgrescluster_v1beta1.html
Labels: none

update schemas 2026-04-17T15:50:57Z
  index.html
Labels: none

update schemas 2026-04-17T15:52:33Z
  acme.cert-manager.io/challenge_v1.html
  actions.github.com/autoscalingrunnerset_v1alpha1.html
  actions.github.com/ephemeralrunner_v1alpha1.html
  actions.github.com/ephemeralrunnerset_v1alpha1.html
  ceph.rook.io/cephcluster_v1.html
  ceph.rook.io/cephcosidriver_v1.html
  ceph.rook.io/cephfilesystem_v1.html
  ceph.rook.io/cephnvmeofgateway_v1.html
Labels: none

update schemas 2026-04-17T15:53:05Z
  acme.cert-manager.io/challenge_v1.html
  actions.github.com/autoscalingrunnerset_v1alpha1.html
  actions.github.com/ephemeralrunner_v1alpha1.html
  actions.github.com/ephemeralrunnerset_v1alpha1.html
  ceph.rook.io/cephcluster_v1.html
  ceph.rook.io/cephcosidriver_v1.html
  ceph.rook.io/cephfilesystem_v1.html
  ceph.rook.io/cephnvmeofgateway_v1.html
  index.html
Labels: none

update schemas 2026-04-17T15:55:41Z
  master-standalone/ceph.rook.io-cephrbdmirror-stable-v1.json
  master-standalone/cilium.io-ciliumbgpnodeconfigoverride-stable-v2alpha1.json
Labels: none

update schemas 2026-04-18T00:09:54Z
  actions.github.com/autoscalinglistener_v1alpha1.html
  actions.github.com/autoscalingrunnerset_v1alpha1.html
  cilium.io/ciliumnetworkpolicy_v2.html
  csi.ceph.io/driver_v1.html
  csi.ceph.io/driver_v1alpha1.html
  csi.ceph.io/operatorconfig_v1.html
  csi.ceph.io/operatorconfig_v1alpha1.html
  external-secrets.io/clusterpushsecret_v1alpha1.html
  index.html
  master-standalone/ceph.rook.io-cephrbdmirror-stable-v1.json
  master-standalone/cilium.io-ciliumbgpnodeconfigoverride-stable-v2alpha1.json
Labels: none

update schemas 2026-04-18T00:22:18Z
  actions.github.com/autoscalinglistener_v1alpha1.html
  actions.github.com/autoscalingrunnerset_v1alpha1.html
  cilium.io/ciliumnetworkpolicy_v2.html
  csi.ceph.io/driver_v1.html
  csi.ceph.io/driver_v1alpha1.html
  csi.ceph.io/operatorconfig_v1.html
  csi.ceph.io/operatorconfig_v1alpha1.html
  external-secrets.io/clusterpushsecret_v1alpha1.html
  index.html
Labels: none

feat: add crd-schema-publisher
  kubernetes/core/crd-schema-publisher/common.yml
  kubernetes/core/crd-schema-publisher/cronjob.yml
  kubernetes/core/crd-schema-publisher/external-secret.yml
  kubernetes/core/crd-schema-publisher/flux-kustomization.yml
  kubernetes/core/crd-schema-publisher/kustomization.yml
  kubernetes/core/kustomization.yml
  kubernetes/flux/00-namespaces.yml
Labels: relative/kubernetes

chore(flux): mcp added more colorful embeds
  kubernetes/core/github-actions/flux-mcp-reporter/cron-job.yml
  kubernetes/core/github-actions/flux-mcp-reporter/external-secret.yml
  kubernetes/core/github-actions/flux-mcp-reporter/kustomization.yml
Labels: relative/kubernetes

feat: add crd-schema-publisher
  kubernetes/core/crd-schema-publisher/cronjob.yml
Labels: relative/kubernetes

update schemas 2026-04-18T03:00:24Z
  index.html
Labels: none

fix(qbittorrent): no backendRefs
  kubernetes/apps/qbittorrent/helm-release.yml
Labels: relative/kubernetes

update schemas 2026-04-19T03:00:19Z
  index.html
Labels: none

Update cronjob.yml
  kubernetes/core/crd-schema-publisher/cronjob.yml
Labels: relative/kubernetes

put authentik in its own namespace
  kubernetes/apps/authentik/flux-kustomization.yml
  kubernetes/flux/00-namespaces.yml
Labels: relative/kubernetes

fix(crd-schema-publisher): add env
  kubernetes/core/crd-schema-publisher/cronjob.yml
Labels: relative/kubernetes

fix(crd-schema-publisher): add /
  kubernetes/core/crd-schema-publisher/cronjob.yml
Labels: relative/kubernetes
