Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

no longer needed
  terraform/kasten/.envrc
Labels: relative/terraform

testing
  terraform/kasten/README.md
  terraform/kasten/iam.tf
  terraform/kasten/iam/aws-kasten.json
  terraform/kasten/k8s/default-values.yml
  terraform/kasten/k8s/silly-pod-aws.yml
  terraform/kasten/k8s/silly-pod-talos.yml
  terraform/kasten/k8s/values.yml
  terraform/kasten/main.tf
Labels: relative/terraform

chore(terraform): version constraints
  terraform/_modules/authentik/oauth2_app/providers.tf
  terraform/_modules/authentik/proxy_app/providers.tf
  terraform/_modules/aws_vm/providers.tf
  terraform/aws/providers.tf
  terraform/backblaze/providers.tf
  terraform/cloudflare/providers.tf
  terraform/monitoring/providers.tf
  terraform/opnsense/providers.tf
  terraform/proxmox/providers.tf
  terraform/servarr/providers.tf
  terraform/unifi/providers.tf
  terraform/uptime-robot/providers.tf
Labels: relative/terraform

feat(kasten): add oidc
  terraform/authentik/applications.tf
  terraform/authentik/providers.tf
Labels: relative/terraform

testing: new app-template version
  kubernetes/apps/sonarr/helm-release.yml
Labels: relative/kubernetes

testing(sonarr): app-template v4
  kubernetes/apps/sonarr/helm-release.yml
Labels: relative/kubernetes

chore(arr): env updates
  kubernetes/apps/bazarr/helm-release.yml
  kubernetes/apps/prowlarr/helm-release.yml
  kubernetes/apps/radarr/helm-release.yml
  kubernetes/apps/sonarr/helm-release.yml
Labels: relative/kubernetes

chore(arr): update probes
  kubernetes/apps/bazarr/helm-release.yml
  kubernetes/apps/radarr/helm-release.yml
Labels: relative/kubernetes

feat: bump to v4 app-template
  kubernetes/apps/anirra/helm-release.yml
  kubernetes/apps/bazarr/helm-release.yml
  kubernetes/apps/diff2rss/helm-release.yml
  kubernetes/apps/flaresolverr/helm-release.yml
  kubernetes/apps/immich/helm-release.yml
  kubernetes/apps/jellyseerr/helm-release.yml
  kubernetes/apps/karakeep/helm-release.yml
  kubernetes/apps/maintainerr/helm-release.yml
  kubernetes/apps/miniflux/helm-release.yml
  kubernetes/apps/paperless-ai/helm-release.yml
  kubernetes/apps/paperless-ngx/helm-release.yml
  kubernetes/apps/plex-auto-languages/helm-release.yml
  kubernetes/apps/plex/helm-release.yml
  kubernetes/apps/prowlarr/helm-release.yml
  kubernetes/apps/pulsarr/helm-release.yml
  kubernetes/apps/qbittorrent/helm-release.yml
  kubernetes/apps/radarr/helm-release.yml
  kubernetes/apps/recommendarr/helm-release.yml
  kubernetes/apps/recyclarr/helm-release.yml
  kubernetes/apps/sabnzbd/helm-release.yml
  kubernetes/apps/tautulli/helm-release.yml
  kubernetes/apps/unifi-controller/helm-release.yml
  kubernetes/apps/winxuu/helm-release.yml
  kubernetes/apps/your-spotify/helm-release.yml
  kubernetes/core/kromgo/helm-release.yml
Labels: relative/kubernetes

feat(multus): apply custom RBAC and SA
  kubernetes/core/multus/helm-release.yml
Labels: relative/kubernetes

oops, missed some
  kubernetes/apps/bazarr/helm-release.yml
  kubernetes/apps/sonarr/helm-release.yml
Labels: relative/kubernetes

fix(karakeep): update claim for volsync
  kubernetes/apps/karakeep/flux-kustomization.yml
Labels: relative/kubernetes

chore(maintainerr): swtich to statefulset
  kubernetes/apps/maintainerr/helm-release.yml
Labels: relative/kubernetes

fix(maintainerr): update claim
  kubernetes/apps/maintainerr/flux-kustomization.yml
Labels: relative/kubernetes

fix(sabnzbd): removed nameOverride for service map
  kubernetes/apps/sabnzbd/helm-release.yml
Labels: relative/kubernetes

fix: remove the rest of nameOverride fields
  kubernetes/apps/paperless-ngx/helm-release.yml
  kubernetes/apps/unifi-controller/helm-release.yml
  kubernetes/apps/your-spotify/helm-release.yml
Labels: relative/kubernetes

feat(gatus): update endpoint addr
  ansible/inventory/static.yml
  kubernetes/apps/your-spotify/flux-kustomization.yml
  kubernetes/apps/your-spotify/helm-release.yml
Labels: relative/kubernetes, relative/ansible

testing(recommendarr): replaced with discovarr
  kubernetes/apps/discovarr/external-secret.yml
  kubernetes/apps/discovarr/flux-kustomization.yml
  kubernetes/apps/discovarr/helm-release.yml
  kubernetes/apps/discovarr/kustomization.yml
  kubernetes/apps/kustomization.yml
  kubernetes/apps/recommendarr/helm-release.yml
Labels: relative/kubernetes

feat(discovarr): add ollama
  kubernetes/apps/discovarr/helm-release.yml
Labels: relative/kubernetes

swap over to paperless-gpt
  kubernetes/apps/kustomization.yml
  kubernetes/apps/paperless-ai/helm-release.yml
  kubernetes/apps/paperless-gpt/external-secret.yml
  kubernetes/apps/paperless-gpt/flux-kustomization.yml
  kubernetes/apps/paperless-gpt/helm-release.yml
  kubernetes/apps/paperless-gpt/kustomization.yml
Labels: relative/kubernetes

drop some apps
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

fix(maintainerr): set keda object to sts
  kubernetes/apps/maintainerr/flux-kustomization.yml
Labels: relative/kubernetes

chore(headlamp): remove CPU limit
  kubernetes/apps/headlamp/helm-release.yml
Labels: relative/kubernetes

fix(headlamp): remove resource limits
  kubernetes/apps/headlamp/helm-release.yml
Labels: relative/kubernetes

fix(headlamp): cert-manager plugin versions
  kubernetes/apps/headlamp/helm-release.yml
Labels: relative/kubernetes

bump flux instance
  kubernetes/core/flux-instance/values.yml
Labels: relative/kubernetes

misc
  kubernetes/apps/headlamp/helm-release.yml
Labels: relative/kubernetes

chore(unifi-controller): switch ns to tools
  kubernetes/apps/unifi-controller/flux-kustomization.yml
  kubernetes/apps/unifi-controller/helm-release.yml
Labels: relative/kubernetes

chore(cert-manager): moved cert to where its needed
  kubernetes/core/cert-manager/kustomization.yml
  kubernetes/core/gateway-api/resources/certificate.yml
Labels: relative/kubernetes

chore(gateway-api): no longer need the reference gate
  kubernetes/core/gateway-api/resources/kustomization.yml
  kubernetes/core/gateway-api/resources/reference-grant.yml
Labels: relative/kubernetes

chore(gateway-api): redo the setup completely
  kubernetes/core/gateway-api/flux-kustomization.yml
  kubernetes/core/gateway-api/resources/private-class.yml
  kubernetes/core/gateway-api/resources/public-class.yml
Labels: relative/kubernetes

use this cert temp
  kubernetes/core/gateway-api/resources/kustomization.yml
  kubernetes/core/nginx-ext-ingress/helm-release.yml
  kubernetes/core/nginx-int-ingress/helm-release.yml
Labels: relative/kubernetes

oopsie
  kubernetes/core/gateway-api/certificate.yml
  kubernetes/core/gateway-api/kustomization.yml
  kubernetes/core/gateway-api/private-class.yml
  kubernetes/core/gateway-api/public-class.yml
  kubernetes/core/gateway-api/redirect-route.yml
  kubernetes/core/gateway-api/test-http-route.yml
Labels: relative/kubernetes

chore(gateway-api): add path to ks
  kubernetes/core/gateway-api/crd.yml
  kubernetes/core/gateway-api/flux-kustomization.yml
Labels: relative/kubernetes

feat(k8s): add poetry for flux-local deps
  kubernetes/.envrc
  kubernetes/poetry.lock
  kubernetes/poetry.toml
  kubernetes/pyproject.toml
Labels: relative/kubernetes

fix(gateway-api): add crd ks
  kubernetes/core/gateway-api/crd.yml
  kubernetes/core/gateway-api/flux-kustomization.yml
  kubernetes/core/gateway-api/kustomization.yml
Labels: relative/kubernetes

fix(gateway-api): add crd ks
  kubernetes/core/gateway-api/crd.yml
Labels: relative/kubernetes

fix(gateway-api): remove incorrect dependency
  kubernetes/core/gateway-api/crd.yml
  kubernetes/core/gateway-api/flux-kustomization.yml
  kubernetes/core/gateway-api/kustomization.yml
Labels: relative/kubernetes

fix(cilium): create gatewayclass regardless of if CRDs are found
  kubernetes/core/cilium/values.yml
Labels: relative/kubernetes

chore(gatewayapi): apply redirect to public gateway as well
  kubernetes/core/gateway-api/redirect-route.yml
Labels: relative/kubernetes

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
