Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

chore(ephemera): removed volsync stuff
  kubernetes/apps/ephemera/flux-kustomization.yml
Labels: relative/kubernetes

fix(talos): set proper path for talosconfig env
  kubernetes/.envrc
Labels: relative/kubernetes

modernize configs
  .gitignore
  kubernetes/core/cilium/values.yml
  kubernetes/hacks/apps-helmfile.yml
  kubernetes/hacks/crds-helmfile.yml
  kubernetes/talos/clusterconfig/.gitignore
  kubernetes/talos/talconfig.yml
  kubernetes/talos/talsecret.sops.yaml
Labels: relative/kubernetes, area/talos

fix(stump): add custom entrypoint
  kubernetes/apps/stump/entrypoint.sh
  kubernetes/apps/stump/helm-release.yml
  kubernetes/apps/stump/kustomization.yml
Labels: relative/kubernetes

fix(stump): add custom entrypoint
  kubernetes/apps/ephemera/helm-release.yml
  kubernetes/apps/ephemera/kustomization.yml
  kubernetes/apps/stump/helm-release.yml
  kubernetes/apps/stump/kustomization.yml
Labels: relative/kubernetes

removed stump for now
  kubernetes/apps/kustomization.yml
  kubernetes/apps/stump/entrypoint.sh
Labels: relative/kubernetes

dropped shellcheck stuff
  .pre-commit-config.yaml
Labels: none

removed apps
  kubernetes/apps/immich/database-init-cm.sql
  kubernetes/apps/immich/external-secret.yml
  kubernetes/apps/immich/flux-kustomization.yml
  kubernetes/apps/immich/helm-release.yml
  kubernetes/apps/immich/kustomization.yml
  kubernetes/apps/kustomization.yml
  kubernetes/apps/paperless-gpt/external-secret.yml
  kubernetes/apps/paperless-gpt/flux-kustomization.yml
  kubernetes/apps/paperless-gpt/helm-release.yml
  kubernetes/apps/paperless-gpt/kustomization.yml
  kubernetes/apps/stump/entrypoint.sh
  kubernetes/apps/stump/flux-kustomization.yml
  kubernetes/apps/stump/helm-release.yml
  kubernetes/apps/stump/kustomization.yml
  kubernetes/apps/unifi-controller/dns-endpoint.yml
  kubernetes/apps/unifi-controller/flux-kustomization.yml
  kubernetes/apps/unifi-controller/helm-release.yml
  kubernetes/apps/unifi-controller/kustomization.yml
  kubernetes/apps/winxuu/flux-kustomization.yml
  kubernetes/apps/winxuu/helm-release.yml
  kubernetes/apps/winxuu/kustomization.yml
Labels: relative/kubernetes

feat(booklore): deployed
  kubernetes/apps/booklore/external-secret.yml
  kubernetes/apps/booklore/flux-kustomization.yml
  kubernetes/apps/booklore/helm-release.yml
  kubernetes/apps/booklore/kustomization.yml
Labels: relative/kubernetes

fix(booklore): mounts
  kubernetes/apps/booklore/helm-release.yml
Labels: relative/kubernetes

chore(booklore): separate into multiple controllers
  kubernetes/apps/booklore/helm-release.yml
Labels: relative/kubernetes

chore(booklore): drop for now
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

chore(booklore): let's try this again
  kubernetes/apps/booklore/flux-kustomization.yml
  kubernetes/apps/booklore/helm-release.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

chore(booklore): make it less secured
  kubernetes/apps/booklore/helm-release.yml
Labels: relative/kubernetes

fix(booklore): set correct dns name for jdbc
  kubernetes/apps/booklore/helm-release.yml
Labels: relative/kubernetes

fix(booklore): add more CAPS
  kubernetes/apps/booklore/helm-release.yml
Labels: relative/kubernetes

chore(booklore): add httproute
  kubernetes/apps/booklore/helm-release.yml
Labels: relative/kubernetes

fix(booklore): mariadb healthcheck
  kubernetes/apps/booklore/helm-release.yml
Labels: relative/kubernetes

chore(booklore): add tmp for nginx
  kubernetes/apps/booklore/helm-release.yml
Labels: relative/kubernetes

fix(booklore): pagan permissions
  kubernetes/apps/booklore/helm-release.yml
Labels: relative/kubernetes

testing new NFS permissions
  kubernetes/apps/bazarr/helm-release.yml
Labels: relative/kubernetes

feat: add csi-driver-smb
  kubernetes/core/csi-driver-smb/flux-kustomization.yml
  kubernetes/core/csi-driver-smb/helm-release.yml
  kubernetes/core/csi-driver-smb/kustomization.yml
  kubernetes/core/csi-driver-smb/source.yml
  kubernetes/core/kustomization.yml
Labels: relative/kubernetes

fix(plex): advertise url
  kubernetes/apps/plex/helm-release.yml
Labels: relative/kubernetes

drop: csi-driver-smb
  kubernetes/core/csi-driver-smb/flux-kustomization.yml
  kubernetes/core/csi-driver-smb/helm-release.yml
  kubernetes/core/csi-driver-smb/kustomization.yml
  kubernetes/core/csi-driver-smb/source.yml
  kubernetes/core/kustomization.yml
Labels: relative/kubernetes

feat: update maintainerr
  kubernetes/apps/maintainerr/helm-release.yml
Labels: relative/kubernetes

feat: update maintainerr
  kubernetes/apps/maintainerr/helm-release.yml
Labels: relative/kubernetes

drop: calibre-web
  kubernetes/apps/calibre-web/flux-kustomization.yml
  kubernetes/apps/calibre-web/helm-release.yml
  kubernetes/apps/calibre-web/kustomization.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

fix(booklore): removed tmp dir
  kubernetes/apps/booklore/helm-release.yml
Labels: relative/kubernetes

feat: update booklore
  kubernetes/apps/booklore/helm-release.yml
Labels: relative/kubernetes

chore(booklore): update resources
  kubernetes/apps/booklore/helm-release.yml
Labels: relative/kubernetes

feat: add gmail-cleaner
  kubernetes/apps/gmail-cleaner/external-secret.yml
  kubernetes/apps/gmail-cleaner/flux-kustomization.yml
  kubernetes/apps/gmail-cleaner/helm-release.yml
  kubernetes/apps/gmail-cleaner/kustomization.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

chore(drop): gmail cleaner
  kubernetes/apps/gmail-cleaner/external-secret.yml
  kubernetes/apps/gmail-cleaner/flux-kustomization.yml
  kubernetes/apps/gmail-cleaner/helm-release.yml
  kubernetes/apps/gmail-cleaner/kustomization.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

feat(ansible): add dyrne secrets manager
  ansible/inventory/host_vars/mgmt-srv-01.yml
  ansible/roles/dyrne/defaults/main.yml
  ansible/roles/dyrne/handlers/main.yml
  ansible/roles/dyrne/tasks/main.yml
Labels: relative/ansible

chore(booklore): switch to public route
  kubernetes/apps/booklore/helm-release.yml
Labels: relative/kubernetes

feat(external-secrets): add generators
  kubernetes/core/external-secrets/generators.yml
  kubernetes/core/external-secrets/kustomization.yml
Labels: relative/kubernetes

feat(k8s): add mediamanager
  kubernetes/apps/mediamanager/config.toml
  kubernetes/apps/mediamanager/external-secret.yml
  kubernetes/apps/mediamanager/flux-kustomization.yml
  kubernetes/apps/mediamanager/helm-release.yml
  kubernetes/apps/mediamanager/kustomization.yml
Labels: relative/kubernetes

feat(k8s): add mediamanager
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

feat(k8s): add cluster generators instead
  kubernetes/core/external-secrets/generators.yml
Labels: relative/kubernetes

feat(mediamanager): finalize changes for hr
  kubernetes/apps/mediamanager/external-secret.yml
Labels: relative/kubernetes

fix(mediamanager): failed to add substition for crunchydata
  kubernetes/apps/mediamanager/flux-kustomization.yml
Labels: relative/kubernetes

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
