Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

fix ansible
  ansible/.envrc
  ansible/backups/swos/mk-sw-01.swb
  ansible/inventory/host_vars/mk-sw-01.yml
  ansible/inventory/static.yml
  ansible/poetry.lock
  ansible/poetry.toml
  ansible/pyproject.toml
  ansible/requirements.txt
  ansible/uv.lock
Labels: relative/ansible

add searxng to the mix
  kubernetes/apps/searxng/kustomization.yml
Labels: relative/kubernetes

fix(searxng): services borked
  kubernetes/apps/searxng/helm-release.yml
Labels: relative/kubernetes

feat(mikrotik): address based on name
  terraform/mikrotik/firewall.tf
Labels: relative/terraform

clean up
  terraform/mikrotik/firewall.tf
Labels: relative/terraform

add new leases
  terraform/mikrotik/leases.json
Labels: relative/terraform

fix(searxng): permissions
  kubernetes/apps/searxng/config.yml
  kubernetes/apps/searxng/external-secret.yml
  kubernetes/apps/searxng/helm-release.yml
  kubernetes/apps/searxng/kustomization.yml
Labels: relative/kubernetes

fix(searxng): remove tor-only engines via use_default_settings.engines.remove
  kubernetes/apps/searxng/config.yml
Labels: relative/kubernetes

switched to mikrotik for dns
  ansible/inventory/group_vars/dns_servers/main.yml
  ansible/inventory/host_vars/mgmt-srv-01.yml
  ansible/inventory/static.yml
  ansible/playbooks/setup_dns.yml
  ansible/roles/traefik/files/config.yml
  kubernetes/core/external-dns/flux-kustomization.yml
  kubernetes/core/external-dns/gravity/helm-release.yml
  kubernetes/core/external-dns/kustomization.yml
  kubernetes/core/external-dns/mikrotik/external-secret.yml
  kubernetes/core/external-dns/mikrotik/helm-release.yml
  kubernetes/core/external-dns/mikrotik/kustomization.yml
  openshift/sno/agent-config.yml
  terraform/gravity/backend.tf
  terraform/gravity/dns.tf
  terraform/gravity/providers.tf
  terraform/gravity/records.json
  terraform/gravity/variables.tf
  terraform/mikrotik/dns.tf
  terraform/mikrotik/dns_records.json
  terraform/mikrotik/firewall.tf
  terraform/mikrotik/services.tf
  terraform/mikrotik/variables.tf
Labels: relative/kubernetes, relative/terraform, relative/ansible

small fixes
  kubernetes/core/external-dns/mikrotik/helm-release.yml
  openshift/sno/README.md
  terraform/mikrotik/firewall.tf
Labels: relative/kubernetes, relative/terraform

small fixes
  kubernetes/apps/searxng/helm-release.yml
Labels: relative/kubernetes

fix traefik stuff
  ansible/backups/swos/mk-sw-01.swb
  ansible/inventory/host_vars/mgmt-srv-01.yml
  ansible/roles/traefik/files/config.yml
Labels: relative/ansible

fix vlans
  terraform/mikrotik/interfaces.tf
Labels: relative/terraform

fix(jellyfin): cleaned up yaml mess
  kubernetes/apps/jellyfin/helm-release.yml
Labels: relative/kubernetes

fix(monitoring): willfully ignoring this for now
  kubernetes/core/blackbox-exporter/probes.yml
  kubernetes/core/prometheus/helm-release.yml
Labels: relative/kubernetes

fix(karakeep): meilisearch had outdated flags
  kubernetes/apps/karakeep/helm-release.yml
Labels: relative/kubernetes

remove autobrr
  kubernetes/apps/autobrr/external-secret.yml
  kubernetes/apps/autobrr/flux-kustomization.yml
  kubernetes/apps/autobrr/helm-release.yml
  kubernetes/apps/autobrr/kustomization.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

remove unused apps
  kubernetes/apps/kustomization.yml
  kubernetes/apps/mediamanager/config.toml
  kubernetes/apps/mediamanager/entrypoint.sh
  kubernetes/apps/mediamanager/external-secret.yml
  kubernetes/apps/mediamanager/flux-kustomization.yml
  kubernetes/apps/mediamanager/helm-release.yml
  kubernetes/apps/mediamanager/kustomization.yml
  kubernetes/apps/rmfakecloud/external-secret.yml
  kubernetes/apps/rmfakecloud/flux-kustomization.yml
  kubernetes/apps/rmfakecloud/helm-release.yml
  kubernetes/apps/rmfakecloud/kustomization.yml
  kubernetes/apps/suggestarr/flux-kustomization.yml
  kubernetes/apps/suggestarr/helm-release.yml
  kubernetes/apps/suggestarr/kustomization.yml
  kubernetes/apps/tautulli/flux-kustomization.yml
  kubernetes/apps/tautulli/helm-release.yml
  kubernetes/apps/tautulli/kustomization.yml
Labels: relative/kubernetes

feat(dawarich): add redis backend and enable deployment
  kubernetes/apps/dawarich/helm-release.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

feat(dawarich): add redis backend and enable deployment
  kubernetes/apps/dawarich/helm-release.yml
Labels: relative/kubernetes

fix(dawarich): explicit route backend + service key for multi-service
  kubernetes/apps/dawarich/helm-release.yml
Labels: relative/kubernetes

fix(dawarich): stop cpgo meta-patch clobbering the PostGIS image patch
  kubernetes/apps/dawarich/flux-kustomization.yml
Labels: relative/kubernetes

fix(dawarich): pass X-Forwarded-Proto in health probes
  kubernetes/apps/dawarich/helm-release.yml
Labels: relative/kubernetes

fix(your-spotify): drop rollingUpdate from mongodb statefulset
  kubernetes/apps/your-spotify/helm-release.yml
Labels: relative/kubernetes

made changes to mikrotik leases and interfaces
  terraform/mikrotik/firewall.tf
  terraform/mikrotik/leases.json
Labels: relative/terraform

fix(rook-ceph): removed noise from ceph packet drop
  kubernetes/core/rook-ceph/cluster/helm-release.yml
Labels: relative/kubernetes

feat(jellyfin): bump release
  kubernetes/apps/jellyfin/helm-release.yml
Labels: relative/kubernetes

feat(audiobookshelf): deploy audiobookshelf
  kubernetes/apps/audiobookshelf/flux-kustomization.yml
  kubernetes/apps/audiobookshelf/helm-release.yml
  kubernetes/apps/audiobookshelf/kustomization.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

feat(audiobookshelf): enable startup probe
  kubernetes/apps/audiobookshelf/helm-release.yml
Labels: relative/kubernetes

feat(audiobookshelf): expose on the public gateway
  kubernetes/apps/audiobookshelf/helm-release.yml
Labels: relative/kubernetes

fix(shelfmark): repair bypasser scratch dirs and ingest path
  kubernetes/apps/shelfmark/helm-release.yml
Labels: relative/kubernetes

feat(envoy-gateway): remove redirect rule from external-dns
  kubernetes/core/envoy-gateway/redirect-route.yml
Labels: relative/kubernetes

fix(flux): point bjw-s-labs helm repository at OCI
  kubernetes/flux/sources/bjw-s-labs.yml
Labels: relative/kubernetes

fix(flaresolver): increase mem
  kubernetes/apps/flaresolverr/helm-release.yml
Labels: relative/kubernetes
