Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

feat(gravity): removed unnecessary entries
  ansible/inventory/group_vars/dns_servers/main.yml
  ansible/inventory/host_vars/mgmt-srv-01.yml
Labels: relative/ansible

fix(gravity): removed state on root zone
  terraform/gravity/dns.tf
Labels: relative/terraform

chore(rook-ceph): use helm templating to get ns
  kubernetes/core/rook-ceph/cluster/helm-release.yml
Labels: relative/kubernetes

add teslamate
  kubernetes/apps/kustomization.yml
  kubernetes/apps/teslamate/external-secret.yml
  kubernetes/apps/teslamate/flux-kustomization.yml
  kubernetes/apps/teslamate/helm-release.yml
  kubernetes/apps/teslamate/kustomization.yml
Labels: relative/kubernetes

fix(teslamate): secret name
  kubernetes/apps/teslamate/external-secret.yml
Labels: relative/kubernetes

fix(teslamate): remove datasource from pg to init
  kubernetes/apps/teslamate/flux-kustomization.yml
Labels: relative/kubernetes

fix(teslamate): wrong key for user secret
  kubernetes/apps/teslamate/helm-release.yml
Labels: relative/kubernetes

add flux receiver
  kubernetes/core/flux-instance/http-route.yml
  kubernetes/core/flux-instance/kustomization.yml
Labels: relative/kubernetes

feat(teslamate): add mqtt
  kubernetes/apps/teslamate/flux-kustomization.yml
  kubernetes/apps/teslamate/helm-release.yml
Labels: relative/kubernetes

fix(teslamate): use higher pg version
  kubernetes/apps/teslamate/flux-kustomization.yml
Labels: relative/kubernetes

fix(teslamate): use higher pg version
  kubernetes/apps/teslamate/flux-kustomization.yml
Labels: relative/kubernetes

fix(traefik): certResolver functionality
  ansible/inventory/host_vars/mgmt-srv-01.yml
  ansible/roles/traefik/defaults/main.yml
  ansible/roles/traefik/files/config.yml
  ansible/roles/traefik/files/traefik.yml
Labels: relative/ansible

misc
  ansible/roles/monitoring/defaults/main.yml
  ansible/roles/traefik/defaults/main.yml
  packer/.envrc
  packer/boot_config/2022/Autounattend.xml
  packer/boot_config/22H2-W11/Autounattend.xml
  packer/files/debian12-k3s.pkrtpl.hcl
  packer/files/debian12.pkrtpl.hcl
  packer/files/drivers/metadata.txt
  packer/files/drivers/netkvm.cat
  packer/files/drivers/netkvm.inf
  packer/files/drivers/netkvm.sys
  packer/files/drivers/pvscsi.cat
  packer/files/drivers/pvscsi.inf
  packer/files/drivers/pvscsi.sys
  packer/files/drivers/txtsetup.oem
  packer/files/drivers/vioscsi.cat
  packer/files/drivers/vioscsi.inf
  packer/files/drivers/vioscsi.sys
  packer/files/drivers/viostor.cat
  packer/files/drivers/viostor.inf
  packer/files/drivers/viostor.sys
  packer/files/drivers/vmxnet3.cat
  packer/files/drivers/vmxnet3.inf
  packer/files/drivers/vmxnet3.sys
  packer/linux/11Deb.pkrvars.hcl
  packer/linux/12Deb.pkrvars.hcl
  packer/linux/k3s-deb12.pkrvars.hcl
  packer/scripts/Install-VMWareTools.ps1
  packer/variables.pkr.hcl
  packer/vsphere.pkr.hcl
  packer/windows-2022-proxmox.pkr.hcl
  packer/windows/2022.pkrvars.hcl
  terraform/opnsense/leases.json
  terraform/proxmox/directory.tf
  terraform/proxmox/snippets.tf
Labels: relative/terraform, relative/ansible, relative/packer

chore(teslamate): add mqtt creds
  kubernetes/apps/teslamate/external-secret.yml
  kubernetes/apps/teslamate/helm-release.yml
Labels: relative/kubernetes

chore(teslamate): use ssl for database connection
  kubernetes/apps/teslamate/flux-kustomization.yml
  kubernetes/apps/teslamate/helm-release.yml
Labels: relative/kubernetes

feat(teslamate): add svc type lb to postgres db
  kubernetes/apps/teslamate/flux-kustomization.yml
  kubernetes/apps/teslamate/helm-release.yml
Labels: relative/kubernetes

fix(teslamate): allow connection from grafana
  kubernetes/apps/teslamate/flux-kustomization.yml
Labels: relative/kubernetes

Revert "fix(teslamate): allow connection from grafana"
  kubernetes/apps/teslamate/flux-kustomization.yml
Labels: relative/kubernetes

configure dasbboards and settings through grafana operator
  kubernetes/core/grafana-operator/dashboards.yml
  kubernetes/core/grafana-operator/objects.yml
  kubernetes/core/grafana-operator/settings.yml
Labels: relative/kubernetes

feat(grafana-operator): use eso to get teslamate pg secrets into another ns
  kubernetes/core/grafana-operator/eso-ns-reader.yml
  kubernetes/core/grafana-operator/external-secret.yml
  kubernetes/core/grafana-operator/kustomization.yml
Labels: relative/kubernetes

chore(grafana-operator): add grafana objects with kustomize instead
  kubernetes/core/grafana-operator/helm-release.yml
  kubernetes/core/grafana-operator/kustomization.yml
  kubernetes/core/grafana-operator/objects.yml
Labels: relative/kubernetes

fix(ansible): add monitoring containers to traefik network
  ansible/roles/monitoring/defaults/main.yml
Labels: relative/ansible

fix(traefik): set proper entrypoint
  ansible/roles/traefik/files/traefik.yml
Labels: relative/ansible

fix(ansible): touch acme if not present
  ansible/roles/traefik/files/acme.json
  ansible/roles/traefik/tasks/main.yml
Labels: relative/ansible

changed misc dashboard settings
  kubernetes/core/grafana-operator/dashboards.yml
  kubernetes/core/grafana-operator/settings.yml
Labels: relative/kubernetes

chore(teslamate): up pg db storage size
  kubernetes/apps/teslamate/flux-kustomization.yml
Labels: relative/kubernetes

fix(grafana-operator): remove duplicate yaml
  kubernetes/core/grafana-operator/external-secret.yml
Labels: relative/kubernetes

fix(grafana-operator): schema errors for dashboards
  kubernetes/core/grafana-operator/dashboards.yml
Labels: relative/kubernetes

fix(external-dns): dependency order for kustomize files
  kubernetes/core/external-dns/builtin/kustomization.yml
  kubernetes/core/external-dns/cloudflare/helm-release.yml
  kubernetes/core/external-dns/cloudflare/kustomization.yml
  kubernetes/core/external-dns/external-secret.yml
  kubernetes/core/external-dns/flux-kustomization.yml
  kubernetes/core/external-dns/gravity/external-secret.yml
  kubernetes/core/external-dns/gravity/helm-release.yml
  kubernetes/core/external-dns/gravity/kustomization.yml
  kubernetes/core/external-dns/kustomization.yml
Labels: relative/kubernetes

fix race condition
  kubernetes/core/external-dns/kustomization.yml
  kubernetes/core/external-secrets/cloudflare-account-es.yml
  kubernetes/core/external-secrets/kustomization.yml
Labels: relative/kubernetes

Revert "fix race condition"
  kubernetes/core/external-dns/external-secret.yml
  kubernetes/core/external-dns/kustomization.yml
  kubernetes/core/external-secrets/kustomization.yml
Labels: relative/kubernetes

fix(teslamate): add substitute secret
  kubernetes/apps/teslamate/flux-kustomization.yml
Labels: relative/kubernetes

add teslamateapi
  kubernetes/apps/kustomization.yml
  kubernetes/apps/teslamateapi/flux-kustomization.yml
  kubernetes/apps/teslamateapi/helm-release.yml
  kubernetes/apps/teslamateapi/kustomization.yml
Labels: relative/kubernetes

fix(teslamateapi): use alpine user ID instead
  kubernetes/apps/teslamateapi/helm-release.yml
Labels: relative/kubernetes

chore: dropped teslamateapi until PR is merged
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

add dns record
  terraform/gravity/dns.tf
  terraform/gravity/records.json
Labels: relative/terraform

fix(ansible): set proper protocol
  ansible/roles/traefik/files/traefik.yml
Labels: relative/ansible

fix(renovate): doesn't support regex for ignorePaths
  renovate.json5
Labels: none

add additional path
  renovate.json5
Labels: none

no longer managing monitoring stack from terraform
  terraform/monitoring/alerts.tf
  terraform/monitoring/backend.tf
  terraform/monitoring/dashboards.tf
  terraform/monitoring/data.tf
  terraform/monitoring/files/dashboards/apex-legends-exporter.json
  terraform/monitoring/files/dashboards/kubernetes-api-server.json
  terraform/monitoring/files/dashboards/kubernetes-ceph-cluster.json
  terraform/monitoring/files/dashboards/kubernetes-ceph-usage.json
  terraform/monitoring/files/dashboards/kubernetes-global.json
  terraform/monitoring/files/dashboards/kubernetes-longhorn.json
  terraform/monitoring/files/dashboards/kubernetes-namespaces.json
  terraform/monitoring/files/dashboards/kubernetes-nodes.json
  terraform/monitoring/files/dashboards/kubernetes-pods.json
  terraform/monitoring/files/dashboards/kubernetes-prometheus.json
  terraform/monitoring/files/dashboards/opnsense-docker-exporter.json
  terraform/monitoring/files/slack_body.tmpl
  terraform/monitoring/files/slack_title.tmpl
  terraform/monitoring/main.tf
  terraform/monitoring/providers.tf
Labels: relative/terraform

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
