Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

feat(servarr-scripts): add initial files
  kubernetes/apps/servarr-scripts/cron-job.yml
  kubernetes/apps/servarr-scripts/external-secret.yml
  kubernetes/apps/servarr-scripts/flux-kustomization.yml
  kubernetes/apps/servarr-scripts/kustomization.yml
  kubernetes/apps/servarr-scripts/scripts/radarr-hunter.sh
Labels: relative/kubernetes

feat(headlamp): add cert-manager plugin
  kubernetes/apps/headlamp/helm-release.yml
Labels: relative/kubernetes

switched to imageVolumes
  kubernetes/apps/headlamp/helm-release.yml
  kubernetes/hacks/debug-pod.yml
Labels: relative/kubernetes

set twingate to hostnetwork
  kubernetes/apps/twingate-connector/helm-release.yml
Labels: relative/kubernetes

fix(scanservjs): update paperless envs
  ansible/inventory/host_vars/mgmt-srv-01.yml
Labels: relative/ansible

testing gateway
  kubernetes/core/gateway-api/resources/gateway-class.yml
  kubernetes/core/gateway-api/resources/http-route.yml
  kubernetes/core/gateway-api/resources/private-class.yml
  kubernetes/core/gateway-api/resources/test-pod.yml
Labels: relative/kubernetes

add immich
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

fix(immich): redis host
  kubernetes/apps/immich/helm-release.yml
Labels: relative/kubernetes

fix(immich): use pg version that still supports vectors
  kubernetes/apps/immich/flux-kustomization.yml
Labels: relative/kubernetes

fix(immich): let immich do whatever it wants
  kubernetes/apps/immich/database-init-cm.sql
  kubernetes/apps/immich/flux-kustomization.yml
  kubernetes/apps/immich/kustomization.yml
Labels: relative/kubernetes

fix(immich): let immich do whatever it wants
  kubernetes/apps/immich/database-init-cm.sql
  kubernetes/apps/immich/flux-kustomization.yml
  kubernetes/apps/immich/kustomization.yml
Labels: relative/kubernetes

use another image
  kubernetes/apps/immich/flux-kustomization.yml
Labels: relative/kubernetes

fix(immich): allow undeclared keys in dragonfly redis
  kubernetes/apps/immich/flux-kustomization.yml
Labels: relative/kubernetes

feat(immich): hardcoded config into chart
  kubernetes/apps/immich/helm-release.yml
Labels: relative/kubernetes

feat(immich): add gpu support
  kubernetes/apps/immich/helm-release.yml
Labels: relative/kubernetes

feat(immich): enable icq
  kubernetes/apps/immich/helm-release.yml
Labels: relative/kubernetes

fmt
  kubernetes/apps/headlamp/helm-release.yml
  kubernetes/apps/immich/helm-release.yml
  kubernetes/core/gateway-api/resources/http-route.yml
  kubernetes/hacks/debug-pod.yml
  kubernetes/talos/talconfig.yml
  kubernetes/talos/talsecret.sops.yml
Labels: relative/kubernetes, area/talos

fmt
  kubernetes/apps/immich/helm-release.yml
Labels: relative/kubernetes

fmt
  .pre-commit-config.yaml
  kubernetes/apps/immich/helm-release.yml
Labels: relative/kubernetes

dropped unused vscode settings
  .vscode/settings.json
Labels: none

chore(headlamp): use sha instead as migrations are happening
  kubernetes/apps/headlamp/helm-release.yml
Labels: relative/kubernetes

fix(headlamp): mount point
  kubernetes/apps/headlamp/helm-release.yml
Labels: relative/kubernetes

copy everything
  kubernetes/apps/headlamp/helm-release.yml
Labels: relative/kubernetes

add trivy-operator
  kubernetes/core/kustomization.yml
  kubernetes/core/trivy-operator/flux-kustomization.yml
  kubernetes/core/trivy-operator/helm-release.yml
  kubernetes/core/trivy-operator/kustomization.yml
  kubernetes/infra/sources/helm-repos/aqua-security.yml
  kubernetes/infra/sources/helm-repos/kustomization.yml
Labels: relative/kubernetes

fmt
  kubernetes/core/trivy-operator/helm-release.yml
Labels: relative/kubernetes

fix ns for trivy
  kubernetes/core/trivy-operator/flux-kustomization.yml
Labels: relative/kubernetes

fix(trivy-operator): exclude read only mounts -- talos
  kubernetes/core/trivy-operator/helm-release.yml
Labels: relative/kubernetes

fmt
  kubernetes/core/trivy-operator/helm-release.yml
Labels: relative/kubernetes

removed more fs from trivy host path
  kubernetes/core/trivy-operator/helm-release.yml
Labels: relative/kubernetes

revamped headlamp
  kubernetes/apps/headlamp/helm-release.yml
Labels: relative/kubernetes

fix(headlamp): initContainer to install cert-manager plugin
  kubernetes/apps/headlamp/helm-release.yml
Labels: relative/kubernetes

feat(headlamp): use config file for plugins instead
  kubernetes/apps/headlamp/config.yml
  kubernetes/apps/headlamp/helm-release.yml
  kubernetes/apps/headlamp/kustomization.yml
Labels: relative/kubernetes

testing
  kubernetes/apps/headlamp/config.yml
  kubernetes/apps/headlamp/helm-release.yml
  kubernetes/apps/headlamp/kustomization.yml
Labels: relative/kubernetes

chore: update schema url
  kubernetes/apps/headlamp/helm-release.yml
  kubernetes/apps/obico/helm-release.yml
Labels: relative/kubernetes

fix(crunchydata-pgo): backup schedule
  kubernetes/core/crunchydata-pgo/components/cluster.yml
Labels: relative/kubernetes

feat(immich): add more volumes
  kubernetes/apps/immich/helm-release.yml
  kubernetes/apps/immich/storage.yml
Labels: relative/kubernetes

fix(immich): add volumes as well
  kubernetes/apps/immich/storage.yml
Labels: relative/kubernetes

chore(opnsense): move dns to root module
  terraform/opnsense/data.tf
  terraform/opnsense/dns/external_svc.json
  terraform/opnsense/dns/infra_dns.json
  terraform/opnsense/dns/kubernetes_dns.json
Labels: relative/terraform

feat(authentik): add semaphore oidc again
  terraform/authentik/applications.tf
Labels: relative/terraform

feat(prowlarr): increase pvc size
  kubernetes/apps/prowlarr/helm-release.yml
Labels: relative/kubernetes

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
