Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

fix(cilium): value expects a string not bool
  kubernetes/core/cilium/values.yml
Labels: relative/kubernetes

test(bazarr): implementing gatewayapi httproute
  kubernetes/apps/bazarr/helm-release.yml
Labels: relative/kubernetes

testing(external-dns): using httproute as a selector
  kubernetes/apps/bazarr/flux-kustomization.yml
  kubernetes/core/external-dns/webhooks/opnsense/helm-release.yml
Labels: relative/kubernetes

testing(external-dns): redo opnsense unbound webhook
  kubernetes/core/external-dns/webhooks/opnsense/external-secret.yml
  kubernetes/core/external-dns/webhooks/opnsense/helm-release.yml
Labels: relative/kubernetes

fix(external-dns): update unbound host
  kubernetes/core/external-dns/webhooks/opnsense/helm-release.yml
Labels: relative/kubernetes

testing(external-dns/gravity): my friendship has ended with unbound
  kubernetes/core/external-dns/webhooks/gravity/external-secret.yml
  kubernetes/core/external-dns/webhooks/gravity/helm-release.yml
  kubernetes/core/external-dns/webhooks/gravity/kustomization.yml
  kubernetes/core/external-dns/webhooks/kustomization.yml
Labels: relative/kubernetes

removed useless comments
  kubernetes/core/external-dns/webhooks/gravity/external-secret.yml
  terraform/aws/providers.tf
  terraform/cloudflare/providers.tf
  terraform/unifi/providers.tf
Labels: relative/kubernetes, relative/terraform

removed useless comments
  kubernetes/core/external-dns/webhooks/gravity/external-secret.yml
  terraform/aws/providers.tf
  terraform/cloudflare/providers.tf
  terraform/unifi/providers.tf
Labels: relative/kubernetes, relative/terraform

removed useless comments
  kubernetes/core/external-dns/webhooks/gravity/external-secret.yml
  kubernetes/core/external-dns/webhooks/gravity/helm-release.yml
  terraform/aws/providers.tf
  terraform/cloudflare/providers.tf
  terraform/unifi/providers.tf
Labels: relative/kubernetes, relative/terraform

changed the name of the helm releases
  kubernetes/core/external-dns/builtin/cloudflare/helm-release.yml
  kubernetes/core/external-dns/webhooks/gravity/helm-release.yml
Labels: relative/kubernetes

fix(gravity-external-dns): set securitycontext
  kubernetes/core/external-dns/webhooks/gravity/helm-release.yml
Labels: relative/kubernetes

feat(ansible): add external dns
  ansible/inventory/host_vars/mgmt-srv-01.yml
Labels: relative/ansible

chore(servarr): update services dns
  terraform/servarr/prowlarr.tf
  terraform/servarr/radarr.tf
  terraform/servarr/sonarr.tf
Labels: relative/terraform

feat(terraform): init gravity
  terraform/gravity/backend.tf
  terraform/gravity/main.tf
  terraform/gravity/providers.tf
  terraform/gravity/variables.tf
Labels: relative/terraform

fix(gravity-external-dns): adjust securityContext
  kubernetes/core/external-dns/webhooks/gravity/helm-release.yml
Labels: relative/kubernetes

chore(gravity-external-dns): remove probes (temp)
  kubernetes/core/external-dns/webhooks/gravity/helm-release.yml
Labels: relative/kubernetes

fix(gravity-external-dns): sync currently not working
  kubernetes/core/external-dns/webhooks/gravity/helm-release.yml
Labels: relative/kubernetes

testing(gateway-api): using httproute for some apps
  kubernetes/apps/bazarr/helm-release.yml
  kubernetes/apps/maintainerr/flux-kustomization.yml
  kubernetes/apps/maintainerr/helm-release.yml
  kubernetes/apps/paperless-ngx/flux-kustomization.yml
  kubernetes/apps/paperless-ngx/helm-release.yml
  kubernetes/apps/plex-auto-languages/helm-release.yml
  kubernetes/apps/plex/helm-release.yml
  kubernetes/apps/prowlarr/flux-kustomization.yml
  kubernetes/apps/prowlarr/helm-release.yml
  kubernetes/apps/qbittorrent/flux-kustomization.yml
  kubernetes/apps/qbittorrent/helm-release.yml
  kubernetes/apps/radarr/flux-kustomization.yml
  kubernetes/apps/radarr/helm-release.yml
  kubernetes/apps/sabnzbd/flux-kustomization.yml
  kubernetes/apps/sabnzbd/helm-release.yml
  kubernetes/apps/sonarr/flux-kustomization.yml
  kubernetes/apps/sonarr/helm-release.yml
  kubernetes/apps/tautulli/flux-kustomization.yml
  kubernetes/apps/tautulli/helm-release.yml
Labels: relative/kubernetes

finalize gravity records
  terraform/gravity/main.tf
Labels: relative/terraform

feat(proxmox): update imaged
  terraform/proxmox/images.tf
Labels: relative/terraform

feat(gateway-api): switch from external-names to httproutes
  kubernetes/core/gateway-api/external-http-routes/grafana.yml
  kubernetes/core/gateway-api/external-http-routes/home-assistant.yml
  kubernetes/core/gateway-api/external-http-routes/kustomization.yml
  kubernetes/core/gateway-api/external-http-routes/ollama.yml
  kubernetes/core/gateway-api/external-http-routes/prometheus.yml
  kubernetes/core/gateway-api/external-http-routes/proxmox.yml
  kubernetes/core/gateway-api/external-http-routes/scanservjs.yml
  kubernetes/core/gateway-api/external-http-routes/synology.yml
  kubernetes/core/gateway-api/kustomization.yml
  kubernetes/core/gateway-api/test-http-route.yml
  kubernetes/core/nginx-ext-ingress/external-names/home-assistant.yml
  kubernetes/core/nginx-int-ingress/external-names/grafana.yml
  kubernetes/core/nginx-int-ingress/external-names/kustomization.yml
  kubernetes/core/nginx-int-ingress/external-names/ollama.yml
  kubernetes/core/nginx-int-ingress/external-names/prometheus.yml
  kubernetes/core/nginx-int-ingress/external-names/proxmox.yml
  kubernetes/core/nginx-int-ingress/external-names/scanservjs.yml
  kubernetes/core/nginx-int-ingress/external-names/semaphore.yml
  kubernetes/core/nginx-int-ingress/external-names/synology.yml
Labels: relative/kubernetes

feat(gravity): add tf dns record for gateways
  kubernetes/core/gateway-api/external-http-routes/scanservjs.yml
  terraform/gravity/main.tf
Labels: relative/kubernetes, relative/terraform

feat(gateway-api): move over all remaining resources to httproutes from ingress
  kubernetes/apps/authentik/helm-release.yml
  kubernetes/apps/bazarr/helm-release.yml
  kubernetes/apps/diff2rss/helm-release.yml
  kubernetes/apps/discovarr/helm-release.yml
  kubernetes/apps/headlamp/helm-release.yml
  kubernetes/apps/headlamp/http-route.yml
  kubernetes/apps/headlamp/kustomization.yml
  kubernetes/apps/immich/helm-release.yml
  kubernetes/apps/jellyseerr/helm-release.yml
  kubernetes/apps/karakeep/helm-release.yml
  kubernetes/apps/maintainerr/helm-release.yml
  kubernetes/apps/miniflux/helm-release.yml
  kubernetes/apps/obico/helm-release.yml
  kubernetes/apps/obico/http-route.yml
  kubernetes/apps/obico/kustomization.yml
  kubernetes/apps/paperless-ngx/helm-release.yml
  kubernetes/apps/prowlarr/helm-release.yml
  kubernetes/apps/qbittorrent/helm-release.yml
  kubernetes/apps/radarr/helm-release.yml
  kubernetes/apps/sabnzbd/helm-release.yml
  kubernetes/apps/sonarr/helm-release.yml
  kubernetes/apps/tautulli/helm-release.yml
  kubernetes/apps/unifi-controller/helm-release.yml
  kubernetes/apps/unifi-controller/kustomization.yml
  kubernetes/apps/winxuu/helm-release.yml
  kubernetes/apps/your-spotify/helm-release.yml
  kubernetes/core/cilium/http-route.yml
  kubernetes/core/cilium/kustomization.yml
  kubernetes/core/cilium/values.yml
  kubernetes/core/external-dns/builtin/cloudflare/helm-release.yml
  kubernetes/core/flux-operator/mcp.yml
  kubernetes/core/gateway-api/external-http-routes/kustomization.yml
  kubernetes/core/gateway-api/external-http-routes/proxmox.yml
  kubernetes/core/kromgo/helm-release.yml
  kubernetes/core/kustomization.yml
  kubernetes/core/prometheus/helm-release.yml
  kubernetes/core/rook-ceph/cluster/helm-release.yml
  kubernetes/core/rook-ceph/cluster/http-route.yml
  kubernetes/core/rook-ceph/cluster/kustomization.yml
  kubernetes/core/rook-ceph/flux-kustomization.yml
Labels: relative/kubernetes

drop(k8s): ingress controllers
  kubernetes/core/nginx-ext-ingress/flux-kustomization.yml
  kubernetes/core/nginx-ext-ingress/helm-release.yml
  kubernetes/core/nginx-ext-ingress/kustomization.yml
  kubernetes/core/nginx-int-ingress/flux-kustomization.yml
  kubernetes/core/nginx-int-ingress/helm-release.yml
  kubernetes/core/nginx-int-ingress/kustomization.yml
  kubernetes/core/nginx-int-ingress/source.yml
Labels: relative/kubernetes

chore(cloudflare-external-dns): change logFormat to json
  kubernetes/core/external-dns/builtin/cloudflare/helm-release.yml
Labels: relative/kubernetes

chore(cloudflare-external-dns): supply zone id as a flux substitute
  kubernetes/core/external-dns/builtin/cloudflare/external-secret.yml
  kubernetes/core/external-dns/builtin/cloudflare/helm-release.yml
  kubernetes/core/external-dns/flux-kustomization.yml
Labels: relative/kubernetes

fix(gateway-api): changed gateway ipv4 addresses
  kubernetes/core/gateway-api/private-class.yml
  kubernetes/core/gateway-api/public-class.yml
Labels: relative/kubernetes

chore(gravity): set gateway dns records to the correct ipv4
  terraform/gravity/main.tf
Labels: relative/terraform

fix(gravity-external-dns): set gateway
  kubernetes/core/external-dns/webhooks/gravity/helm-release.yml
Labels: relative/kubernetes

chore(gateway-api): add proper annotations
  kubernetes/core/gateway-api/private-class.yml
  kubernetes/core/gateway-api/public-class.yml
Labels: relative/kubernetes

fix(external-dns): remove all unused dnsenpoints
  kubernetes/apps/anirra/flux-kustomization.yml
  kubernetes/apps/discovarr/flux-kustomization.yml
  kubernetes/apps/headlamp/flux-kustomization.yml
  kubernetes/apps/kestra/flux-kustomization.yml
  kubernetes/apps/paperless-gpt/flux-kustomization.yml
  kubernetes/apps/pulsarr/flux-kustomization.yml
  kubernetes/apps/unifi-controller/flux-kustomization.yml
Labels: relative/kubernetes

missed some dnsenpoints
  kubernetes/core/cilium/flux-kustomization.yml
  kubernetes/core/prometheus/flux-kustomization.yml
Labels: relative/kubernetes

feat(headlamp): add keda plugin
  kubernetes/apps/headlamp/helm-release.yml
Labels: relative/kubernetes

chore(flux-operator-mcp): set ns for objects
  kubernetes/core/flux-operator/mcp.yml
Labels: relative/kubernetes

chore(flux-instance): remove ingress in favor of httproutes
  kubernetes/core/flux-instance/ingress-flux-webhook.yml
Labels: relative/kubernetes

feat(gravity): add DHCP configuration and update variables
  terraform/gravity/dhcp.tf
  terraform/gravity/variables.tf
Labels: relative/terraform

chore(gravity): separate files
  terraform/gravity/dns.tf
Labels: relative/terraform

chore(flux-instance): remove ingress in favor of httproutes
  kubernetes/core/flux-instance/kustomization.yml
Labels: relative/kubernetes

fix(unifi-controller): update service for mongodb connection
  kubernetes/apps/unifi-controller/helm-release.yml
Labels: relative/kubernetes

fix(unifi-controller): set pvc for mongodb instead
  kubernetes/apps/unifi-controller/flux-kustomization.yml
  kubernetes/apps/unifi-controller/helm-release.yml
Labels: relative/kubernetes
