Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

chore(grafana-operator): add datasource for rpi prom
  kubernetes/core/grafana-operator/external-secret.yml
  kubernetes/core/grafana-operator/settings.yml
Labels: relative/kubernetes

fix(rook-ceph): add labels to csi
  kubernetes/core/rook-ceph/cluster/helm-release.yml
Labels: relative/kubernetes

fix(exportarr): metrics URL
  kubernetes/apps/bazarr/helm-release.yml
  kubernetes/apps/prowlarr/helm-release.yml
  kubernetes/apps/radarr/helm-release.yml
  kubernetes/apps/sabnzbd/helm-release.yml
  kubernetes/apps/sonarr/helm-release.yml
Labels: relative/kubernetes

fix(grafana-operator): injection method secureJsonData was incorrect
  kubernetes/core/grafana-operator/settings.yml
Labels: relative/kubernetes

feat(grafana-operator): add apex-legends dashboard
  kubernetes/core/grafana-operator/dashboards.yml
Labels: relative/kubernetes

Revert "Merge pull request #2152 from chkpwd/renovate/rook-ceph-1.x"
  .github/workflows/ansible-requirements.yml
  ansible/inventory/host_vars/ct-01-ec2.yml
  ansible/inventory/host_vars/mgmt-srv-01.yml
  ansible/requirements.yml
  ansible/roles/semaphore/defaults/main.yml
  kubernetes/apps/headlamp/helm-release.yml
  kubernetes/apps/karakeep/helm-release.yml
  kubernetes/apps/kestra/helm-release.yml
  kubernetes/apps/radarr/helm-release.yml
  kubernetes/apps/tautulli/helm-release.yml
  kubernetes/apps/teslamate/helm-release.yml
  kubernetes/apps/teslamateapi/helm-release.yml
  kubernetes/apps/unifi-controller/helm-release.yml
  kubernetes/core/blackbox-exporter/source.yml
  kubernetes/core/cilium/helm-release.yml
  kubernetes/core/coredns/helm-release.yml
  kubernetes/core/dragonfly-operator/components/cluster.yml
  kubernetes/core/external-secrets/helm-release.yml
  kubernetes/core/external-secrets/values.yml
  kubernetes/core/grafana-operator/source.yml
  kubernetes/core/kromgo/helm-release.yml
  kubernetes/hacks/helmfile.yml
  kubernetes/poetry.lock
  terraform/cloudflare/providers.tf
Labels: relative/github, relative/kubernetes, relative/terraform, relative/ansible

Reapply "Merge pull request #2152 from chkpwd/renovate/rook-ceph-1.x"
  .github/workflows/ansible-requirements.yml
  ansible/inventory/host_vars/ct-01-ec2.yml
  ansible/inventory/host_vars/mgmt-srv-01.yml
  ansible/requirements.yml
  ansible/roles/semaphore/defaults/main.yml
  kubernetes/apps/headlamp/helm-release.yml
  kubernetes/apps/karakeep/helm-release.yml
  kubernetes/apps/kestra/helm-release.yml
  kubernetes/apps/radarr/helm-release.yml
  kubernetes/apps/tautulli/helm-release.yml
  kubernetes/apps/teslamate/helm-release.yml
  kubernetes/apps/teslamateapi/helm-release.yml
  kubernetes/apps/unifi-controller/helm-release.yml
  kubernetes/core/blackbox-exporter/source.yml
  kubernetes/core/cilium/helm-release.yml
  kubernetes/core/coredns/helm-release.yml
  kubernetes/core/dragonfly-operator/components/cluster.yml
  kubernetes/core/external-secrets/helm-release.yml
  kubernetes/core/external-secrets/values.yml
  kubernetes/core/grafana-operator/source.yml
  kubernetes/core/kromgo/helm-release.yml
  kubernetes/hacks/helmfile.yml
  kubernetes/poetry.lock
  terraform/cloudflare/providers.tf
Labels: relative/github, relative/kubernetes, relative/terraform, relative/ansible

revert: rook-ceph no happy
  kubernetes/core/rook-ceph/cluster/helm-release.yml
  kubernetes/core/rook-ceph/helm-release.yml
Labels: relative/kubernetes

Update groups.json5
  .renovate/groups.json5
Labels: relative/renovate

testing
  kubernetes/core/grafana-operator/settings.yml
  kubernetes/talos/talconfig.yml
Labels: relative/kubernetes, area/talos

feat(gateway-api): proxy hass through k8s
  kubernetes/core/gateway-api/hass-proxy.yml
  kubernetes/core/gateway-api/kustomization.yml
Labels: relative/kubernetes

feat(prometheus): add alert-manager
  kubernetes/core/prometheus/alert-manager-config.yml
  kubernetes/core/prometheus/external-secret.yml
  kubernetes/core/prometheus/helm-release.yml
  kubernetes/core/prometheus/kustomization.yml
Labels: relative/kubernetes

testing(ksp): add def dashboards
  kubernetes/core/prometheus/helm-release.yml
Labels: relative/kubernetes

fix(ansible): redo traefik setup
  ansible/inventory/host_vars/mgmt-srv-01.yml
  ansible/roles/monitoring/defaults/main.yml
  ansible/roles/monitoring/tasks/main.yml
  ansible/roles/traefik/files/config.yml
  ansible/roles/traefik/files/traefik.yml
Labels: relative/ansible

feat(prometheus): add additional rules
  kubernetes/core/prometheus/helm-release.yml
Labels: relative/kubernetes

testing
  kubernetes/core/prometheus/helm-release.yml
Labels: relative/kubernetes

chore(kps): add datasource
  kubernetes/core/prometheus/helm-release.yml
Labels: relative/kubernetes

deop apps
  kubernetes/apps/actual/external-secret.yml
  kubernetes/apps/actual/flux-kustomization.yml
  kubernetes/apps/actual/helm-release.yml
  kubernetes/apps/actual/kustomization.yml
  kubernetes/apps/anirra/external-secret.yml
  kubernetes/apps/anirra/flux-kustomization.yml
  kubernetes/apps/anirra/helm-release.yml
  kubernetes/apps/anirra/kustomization.yml
  kubernetes/apps/discovarr/external-secret.yml
  kubernetes/apps/discovarr/flux-kustomization.yml
  kubernetes/apps/discovarr/helm-release.yml
  kubernetes/apps/discovarr/kustomization.yml
  kubernetes/apps/kestra/external-secret.yml
  kubernetes/apps/kestra/flux-kustomization.yml
  kubernetes/apps/kestra/helm-release.yml
  kubernetes/apps/kestra/kustomization.yml
  kubernetes/apps/kestra/source.yml
  kubernetes/apps/kustomization.yml
  kubernetes/apps/obico/external-secret.yml
  kubernetes/apps/obico/flux-kustomization.yml
  kubernetes/apps/obico/helm-release.yml
  kubernetes/apps/obico/http-route.yml
  kubernetes/apps/obico/kustomization.yml
  kubernetes/apps/obico/source.yml
  kubernetes/apps/pulsarr/external-secret.yml
  kubernetes/apps/pulsarr/flux-kustomization.yml
  kubernetes/apps/pulsarr/helm-release.yml
  kubernetes/apps/pulsarr/kustomization.yml
  kubernetes/apps/soundbored/external-secret.yml
  kubernetes/apps/soundbored/flux-kustomization.yml
  kubernetes/apps/soundbored/helm-release.yml
  kubernetes/apps/soundbored/kustomization.yml
Labels: relative/kubernetes

fix(kps): deploy datasources
  kubernetes/core/prometheus/helm-release.yml
Labels: relative/kubernetes

fix(keda): use avg_over_time to silence false alarms in prom
  kubernetes/core/keda-operator/_components/nfs/scaled-object.yml
  kubernetes/core/keda-operator/_components/ollama/scaled-object.yml
Labels: relative/kubernetes

fix(your-spotify): volume claim for volsync
  kubernetes/apps/your-spotify/flux-kustomization.yml
Labels: relative/kubernetes

chore: changed DNS records
  terraform/gravity/records.json
Labels: relative/terraform

add synology dns
  ansible/roles/traefik/files/config.yml
Labels: relative/ansible

fix(ansible): updated requirement.yml location in ci
  .github/workflows/ansible-lint.yml
Labels: relative/github

style(ansible): linting
  .gitignore
  ansible/.ansible-lint
  ansible/inventory/group_vars/dns_servers/main.yml
  ansible/inventory/group_vars/gatus/main.yml
  ansible/inventory/host_vars/ct-01-ec2.yml
  ansible/playbooks/cloud/gatus/site.yml
  ansible/playbooks/infra/mimir-setup.yml
  ansible/playbooks/setup_dns.yml
  ansible/playbooks/setup_game_servers.yml
  ansible/playbooks/system_maintenance.yml
  ansible/poetry.lock
  ansible/pyproject.toml
  ansible/roles/compose/tasks/main.yml
  ansible/roles/linux_setup/tasks/disk.yml
  ansible/roles/linux_setup/tasks/main.yml
  ansible/roles/mimir/defaults/main.yml
  ansible/roles/mimir/handlers/main.yml
  ansible/roles/mimir/tasks/main.yml
  ansible/roles/ollama/tasks/main.yml
  ansible/roles/traefik/tasks/main.yml
  ansible/roles/win_gaming_setup/tasks/main.yml
  ansible/roles/windows/tasks/main.yml
Labels: relative/ansible

testing
  kubernetes/apps/kustomization.yml
  kubernetes/apps/teslamateapi/helm-release.yml
Labels: relative/kubernetes

add test action
  .github/workflows/test-authentik.yml
Labels: relative/github

fix permission
  .github/workflows/test-authentik.yml
Labels: relative/github

chore(rook-ceph): up mem resource
  kubernetes/core/rook-ceph/cluster/helm-release.yml
Labels: relative/kubernetes

fix: secret store role needed more perms
  kubernetes/core/grafana-operator/eso-ns-reader.yml
Labels: relative/kubernetes

chore(prowlarr): up mem usage
  .github/workflows/test-authentik.yml
  kubernetes/apps/prowlarr/helm-release.yml
Labels: relative/github, relative/kubernetes

update lease
  terraform/opnsense/leases.json
Labels: relative/terraform

add new SSDs
  kubernetes/talos/talconfig.yml
  kubernetes/talos/talsecret.sops.yaml
  kubernetes/talos/talsecret.sops.yml
Labels: relative/kubernetes, area/talos

reconfigure bootstrap
  kubernetes/README.md
  kubernetes/hacks/helm-install-apps.yml
  kubernetes/hacks/helm-install-crds.yml
Labels: relative/kubernetes

fix(flux): separate resources that require their own ns
  kubernetes/core/kustomization.yml
  kubernetes/core/proxies/flux-kustomization.yml
  kubernetes/core/proxies/hass-proxy.yml
  kubernetes/core/proxies/kustomization.yml
Labels: relative/kubernetes

fix(external-secrets): add a flux ks for external secrets
  kubernetes/core/external-dns/flux-kustomization.yml
  kubernetes/core/external-dns/secrets/external-secret.yml
  kubernetes/core/external-dns/secrets/kustomization.yml
Labels: relative/kubernetes

testing
  kubernetes/core/grafana-operator/flux-kustomization.yml
  kubernetes/core/grafana-operator/resources/dashboards.yml
  kubernetes/core/grafana-operator/resources/eso-ns-reader.yml
  kubernetes/core/grafana-operator/resources/kustomization.yml
  kubernetes/core/grafana-operator/resources/settings.yml
Labels: relative/kubernetes

fix(grafana-operator): finally figured out the darn schema
  kubernetes/core/grafana-operator/resources/settings.yml
Labels: relative/kubernetes

fix(karakeep): allow account creation with oauth
  kubernetes/apps/karakeep/helm-release.yml
Labels: relative/kubernetes

testing new settings
  kubernetes/core/grafana-operator/resources/settings.yml
  kubernetes/talos/talconfig.yml
Labels: relative/kubernetes, area/talos

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
