Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

Revert "fix(unifi-controller): set pvc for mongodb instead"
  kubernetes/apps/unifi-controller/flux-kustomization.yml
  kubernetes/apps/unifi-controller/helm-release.yml
Labels: relative/kubernetes

add soundbored
  kubernetes/apps/soundbored/external-secret.yml
  kubernetes/apps/soundbored/flux-kustomization.yml
  kubernetes/apps/soundbored/helm-release.yml
  kubernetes/apps/soundbored/kustomization.yml
Labels: relative/kubernetes

add soundbored ks
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

fix(soundbored): invalid var
  kubernetes/apps/soundbored/helm-release.yml
Labels: relative/kubernetes

fix(soundbored): set correct route gateway class
  kubernetes/apps/soundbored/helm-release.yml
Labels: relative/kubernetes

chore(soundbored): add auto join
  kubernetes/apps/soundbored/helm-release.yml
Labels: relative/kubernetes

update config
  kubernetes/apps/soundbored/helm-release.yml
Labels: relative/kubernetes

fix(authentik): route schema
  kubernetes/apps/authentik/helm-release.yml
Labels: relative/kubernetes

fix(kromgo): svc name
  kubernetes/core/kromgo/helm-release.yml
Labels: relative/kubernetes

sucks
  kubernetes/core/gateway-api/external-http-routes/kustomization.yml
Labels: relative/kubernetes

redeploy your-spotify
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

fix(soundbored): env vars
  kubernetes/apps/soundbored/helm-release.yml
Labels: relative/kubernetes

chore(opnsense): removed unused resources
  terraform/opnsense/data.tf
  terraform/opnsense/dns/external_svc.json
  terraform/opnsense/dns/infra_dns.json
  terraform/opnsense/dns/kubernetes_dns.json
  terraform/opnsense/int_dns_aliases.tf.bak
  terraform/opnsense/int_dns_overrides.tf.bak
Labels: relative/terraform

chore(paperless-ngx): don’t need keda here
  kubernetes/apps/paperless-ngx/flux-kustomization.yml
Labels: relative/kubernetes

chore(gravity): modify roles
  ansible/inventory/host_vars/mgmt-srv-01.yml
Labels: relative/ansible

chore: handling dhcp on opnsense kea instead
  terraform/gravity/dhcp.tf
  terraform/gravity/dns.tf
  terraform/gravity/variables.tf
  terraform/opnsense/kea.tf
  terraform/opnsense/reservations.json
  terraform/opnsense/variables.tf
Labels: relative/terraform

chore(gravity): rearrange resources
  terraform/gravity/dns.tf
Labels: relative/terraform

feat(authentik): add embedded outposts
  kubernetes/apps/authentik/helm-release.yml
Labels: relative/kubernetes

misc
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

chore(opnsense): update ubuntu image
  terraform/proxmox/guest-machines.tf
  terraform/proxmox/images.tf
Labels: relative/terraform

chore(gravity-external-dns): switch domain filter
  kubernetes/core/external-dns/webhooks/gravity/helm-release.yml
Labels: relative/kubernetes

Revert "chore(gravity-external-dns): switch domain filter"
  kubernetes/core/external-dns/webhooks/gravity/helm-release.yml
Labels: relative/kubernetes

chore(gravity-external-dns): switch domain filter
  kubernetes/core/gateway-api/private-class.yml
Labels: relative/kubernetes

temp: use ip instead of dns
  kubernetes/apps/bazarr/helm-release.yml
  kubernetes/apps/immich/helm-release.yml
  kubernetes/apps/paperless-ngx/helm-release.yml
  kubernetes/apps/plex/helm-release.yml
  kubernetes/apps/qbittorrent/helm-release.yml
  kubernetes/apps/radarr/helm-release.yml
  kubernetes/apps/sabnzbd/helm-release.yml
  kubernetes/apps/sonarr/helm-release.yml
  kubernetes/core/blackbox-exporter/probes.yml
  kubernetes/core/keda-operator/_components/nfs/scaled-object.yml
Labels: relative/kubernetes

same
  kubernetes/core/external-secrets/bitwarden-secrets-manager.yml
Labels: relative/kubernetes

chore(k8s): remove externalnames
  kubernetes/core/gateway-api/external-http-routes/grafana.yml
  kubernetes/core/gateway-api/external-http-routes/home-assistant.yml
  kubernetes/core/gateway-api/external-http-routes/kustomization.yml
  kubernetes/core/gateway-api/external-http-routes/ollama.yml
  kubernetes/core/gateway-api/external-http-routes/prometheus.yml
  kubernetes/core/gateway-api/external-http-routes/scanservjs.yml
  kubernetes/core/gateway-api/external-http-routes/synology.yml
Labels: relative/kubernetes

chore(ansible): change containers
  ansible/inventory/host_vars/mgmt-srv-01.yml
Labels: relative/ansible

add traefik
  ansible/roles/traefik/defaults/main.yml
  ansible/roles/traefik/files/acme.json
  ansible/roles/traefik/files/config.yml
  ansible/roles/traefik/files/traefik.yml
  ansible/roles/traefik/handlers/main.yml
  ansible/roles/traefik/tasks/main.yml
Labels: relative/ansible

redo dns yet again
  terraform/gravity/dhcp.tf.bak
  terraform/gravity/dns.tf
  terraform/gravity/records.json
  terraform/opnsense/interfaces.tf
  terraform/opnsense/kea.tf
  terraform/opnsense/leases.json
  terraform/opnsense/variables.tf
Labels: relative/terraform

feat(terraform): add retries to bws lookup module
  terraform/bws_lookup.py
Labels: relative/terraform

testing soundbored
  terraform/authentik/applications.tf
Labels: relative/terraform

Revert "temp: use ip instead of dns"
  kubernetes/apps/bazarr/helm-release.yml
  kubernetes/apps/immich/helm-release.yml
  kubernetes/apps/paperless-ngx/helm-release.yml
  kubernetes/apps/plex/helm-release.yml
  kubernetes/apps/qbittorrent/helm-release.yml
  kubernetes/apps/radarr/helm-release.yml
  kubernetes/apps/sabnzbd/helm-release.yml
  kubernetes/apps/sonarr/helm-release.yml
  kubernetes/core/blackbox-exporter/probes.yml
  kubernetes/core/keda-operator/_components/nfs/scaled-object.yml
Labels: relative/kubernetes

switch back to dns
  kubernetes/apps/kestra/helm-release.yml
  kubernetes/core/external-dns/webhooks/gravity/helm-release.yml
  kubernetes/core/external-secrets/bitwarden-secrets-manager.yml
Labels: relative/kubernetes

fix(gateway-api): removed ks from kustomize
  kubernetes/core/gateway-api/kustomization.yml
Labels: relative/kubernetes

feat: add gravity to k8s
  kubernetes/core/gravity/flux-kustomization.yml
  kubernetes/core/gravity/http-route.yml
  kubernetes/core/gravity/kustomization.yml
  kubernetes/core/gravity/sts.yml
  kubernetes/core/gravity/svc.yml
  kubernetes/core/kustomization.yml
Labels: relative/kubernetes

add more things
  kubernetes/core/gravity/sts.yml
  kubernetes/core/gravity/svc.yml
Labels: relative/kubernetes

feat(gravity): add secrets
  kubernetes/core/gravity/external-secret.yml
  kubernetes/core/gravity/kustomization.yml
  kubernetes/core/gravity/sts.yml
Labels: relative/kubernetes

feat(k8s): switch to dns address for AI dependant apps
  kubernetes/apps/discovarr/helm-release.yml
  kubernetes/apps/karakeep/helm-release.yml
  kubernetes/apps/paperless-gpt/helm-release.yml
Labels: relative/kubernetes

feat(gravity-dns): add public gateway dns record
  terraform/gravity/dns.tf
Labels: relative/terraform

feat(gravity-dns): add more internal records
  terraform/gravity/records.json
Labels: relative/terraform

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
