Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

ci(renovate): add talos custom manager
  .renovate/customManagers.json5
  .renovate/groups.json5
  renovate.json5
Labels: relative/renovate

add env
  ansible/inventory/host_vars/mgmt-srv-01.yml
Labels: relative/ansible

Update flux-kustomization.yml
  kubernetes/core/gateway-api/flux-kustomization.yml
Labels: relative/kubernetes

move containers position
  ansible/inventory/host_vars/mgmt-srv-01.yml
Labels: relative/ansible

add substitute in patch
  kubernetes/apps/immich/flux-kustomization.yml
Labels: relative/kubernetes

Revert "add substitute in patch"
  kubernetes/apps/immich/flux-kustomization.yml
Labels: relative/kubernetes

feat(k8s): flip authentik
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

chore(k8s): switched container images to home-operations
  kubernetes/apps/bazarr/helm-release.yml
  kubernetes/apps/plex/helm-release.yml
  kubernetes/apps/prowlarr/helm-release.yml
  kubernetes/apps/qbittorrent/helm-release.yml
  kubernetes/apps/radarr/helm-release.yml
  kubernetes/apps/sabnzbd/helm-release.yml
  kubernetes/apps/sonarr/helm-release.yml
  kubernetes/core/multus/helm-release.yml
Labels: relative/kubernetes

feat(k8s): change domain
  kubernetes/apps/bazarr/helm-release.yml
  kubernetes/apps/diff2rss/helm-release.yml
  kubernetes/apps/factorio/helm-release.yml
  kubernetes/apps/immich/helm-release.yml
  kubernetes/apps/it-tools/helm-release.yml
  kubernetes/apps/jellyseerr/helm-release.yml
  kubernetes/apps/linkding/helm-release.yml
  kubernetes/apps/maintainerr/helm-release.yml
  kubernetes/apps/miniflux/helm-release.yml
  kubernetes/apps/obico/helm-release.yml
  kubernetes/apps/plex/helm-release.yml
  kubernetes/apps/prowlarr/helm-release.yml
  kubernetes/apps/qbittorrent/helm-release.yml
  kubernetes/apps/radarr/helm-release.yml
  kubernetes/apps/sabnzbd/helm-release.yml
  kubernetes/apps/sonarr/helm-release.yml
  kubernetes/apps/tautulli/helm-release.yml
  kubernetes/apps/unifi-controller/helm-release.yml
  kubernetes/apps/winxuu/helm-release.yml
  kubernetes/core/cert-manager/main-cert.yml
  kubernetes/core/cilium/values.yml
  kubernetes/core/gateway-api/resources/test-pod.yml
  kubernetes/core/multus/resources/iot-bridge.yml
  kubernetes/core/nginx-ext-ingress/helm-release.yml
  kubernetes/core/nginx-int-ingress/helm-release.yml
  kubernetes/core/prometheus/helm-release.yml
  kubernetes/core/rook-ceph/cluster/helm-release.yml
  kubernetes/infra/apps-vars.yml
  kubernetes/talos/clusterconfig/.gitignore
  kubernetes/talos/talconfig.yml
Labels: relative/kubernetes, area/talos

feat(terraform): changed dns records
  terraform/_templates/dns/infra_dns.json
  terraform/_templates/dns/kubernetes_dns.json
  terraform/authentik/applications.tf
  terraform/monitoring/data.tf
  terraform/monitoring/providers.tf
  terraform/servarr/vars.tf
Labels: relative/terraform

dropped immich temp
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

changed local domain as well
  kubernetes/apps/bazarr/helm-release.yml
  kubernetes/apps/immich/storage.yml
  kubernetes/apps/obico/helm-release.yml
  kubernetes/apps/paperless-ngx/helm-release.yml
  kubernetes/apps/plex-auto-languages/helm-release.yml
  kubernetes/apps/plex/helm-release.yml
  kubernetes/apps/qbittorrent/helm-release.yml
  kubernetes/apps/radarr/helm-release.yml
  kubernetes/apps/sabnzbd/helm-release.yml
  kubernetes/apps/sonarr/helm-release.yml
  kubernetes/core/external-secrets/bitwarden-secrets-manager.yml
  kubernetes/core/nginx-ext-ingress/external-names/home-assistant.yml
  kubernetes/core/nginx-ext-ingress/external-names/semaphore.yml
  kubernetes/core/nginx-int-ingress/external-names/grafana.yml
  kubernetes/core/nginx-int-ingress/external-names/home-assistant.yml
  kubernetes/core/nginx-int-ingress/external-names/ns.yml
  kubernetes/core/nginx-int-ingress/external-names/prometheus.yml
  kubernetes/core/nginx-int-ingress/external-names/proxmox.yml
  kubernetes/core/nginx-int-ingress/external-names/scanservjs.yml
  kubernetes/core/nginx-int-ingress/external-names/synology.yml
Labels: relative/kubernetes

chore(ansible): removed awx role
  ansible/roles/awx/defaults/main.yml
  ansible/roles/awx/tasks/awx_credentials.yml
  ansible/roles/awx/tasks/awx_ee.yml
  ansible/roles/awx/tasks/awx_inventory.yml
  ansible/roles/awx/tasks/awx_inventory_sources.yml
  ansible/roles/awx/tasks/awx_job_templates.yml
  ansible/roles/awx/tasks/main.yml
Labels: relative/ansible

feat(ansible): changed local dns
  ansible/inventory/group_vars/all/main.yml
  ansible/inventory/host_vars/mgmt-srv-01.yml
  ansible/playbooks/cloud/gatus/pre_configuration.yml
  ansible/playbooks/infra/mimir-setup.yml
  ansible/roles/mimir/defaults/main.yml
  ansible/roles/nginx_webserver/defaults/main.yml
  ansible/roles/nginx_webserver/templates/files/debian12-k3s.cfg.j2
  ansible/roles/nginx_webserver/templates/files/debian12.cfg.j2
Labels: relative/ansible

feat(k8s): brought external domain with parity
  kubernetes/apps/authentik/helm-release.yml
  kubernetes/apps/diff2rss/helm-release.yml
  kubernetes/apps/immich/helm-release.yml
  kubernetes/apps/it-tools/helm-release.yml
  kubernetes/apps/jellyseerr/helm-release.yml
  kubernetes/apps/linkding/helm-release.yml
  kubernetes/apps/miniflux/helm-release.yml
  kubernetes/apps/obico/helm-release.yml
  kubernetes/apps/shlink/helm-release.yml
  kubernetes/apps/winxuu/helm-release.yml
  kubernetes/apps/your-spotify/helm-release.yml
  kubernetes/core/external-dns/builtin/cloudflare/helm-release.yml
  kubernetes/core/kromgo/helm-release.yml
  kubernetes/core/nginx-ext-ingress/external-names/home-assistant.yml
  kubernetes/core/nginx-ext-ingress/external-names/semaphore.yml
Labels: relative/kubernetes

fix(obico): removed internal ingress
  kubernetes/apps/obico/helm-release.yml
Labels: relative/kubernetes

feat(crunchy-data): removed s3 conf in favor of secret
  kubernetes/core/crunchydata-pgo/components/cluster.yml
  kubernetes/core/crunchydata-pgo/components/external-secret.yml
Labels: relative/kubernetes

dropped factorio
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

feat(authentik): removed backups for pgo
  kubernetes/apps/authentik/flux-kustomization.yml
Labels: relative/kubernetes

fmt
  kubernetes/apps/bazarr/helm-release.yml
Labels: relative/kubernetes

feat(authentik): patch annotation to remove backups
  kubernetes/apps/authentik/flux-kustomization.yml
Labels: relative/kubernetes

feat(miniflux): set log level
  kubernetes/apps/miniflux/helm-release.yml
Labels: relative/kubernetes

fix(miniflux): expand pg volume
  kubernetes/apps/miniflux/flux-kustomization.yml
Labels: relative/kubernetes

chore: update taskfiles
  kubernetes/.taskfiles/k8s/taskfile.yml
  kubernetes/.taskfiles/postgres/taskfile.yml
  kubernetes/.taskfiles/rook-ceph/taskfile.yml
  taskfile.yml
Labels: relative/kubernetes

chore: update taskfiles
  kubernetes/.taskfiles/k8s/taskfile.yml
Labels: relative/kubernetes

add envrc for kubes
  kubernetes/.envrc
Labels: relative/kubernetes

fix(authentik): add cluster cert to outpost
  terraform/authentik/main.tf
Labels: relative/terraform

feat(miniflux): give more oomph, something may be wrong
  kubernetes/apps/miniflux/flux-kustomization.yml
Labels: relative/kubernetes

Revert "feat(crunchy-data): removed s3 conf in favor of secret"
  kubernetes/core/crunchydata-pgo/components/cluster.yml
  kubernetes/core/crunchydata-pgo/components/external-secret.yml
Labels: relative/kubernetes

up miniflux db storage again to debug
  kubernetes/apps/miniflux/flux-kustomization.yml
Labels: relative/kubernetes

cleanup
  kubernetes/apps/factorio/kustomization.yml
  kubernetes/apps/kustomization.yml
  kubernetes/core/kustomization.yml
  kubernetes/core/multus/kustomization.yml
  kubernetes/core/system-upgrade/dependencies.yml
  kubernetes/core/system-upgrade/flux-kustomization.yml
  kubernetes/core/system-upgrade/kustomization.yml
Labels: relative/kubernetes

fix(paperless): volsync claim backup
  kubernetes/apps/paperless-ngx/flux-kustomization.yml
Labels: relative/kubernetes

chore(ci): set concurrency for workflow
  .github/workflows/flux-diff.yml
Labels: relative/github

fix(volsync): cron for pgbackrest
  kubernetes/core/crunchydata-pgo/components/cluster.yml
Labels: relative/kubernetes

fix(external-dns): no longer expects fullnameOverride
  kubernetes/core/external-dns/builtin/cloudflare/helm-release.yml
Labels: relative/kubernetes

feat(k8s): init headlamp
  kubernetes/apps/headlamp/flux-kustomization.yml
  kubernetes/apps/headlamp/helm-release.yml
  kubernetes/apps/headlamp/kustomization.yml
  kubernetes/apps/kustomization.yml
  kubernetes/infra/sources/helm-repos/headlamp.yml
  kubernetes/infra/sources/helm-repos/kustomization.yml
Labels: relative/kubernetes

fix(headlamp): helmrepo URL
  kubernetes/infra/sources/helm-repos/headlamp.yml
Labels: relative/kubernetes

fix(headlamp): seems tag image is broken, trying latest
  kubernetes/apps/headlamp/helm-release.yml
Labels: relative/kubernetes

feat(terraform): add headlamp dns record
  terraform/_templates/dns/kubernetes_dns.json
Labels: relative/terraform

feat(headlamp): add svcAccount token
  kubernetes/apps/headlamp/helm-release.yml
Labels: relative/kubernetes

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
