Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

docs(k8s): update component reference docs
  kubernetes/core/cilium/reference.md
  kubernetes/core/envoy-gateway/reference.md
  kubernetes/core/flux-instance/reference.md
  kubernetes/core/prometheus/reference.md
  kubernetes/core/rook-ceph/reference.md
  kubernetes/core/volsync/reference.md
Labels: relative/kubernetes

update schemas 2026-04-20T10:30:13Z
  index.html
Labels: none

update schemas 2026-04-21T10:30:14Z
  index.html
Labels: none

feat(jellyfin): init
  kubernetes/apps/jellyfin/flux-kustomization.yml
  kubernetes/apps/jellyfin/helm-release.yml
  kubernetes/apps/jellyfin/kustomization.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

feat(autobrr): init
  kubernetes/apps/autobrr/external-secret.yml
  kubernetes/apps/autobrr/flux-kustomization.yml
  kubernetes/apps/autobrr/helm-release.yml
  kubernetes/apps/autobrr/kustomization.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

feat(jellyplex-watched): init
  kubernetes/apps/jellyplex-watched/cron-job.yml
  kubernetes/apps/jellyplex-watched/external-secret.yml
  kubernetes/apps/jellyplex-watched/flux-kustomization.yml
  kubernetes/apps/jellyplex-watched/kustomization.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

fix(poetry): versioning
  kubernetes/poetry.lock
  kubernetes/pyproject.toml
Labels: relative/kubernetes

fix(openshift): ocp ip address
  terraform/mikrotik/leases.json
Labels: relative/terraform

fix(jellyfin): wrong lbipam address
  kubernetes/apps/jellyfin/helm-release.yml
Labels: relative/kubernetes

feat(surmai): init
  kubernetes/apps/kustomization.yml
  kubernetes/apps/surmai/external-secret.yml
  kubernetes/apps/surmai/flux-kustomization.yml
  kubernetes/apps/surmai/helm-release.yml
  kubernetes/apps/surmai/kustomization.yml
Labels: relative/kubernetes

Update helm-release.yml
  kubernetes/apps/plex/helm-release.yml
Labels: relative/kubernetes

fix(crd-schema-publisher): placed env in the wrong place
  kubernetes/core/crd-schema-publisher/cronjob.yml
Labels: relative/kubernetes

update schemas 2026-04-23T10:30:20Z
  index.html
Labels: none

update schemas 2026-04-24T10:30:18Z
  index.html
Labels: none

update schemas 2026-04-25T10:30:18Z
  index.html
Labels: none

feat(renovate): made changes to groups and upgrades
  .renovate/autoMerge.json5
  .renovate/groups.json5
Labels: relative/renovate

feat(terraform): rearrange external secrets provider
  terraform/authentik/providers.tf
  terraform/aws/providers.tf
  terraform/backblaze/providers.tf
  terraform/bws_lookup.py
  terraform/cloudflare/providers.tf
  terraform/gravity/providers.tf
  terraform/kasten/providers.tf
  terraform/mikrotik/providers.tf
  terraform/servarr/providers.tf
  terraform/unifi/providers.tf
  terraform/uptime-robot/providers.tf
Labels: relative/terraform

feat(tuppr): init
  kubernetes/core/kustomization.yml
  kubernetes/core/tuppr/flux-kustomization.yml
  kubernetes/core/tuppr/helm-release.yml
  kubernetes/core/tuppr/kustomization.yml
  kubernetes/core/tuppr/source.yml
  kubernetes/core/tuppr/upgrades.yml
  kubernetes/flux/00-namespaces.yml
  kubernetes/talos/talconfig.yml
Labels: relative/kubernetes, area/talos

fix(tuppr): add extra flux-kustomizations
  kubernetes/core/tuppr/controller/helm-release.yml
  kubernetes/core/tuppr/controller/kustomization.yml
  kubernetes/core/tuppr/controller/source.yml
  kubernetes/core/tuppr/flux-kustomization.yml
  kubernetes/core/tuppr/resources/kustomization.yml
  kubernetes/core/tuppr/resources/upgrades.yml
Labels: relative/kubernetes

update schemas 2026-04-26T10:30:29Z
  index.html
  master-standalone/tuppr.home-operations.com-kubernetesupgrade-stable-v1alpha1.json
  master-standalone/tuppr.home-operations.com-talosupgrade-stable-v1alpha1.json
  tuppr.home-operations.com/kubernetesupgrade_v1alpha1.html
  tuppr.home-operations.com/kubernetesupgrade_v1alpha1.json
  tuppr.home-operations.com/talosupgrade_v1alpha1.html
  tuppr.home-operations.com/talosupgrade_v1alpha1.json
Labels: none

docs(k8s): update component reference docs
  kubernetes/core/cilium/reference.md
  kubernetes/core/envoy-gateway/reference.md
  kubernetes/core/prometheus/reference.md
  kubernetes/core/rook-ceph/reference.md
  kubernetes/core/volsync/reference.md
Labels: relative/kubernetes

update schemas 2026-04-27T10:30:24Z
  index.html
Labels: none

terraform: add firewall rules for guest network
  terraform/mikrotik/firewall.tf
Labels: relative/terraform

configured bgp to listen only and lowered keepalive
  terraform/mikrotik/bgp.tf
Labels: relative/terraform

add KCL build pipeline and source layout (no Flux cutover)
  .github/workflows/kubernetes-kcl-oci.yml
  .gitignore
  kubernetes/.taskfiles/kcl/taskfile.yml
  kubernetes/README.md
  kubernetes/kcl/README.md
  kubernetes/kcl/apps/bazarr.k
  kubernetes/kcl/apps/kustomization.yml
  kubernetes/kcl/apps/prowlarr.k
  kubernetes/kcl/apps/radarr.k
  kubernetes/kcl/apps/sonarr.k
  kubernetes/kcl/kcl.mod
  kubernetes/kcl/kcl.mod.lock
  kubernetes/kcl/schemas/app.k
  kubernetes/kcl/schemas/emit.k
  kubernetes/kcl/schemas/external_secret.k
  kubernetes/kcl/schemas/flux_kustomization.k
  kubernetes/kcl/schemas/helm_release.k
  kubernetes/kcl/schemas/raw_workload.k
  kubernetes/kcl/schemas/volsync.k
  lefthook.yml
  taskfile.yml
Labels: relative/github, relative/kubernetes

add raw rules for bgp mikrotik bug fix
  terraform/mikrotik/firewall.tf
Labels: relative/terraform

fix(taskfile): typo
  taskfile.yml
Labels: none

fix caching
  .github/workflows/kubernetes-kcl-oci.yml
Labels: relative/github

Update reference.md
  kubernetes/core/volsync/reference.md
Labels: relative/kubernetes

update schemas 2026-04-28T10:30:21Z
  ceph.rook.io/cephobjectstore_v1.html
  ceph.rook.io/cephobjectstore_v1.json
  csi.ceph.io/clientprofile_v1.html
  csi.ceph.io/clientprofile_v1.json
  csi.ceph.io/clientprofile_v1alpha1.html
  csi.ceph.io/clientprofile_v1alpha1.json
  csi.ceph.io/driver_v1.json
  external-secrets.io/clusterexternalsecret_v1.html
  external-secrets.io/clusterexternalsecret_v1.json
  external-secrets.io/clusterpushsecret_v1alpha1.html
  external-secrets.io/clusterpushsecret_v1alpha1.json
  external-secrets.io/clustersecretstore_v1.html
  external-secrets.io/clustersecretstore_v1.json
  external-secrets.io/externalsecret_v1.html
  external-secrets.io/externalsecret_v1.json
  external-secrets.io/pushsecret_v1alpha1.html
  external-secrets.io/pushsecret_v1alpha1.json
  external-secrets.io/secretstore_v1.html
  external-secrets.io/secretstore_v1.json
  generators.external-secrets.io/clustergenerator_v1alpha1.html
  generators.external-secrets.io/clustergenerator_v1alpha1.json
  generators.external-secrets.io/vaultdynamicsecret_v1alpha1.html
  generators.external-secrets.io/vaultdynamicsecret_v1alpha1.json
  index.html
  master-standalone/ceph.rook.io-cephobjectstore-stable-v1.json
  master-standalone/csi.ceph.io-clientprofile-stable-v1.json
  master-standalone/csi.ceph.io-clientprofile-stable-v1alpha1.json
  master-standalone/csi.ceph.io-driver-stable-v1.json
  master-standalone/external-secrets.io-clusterexternalsecret-stable-v1.json
  master-standalone/external-secrets.io-clusterpushsecret-stable-v1alpha1.json
  master-standalone/external-secrets.io-clustersecretstore-stable-v1.json
  master-standalone/external-secrets.io-externalsecret-stable-v1.json
  master-standalone/external-secrets.io-pushsecret-stable-v1alpha1.json
  master-standalone/external-secrets.io-secretstore-stable-v1.json
  master-standalone/generators.external-secrets.io-clustergenerator-stable-v1alpha1.json
  master-standalone/generators.external-secrets.io-vaultdynamicsecret-stable-v1alpha1.json
Labels: none

feat: moved from keda to hpa
  kubernetes/apps/grimmory/flux-kustomization.yml
  kubernetes/apps/jellyfin/flux-kustomization.yml
  kubernetes/apps/karakeep/flux-kustomization.yml
  kubernetes/apps/maintainerr/flux-kustomization.yml
  kubernetes/apps/mediamanager/flux-kustomization.yml
  kubernetes/apps/plex/flux-kustomization.yml
  kubernetes/apps/qbittorrent/flux-kustomization.yml
  kubernetes/apps/radarr/flux-kustomization.yml
  kubernetes/apps/sabnzbd/flux-kustomization.yml
  kubernetes/apps/shelfmark/flux-kustomization.yml
  kubernetes/apps/sonarr/flux-kustomization.yml
  kubernetes/core/hpa/_components/nfs/horizontal-pod-autoscaler.yml
  kubernetes/core/hpa/_components/nfs/kustomization.yml
  kubernetes/core/hpa/_components/ollama/horizontal-pod-autoscaler.yml
  kubernetes/core/hpa/_components/ollama/kustomization.yml
  kubernetes/core/keda-operator/_components/nfs/scaled-object.yml
  kubernetes/core/keda-operator/_components/ollama/scaled-object.yml
  kubernetes/core/keda-operator/helm-release.yml
  kubernetes/core/kustomization.yml
  kubernetes/core/metrics-server/flux-kustomization.yml
  kubernetes/core/prometheus-adapter/flux-kustomization.yml
  kubernetes/core/prometheus-adapter/helm-release.yml
  kubernetes/core/prometheus-adapter/kustomization.yml
  kubernetes/core/prometheus-adapter/source.yml
  kubernetes/hacks/helmfile.d/crds.yml
  kubernetes/talos/talconfig.yml
Labels: relative/kubernetes, area/talos

testing
  kubernetes/core/hpa/_components/nfs/horizontal-pod-autoscaler.yml
  kubernetes/core/hpa/_components/ollama/horizontal-pod-autoscaler.yml
  kubernetes/core/prometheus-adapter/helm-release.yml
Labels: relative/kubernetes

testing
  kubernetes/core/prometheus-adapter/helm-release.yml
Labels: relative/kubernetes

fix: cilium bgp firewall rules
  terraform/mikrotik/firewall.tf
Labels: relative/terraform

update schemas 2026-04-29T10:30:24Z
  index.html
Labels: none

update schemas 2026-04-30T10:30:19Z
  index.html
Labels: none

update schemas 2026-05-01T10:30:25Z
  index.html
Labels: none

feat: add trek
  kubernetes/apps/kustomization.yml
  kubernetes/apps/trek/external-secret.yml
  kubernetes/apps/trek/flux-kustomization.yml
  kubernetes/apps/trek/helm-release.yml
  kubernetes/apps/trek/kustomization.yml
Labels: relative/kubernetes

fix(trek): image
  kubernetes/apps/trek/helm-release.yml
Labels: relative/kubernetes

fix(trek): bypass su-exec
  kubernetes/apps/trek/helm-release.yml
Labels: relative/kubernetes

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
