Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

feat: remove plex
  kubernetes/apps/jellyfin/helm-release.yml
  kubernetes/apps/jellyplex-watched/cron-job.yml
  kubernetes/apps/jellyplex-watched/external-secret.yml
  kubernetes/apps/jellyplex-watched/flux-kustomization.yml
  kubernetes/apps/jellyplex-watched/kustomization.yml
  kubernetes/apps/kustomization.yml
  kubernetes/apps/plex-auto-languages/external-secret.yml
  kubernetes/apps/plex-auto-languages/flux-kustomization.yml
  kubernetes/apps/plex-auto-languages/helm-release.yml
  kubernetes/apps/plex-auto-languages/kustomization.yml
  kubernetes/apps/plex/external-secret.yml
  kubernetes/apps/plex/flux-kustomization.yml
  kubernetes/apps/plex/helm-release.yml
  kubernetes/apps/plex/kustomization.yml
  kubernetes/apps/sabnzbd/helm-release.yml
Labels: relative/kubernetes

remove more plex stuff
  terraform/authentik/data.tf
  terraform/authentik/main.tf
  terraform/authentik/providers.tf
  terraform/mikrotik/firewall.tf
Labels: relative/terraform

feat(cilium): enable hubble again
  kubernetes/core/cilium/values.yml
Labels: relative/kubernetes

feat(cilium): add hubble route
  kubernetes/core/cilium/http-route.yml
  kubernetes/core/cilium/kustomization.yml
Labels: relative/kubernetes

add more netpols
  kubernetes/apps/jellyfin/helm-release.yml
  kubernetes/core/cilium/kustomization.yml
  kubernetes/core/cilium/netpols/allow-cluster-egress.yaml
  kubernetes/core/cilium/netpols/allow-dns-egress.yaml
Labels: relative/kubernetes

chore(jellyfin): remove unnecessary labels from CNP
  kubernetes/apps/jellyfin/helm-release.yml
Labels: relative/kubernetes

fix structure
  kubernetes/core/cilium/kustomization.yml
  kubernetes/core/cilium/netpols/allow-cluster-egress.yml
  kubernetes/core/cilium/netpols/allow-dns-egress.yml
  kubernetes/core/cilium/netpols/media-clients-cidr.yml
Labels: relative/kubernetes

more netpoliesss
  kubernetes/apps/jellyfin/helm-release.yml
Labels: relative/kubernetes

fix(jellyfin): use cidrgroup to reference media clients in netpols
  kubernetes/apps/jellyfin/helm-release.yml
Labels: relative/kubernetes

feat(cilium): add hubble ui
  kubernetes/core/cilium/values.yml
Labels: relative/kubernetes

temp fix
  kubernetes/core/cilium/netpols/media-clients-cidr.yml
Labels: relative/kubernetes

docs(k8s): update component reference docs
  kubernetes/core/cilium/reference.md
Labels: relative/kubernetes

fix(grafana-operator): add port to postgres url
  kubernetes/core/grafana-operator/resources/settings.yml
Labels: relative/kubernetes

fix(grimmory): add to public ingress
  kubernetes/apps/grimmory/helm-release.yml
Labels: relative/kubernetes

use flate instead of flux-local
  .github/workflows/flux-diff.yml
Labels: relative/github

fix(blackbox-exporter): change llama-cpp port
  kubernetes/core/blackbox-exporter/probes.yml
Labels: relative/kubernetes

fix(action-runners): set serviceAccount name
  kubernetes/core/github-actions/actions-runners/helm-release.yml
Labels: relative/kubernetes

switch to llamacpp port instead
  kubernetes/apps/karakeep/helm-release.yml
  kubernetes/apps/sure/helm-release.yml
  kubernetes/core/prometheus-adapter/helm-release.yml
Labels: relative/kubernetes

chore(karakeep): use ollama openAI compatbility instead of native ollama api
  kubernetes/apps/karakeep/helm-release.yml
Labels: relative/kubernetes

chore(karakeep): set inference output to json instead
  kubernetes/apps/karakeep/helm-release.yml
Labels: relative/kubernetes

feat(ansible): swap from ollama to llama.cpp
  ansible/inventory/host_vars/ai-inference-01.yml
  ansible/roles/llama.cpp/defaults/main.yml
  ansible/roles/llama.cpp/handlers/main.yml
  ansible/roles/llama.cpp/tasks/main.yml
  ansible/roles/llama.cpp/tasks/models.yml
  ansible/roles/llama.cpp/templates/llama_cpp.service.j2
  ansible/roles/llama.cpp/templates/ollama.service.j2
Labels: relative/ansible

add suggestarr
  kubernetes/apps/kustomization.yml
  kubernetes/apps/suggestarr/flux-kustomization.yml
  kubernetes/apps/suggestarr/helm-release.yml
  kubernetes/apps/suggestarr/kustomization.yml
Labels: relative/kubernetes

dummy
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

docs(k8s): update component reference docs
  kubernetes/core/envoy-gateway/reference.md
Labels: relative/kubernetes

feat(ansible): swap ollama for llamacpp role
  ansible/roles/llama.cpp/templates/ollama.service.j2
  ansible/roles/llamacpp/defaults/main.yml
  ansible/roles/llamacpp/handlers/main.yml
  ansible/roles/llamacpp/tasks/llama_swap.yml
  ansible/roles/llamacpp/tasks/main.yml
  ansible/roles/llamacpp/tasks/models.yml
  ansible/roles/llamacpp/templates/llama-swap.service.j2
  ansible/roles/llamacpp/templates/llama-swap.yaml.j2
  ansible/roles/llamacpp/templates/llama_cpp.service.j2
Labels: relative/ansible

chore(suggestarr): fix probes
  kubernetes/apps/suggestarr/helm-release.yml
Labels: relative/kubernetes

chore(ansible): add envs for llamacpp
  ansible/inventory/host_vars/ai-inference-01.yml
Labels: relative/ansible

chore(jellyfin): add suggestarr ingress netpol
  kubernetes/apps/jellyfin/helm-release.yml
Labels: relative/kubernetes

chore(crd-schema-publisher): apply breaking changes suggestions
  kubernetes/core/crd-schema-publisher/cronjob.yml
Labels: relative/kubernetes

fix(suggestarr): add ingress netpols
  kubernetes/apps/suggestarr/helm-release.yml
Labels: relative/kubernetes

testing
  kubernetes/apps/suggestarr/helm-release.yml
Labels: relative/kubernetes

test
  kubernetes/apps/suggestarr/helm-release.yml
Labels: relative/kubernetes

testing
  kubernetes/apps/suggestarr/helm-release.yml
Labels: relative/kubernetes

fix(suggestarr): add seerr ingress as well
  kubernetes/apps/suggestarr/helm-release.yml
Labels: relative/kubernetes

fix(grafana-operator): remove unused var
  kubernetes/core/grafana-operator/resources/settings.yml
Labels: relative/kubernetes

ollama remove
  ansible/inventory/terraform_provider.yaml
  ansible/roles/ollama/defaults/main.yml
  ansible/roles/ollama/handlers/main.yml
  ansible/roles/ollama/tasks/main.yml
  ansible/roles/ollama/templates/ollama.service.j2
Labels: relative/ansible

chore(trek): remove init
  kubernetes/apps/trek/helm-release.yml
Labels: relative/kubernetes

fix(trek): add workingDir
  kubernetes/apps/trek/helm-release.yml
Labels: relative/kubernetes

docs(k8s): update component reference docs
  kubernetes/core/rook-ceph/reference.md
Labels: relative/kubernetes

feat: deploy towonel-agent and home-operations/echo
  kubernetes/apps/echo/flux-kustomization.yml
  kubernetes/apps/echo/helm-release.yml
  kubernetes/apps/echo/kustomization.yml
  kubernetes/apps/echo/source.yml
  kubernetes/apps/kustomization.yml
  kubernetes/apps/towonel-agent/external-secret.yml
  kubernetes/apps/towonel-agent/flux-kustomization.yml
  kubernetes/apps/towonel-agent/helm-release.yml
  kubernetes/apps/towonel-agent/kustomization.yml
  kubernetes/apps/towonel-agent/source.yml
Labels: relative/kubernetes

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
