Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

chore(multus): switch ns to kube-system
  kubernetes/core/multus/flux-kustomization.yml
Labels: relative/kubernetes

deploy VLAN and add multus resources
  kubernetes/core/multus/resources/iot-bond.yml
  kubernetes/core/multus/resources/iot-bridge.yml
  kubernetes/core/multus/resources/iot-macvlan.yml
  kubernetes/core/multus/resources/iot-vlan.yml
  kubernetes/core/multus/resources/testing-pod.yml
  kubernetes/talos/talconfig.yml
Labels: relative/kubernetes, area/talos

Update discord webhook key in external-secret.yml
  kubernetes/apps/meshmon/external-secret.yml
Labels: relative/kubernetes

blah
  kubernetes/auth
Labels: relative/kubernetes

feat(meshmon): add reloader annotation
  kubernetes/apps/meshmon/deploy.yml
Labels: relative/kubernetes

chore(meshmon): change webhook name
  kubernetes/apps/meshmon/external-secret.yml
Labels: relative/kubernetes

chore(meshmon): add homelads webhook
  kubernetes/apps/meshmon/external-secret.yml
Labels: relative/kubernetes

set shell to fish
  .vscode/settings.json
Labels: none

redeploy jellyfin
  kubernetes/apps/jellyfin/flux-kustomization.yml
  kubernetes/apps/jellyfin/helm-release.yml
  kubernetes/apps/jellyfin/kustomization.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

add watchstate
  kubernetes/apps/kustomization.yml
  kubernetes/apps/watchstate/flux-kustomization.yml
  kubernetes/apps/watchstate/helm-release.yml
  kubernetes/apps/watchstate/kustomization.yml
Labels: relative/kubernetes

chore(watchstate): add cron sync vars
  kubernetes/apps/watchstate/helm-release.yml
Labels: relative/kubernetes

chore: migrated to bws_cache collection
  ansible/inventory/group_vars/dns_servers/main.yml
  ansible/inventory/group_vars/gatus/main.yml
  ansible/inventory/host_vars/ct-01-ec2.yml
  ansible/inventory/host_vars/mgmt-srv-01.yml
  ansible/playbooks/cloud/gatus/pre_configuration.yml
  ansible/playbooks/infra/mimir-setup.yml
  ansible/plugins/lookup/bws_cache.py
  ansible/requirements.yml
  ansible/roles/game_server/templates/GameUserSettings.ini.j2
  ansible/roles/game_server/templates/arkserver.cfg.j2
  ansible/roles/monitoring/defaults/main.yml
  ansible/roles/monitoring/templates/prometheus.yml.j2
  ansible/roles/nginx_webserver/templates/files/chezmoi.yml.j2
  ansible/roles/semaphore/defaults/main.yml
  ansible/roles/traefik/defaults/main.yml
  ansible/roles/win_gaming_setup/tasks/users.yml
Labels: relative/ansible

chore(authentik): removed redis
  kubernetes/apps/authentik/flux-kustomization.yml
  kubernetes/apps/authentik/helm-release.yml
Labels: relative/kubernetes

fix(authentik): set sslmode for database
  kubernetes/apps/authentik/helm-release.yml
Labels: relative/kubernetes

feat(k8s): add glanceapp
  kubernetes/apps/glance/external-secret.yml
  kubernetes/apps/glance/flux-kustomization.yml
  kubernetes/apps/glance/glance.yml
  kubernetes/apps/glance/helm-release.yml
  kubernetes/apps/glance/kustomization.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

feat(k8s): add glanceapp
  kubernetes/apps/glance/external-secret.yml
  kubernetes/apps/glance/flux-kustomization.yml
  kubernetes/apps/glance/glance.yml
  kubernetes/apps/glance/helm-release.yml
  kubernetes/apps/glance/kustomization.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

add autocaliweb
  kubernetes/apps/autocaliweb/flux-kustomization.yml
  kubernetes/apps/autocaliweb/helm-release.yml
  kubernetes/apps/autocaliweb/kustomization.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

drop some apps
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

drop glance
  kubernetes/apps/glance/external-secret.yml
  kubernetes/apps/glance/flux-kustomization.yml
  kubernetes/apps/glance/glance.yml
  kubernetes/apps/glance/helm-release.yml
  kubernetes/apps/glance/kustomization.yml
Labels: relative/kubernetes

Update kustomization.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

removed kasten secret
  terraform/authentik/providers.tf
Labels: relative/terraform

fix(autocaliweb): set postBuild for volsync settings
  kubernetes/apps/autocaliweb/flux-kustomization.yml
Labels: relative/kubernetes

chore: remove unused apps
  kubernetes/apps/autocaliweb/flux-kustomization.yml
  kubernetes/apps/autocaliweb/helm-release.yml
  kubernetes/apps/autocaliweb/kustomization.yml
  kubernetes/apps/jellyfin/flux-kustomization.yml
  kubernetes/apps/jellyfin/helm-release.yml
  kubernetes/apps/jellyfin/kustomization.yml
  kubernetes/apps/kustomization.yml
  kubernetes/apps/watchstate/flux-kustomization.yml
  kubernetes/apps/watchstate/helm-release.yml
  kubernetes/apps/watchstate/kustomization.yml
Labels: relative/kubernetes

feat(k8s): add bookshelf
  kubernetes/apps/bookshelf/flux-kustomization.yml
  kubernetes/apps/bookshelf/helm-release.yml
  kubernetes/apps/bookshelf/kustomization.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

feat(k8s): add bookshelf
  kubernetes/apps/bookshelf/flux-kustomization.yml
  kubernetes/apps/bookshelf/helm-release.yml
  kubernetes/apps/bookshelf/kustomization.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

feat(rook-ceph): update to v18
  kubernetes/core/rook-ceph/cluster/helm-release.yml
  kubernetes/core/rook-ceph/helm-release.yml
Labels: relative/kubernetes

chore(gravity): remove from cluster
  kubernetes/core/gravity/external-secret.yml
  kubernetes/core/gravity/flux-kustomization.yml
  kubernetes/core/gravity/http-route.yml
  kubernetes/core/gravity/kustomization.yml
  kubernetes/core/gravity/sts.yml
  kubernetes/core/gravity/svc.yml
  kubernetes/core/kustomization.yml
Labels: relative/kubernetes

fix(paperless-ngx): tika no longer shipped with upstream
  kubernetes/apps/paperless-ngx/helm-release.yml
Labels: relative/kubernetes

fix(karakeep): increase database version
  kubernetes/apps/karakeep/helm-release.yml
Labels: relative/kubernetes

fix(bookshelf): solved the entrypoint
  kubernetes/apps/bookshelf/entrypoint.sh
  kubernetes/apps/bookshelf/helm-release.yml
  kubernetes/apps/bookshelf/kustomization.yml
Labels: relative/kubernetes

fix(bookshelf): corrected mount
  kubernetes/apps/bookshelf/helm-release.yml
Labels: relative/kubernetes

fix(bookshelf): corrected permissions
  kubernetes/apps/bookshelf/helm-release.yml
Labels: relative/kubernetes

fix(bookshelf): switch paths for books
  kubernetes/apps/bookshelf/helm-release.yml
Labels: relative/kubernetes

fix(books): switch paths for books
  kubernetes/apps/bookshelf/helm-release.yml
  kubernetes/apps/calibre-web/helm-release.yml
Labels: relative/kubernetes

feat(k8s): use ephemera vs bookshelf
  kubernetes/apps/bookshelf/entrypoint.sh
  kubernetes/apps/bookshelf/kustomization.yml
  kubernetes/apps/ephemera/flux-kustomization.yml
  kubernetes/apps/ephemera/helm-release.yml
  kubernetes/apps/ephemera/kustomization.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

fix(ephemera): mounts for nfs volumes
  kubernetes/apps/ephemera/helm-release.yml
Labels: relative/kubernetes

fix(ephemera): changed entrypoint
  kubernetes/apps/ephemera/entrypoint.sh
  kubernetes/apps/ephemera/helm-release.yml
  kubernetes/apps/ephemera/kustomization.yml
Labels: relative/kubernetes

feat(stump): deploy
  kubernetes/apps/kustomization.yml
  kubernetes/apps/stump/flux-kustomization.yml
  kubernetes/apps/stump/helm-release.yml
  kubernetes/apps/stump/kustomization.yml
Labels: relative/kubernetes

fix(stump): set to root with hostUsers
  kubernetes/apps/stump/helm-release.yml
Labels: relative/kubernetes

fix(stump): do not use hostUsers with NFS 4.1
  kubernetes/apps/stump/helm-release.yml
Labels: relative/kubernetes
