Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

deployed flink instead of slash
  kubernetes/apps/flink/flux-kustomization.yml
  kubernetes/apps/flink/helm-release.yml
  kubernetes/apps/flink/kustomization.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

fix(cilium): dnsendpoint
  kubernetes/core/cilium/flux-kustomization.yml
Labels: relative/kubernetes

feat(flink): update ingress
  kubernetes/apps/flink/helm-release.yml
Labels: relative/kubernetes

feat(k8s): removed unused services
  kubernetes/apps/flink/flux-kustomization.yml
  kubernetes/apps/flink/helm-release.yml
  kubernetes/apps/flink/kustomization.yml
  kubernetes/apps/semaphore/external-secret.yml
  kubernetes/apps/semaphore/flux-kustomization.yml
  kubernetes/apps/semaphore/helm-release.yml
  kubernetes/apps/semaphore/kustomization.yml
  kubernetes/apps/semaphore/source.yml
Labels: relative/kubernetes

don't manage these records through tf
  terraform/cloudflare/mx_records.tf
  terraform/cloudflare/txt_records.tf
Labels: relative/terraform

don't create buckets through tf
  terraform/cloudflare/buckets.tf
Labels: relative/terraform

chore(paperless-ngx): update upstream image
  kubernetes/apps/paperless-ngx/helm-release.yml
Labels: relative/kubernetes

forgot
  kubernetes/apps/kustomization.yml
  terraform/proxmox/snippets.tf
Labels: relative/kubernetes, relative/terraform

deploy immich
  kubernetes/apps/immich/external-secret.yml
  kubernetes/apps/immich/flux-kustomization.yml
  kubernetes/apps/immich/helm-release.yml
  kubernetes/apps/immich/kustomization.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

feat(immich): add oauth
  kubernetes/apps/immich/helm-release.yml
  kubernetes/apps/immich/kustomization.yml
Labels: relative/kubernetes

Revert "chore(paperless-ngx): update upstream image"
  kubernetes/apps/paperless-ngx/helm-release.yml
Labels: relative/kubernetes

feat(immich): add datasource for pg
  kubernetes/apps/immich/flux-kustomization.yml
Labels: relative/kubernetes

feat(immich): increase storage
  kubernetes/apps/immich/storage.yml
Labels: relative/kubernetes

fix(authentik): semaphore icon
  terraform/authentik/applications.tf
Labels: relative/terraform

add semaphore ingress again
  kubernetes/core/nginx-int-ingress/external-names/kustomization.yml
Labels: relative/kubernetes

removed oidc
  kubernetes/apps/immich/helm-release.yml
Labels: relative/kubernetes

feat(your-spotify): change ingress
  kubernetes/apps/your-spotify/helm-release.yml
Labels: relative/kubernetes

fix(ingress-nginx): removed root directive as it was causing issues
  kubernetes/core/nginx-int-ingress/external-names/semaphore.yml
Labels: relative/kubernetes

fix(semaphore): change root path
  ansible/roles/semaphore/defaults/main.yml
Labels: relative/ansible

feat(ansible): switched maintainance to a role instead
  ansible/playbooks/maintenance/check_disk_space.yml
  ansible/playbooks/system-maintenance.yml
  ansible/roles/maintenance/tasks/check_disk.yml
  ansible/roles/maintenance/tasks/main.yml
  ansible/roles/maintenance/tasks/reboot_required.yml
  ansible/roles/maintenance/tasks/update_apt.yml
Labels: relative/ansible

update inventory
  ansible/inventory/static.yml
Labels: relative/ansible

chore(ansible): used new conventional naming
  ansible/roles/win_gaming_setup/tasks/main.yml
  ansible/roles/windows/tasks/main.yml
Labels: relative/ansible

chore(ansible): fmt
  ansible/playbooks/setup_ollama.yml
  ansible/roles/maintenance/tasks/main.yml
  ansible/roles/ollama/tasks/main.yml
  ansible/roles/requirements.yml
Labels: relative/ansible

chore: changed it back to a playbook
  ansible/playbooks/system-maintenance.yml
  ansible/roles/maintenance/tasks/check_disk.yml
  ansible/roles/maintenance/tasks/docker_prune.yml
  ansible/roles/maintenance/tasks/main.yml
Labels: relative/ansible

testing
  .github/workflows/ansible-lint.yml
Labels: relative/github

chore: use become instead
  ansible/playbooks/system-maintenance.yml
Labels: relative/ansible

chore: removed haos host
  ansible/inventory/static.yml
Labels: relative/ansible

chore(ansible): callback format for yaml deprecation
  ansible/ansible.cfg
Labels: relative/ansible

decouple dynamic role playbook
  ansible/playbooks/dynamic_role_call.yml
  ansible/playbooks/install_docker_containers.yml
Labels: relative/ansible

testing
  kubernetes/apps/paperless-ngx/helm-release.yml
Labels: relative/kubernetes

feat(paperless-ngx): removed consume dir
  kubernetes/apps/paperless-ngx/helm-release.yml
Labels: relative/kubernetes

chore(ansible): redid docker configuration
  ansible/inventory/group_vars/docker_hosts/main.yml
  ansible/inventory/host_vars/ct-01-ec2.yml
  ansible/inventory/host_vars/gs-srv-01.yml
  ansible/inventory/host_vars/mgmt-srv-01.yml
  ansible/playbooks/install_docker_containers.yml
  ansible/playbooks/setup_dns.yml
  ansible/playbooks/setup_instances.yml
  ansible/roles/compose/defaults/main.yml
  ansible/roles/compose/tasks/main.yml
  ansible/roles/compose/templates/daemon.json.j2
  ansible/roles/docker/tasks/main.yml
Labels: relative/ansible

chore: moved handler to use scalar instead
  ansible/inventory/group_vars/gatus/main.yml
Labels: relative/ansible

use apollo instead of sunshine
  ansible/inventory/host_vars/chk-gaming-01.yml
  ansible/inventory/host_vars/win11-gaming-01.yml
  ansible/roles/win_gaming_setup/defaults/main.yml
  ansible/roles/win_gaming_setup/files/apps.json
  ansible/roles/win_gaming_setup/tasks/apollo.yml
  ansible/roles/win_gaming_setup/tasks/main.yml
  ansible/roles/win_gaming_setup/tasks/sunshine.yml
Labels: relative/ansible

feat(ansible): use inventory hostname for linux setups
  ansible/roles/linux_setup/tasks/main.yml
Labels: relative/ansible

fix(unifi-controller): adjust liveness
  kubernetes/apps/unifi-controller/helm-release.yml
Labels: relative/kubernetes

feat(qbittorrent): configured for seeding
  kubernetes/apps/qbittorrent/helm-release.yml
Labels: relative/kubernetes

ci: removed lint on PR
  .github/workflows/global-lint.yml
Labels: relative/github

chore(qbittorrent): add misc settings
  kubernetes/apps/qbittorrent/helm-release.yml
Labels: relative/kubernetes

fix(qbittorrent): schema
  kubernetes/apps/qbittorrent/helm-release.yml
Labels: relative/kubernetes
