Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

chore(kestra): add reloader annotation
  kubernetes/apps/kestra/helm-release.yml
Labels: relative/kubernetes

fix(ci): wrong path for ansible
  .github/workflows/ansible-requirements.yml
  kubernetes/.taskfiles/k8s/taskfile.yml
Labels: relative/github, relative/kubernetes

feat(ansible): merged deps
  ansible/requirements.yml
  ansible/roles/requirements.yml
Labels: relative/ansible

chore(ansible): not sure why I had quotes there
  ansible/ansible.cfg
Labels: relative/ansible

chore(ansible): switch interpreter to auto_silent
  ansible/ansible.cfg
Labels: relative/ansible

testing(coredns): don't limit cache
  kubernetes/core/coredns/values.yml
Labels: relative/kubernetes

chore(taskfile): renamed NS var
  kubernetes/.taskfiles/k8s/taskfile.yml
Labels: relative/kubernetes

immich: remove backup
  kubernetes/apps/immich/flux-kustomization.yml
Labels: relative/kubernetes

feat(immich): switched to app-template
  kubernetes/apps/immich/helm-release.yml
  kubernetes/apps/immich/kustomization.yml
  kubernetes/apps/immich/source.yml
  kubernetes/apps/immich/storage.yml
Labels: relative/kubernetes

chore(immich): add ingress rules
  kubernetes/apps/immich/helm-release.yml
Labels: relative/kubernetes

feat(immich): add photos nfs mount
  kubernetes/apps/immich/helm-release.yml
Labels: relative/kubernetes

feat(external-secret): changed apiVersion
  kubernetes/apps/anirra/external-secret.yml
  kubernetes/apps/authentik/external-secret.yml
  kubernetes/apps/bazarr/external-secret.yml
  kubernetes/apps/diff2rss/external-secret.yml
  kubernetes/apps/immich/external-secret.yml
  kubernetes/apps/karakeep/external-secret.yml
  kubernetes/apps/miniflux/external-secret.yml
  kubernetes/apps/obico/external-secret.yml
  kubernetes/apps/paperless-ngx/external-secret.yml
  kubernetes/apps/plex-auto-languages/external-secret.yml
  kubernetes/apps/plex/external-secret.yml
  kubernetes/apps/prowlarr/external-secret.yml
  kubernetes/apps/radarr/external-secret.yml
  kubernetes/apps/recyclarr/external-secret.yml
  kubernetes/apps/sabnzbd/external-secret.yml
  kubernetes/apps/sonarr/external-secret.yml
  kubernetes/apps/your-spotify/external-secret.yml
  kubernetes/core/cert-manager/external-secret.yml
  kubernetes/core/crunchydata-pgo/components/external-secret.yml
  kubernetes/core/external-dns/builtin/cloudflare/external-secret.yml
  kubernetes/core/external-dns/webhooks/opnsense/external-secret.yml
  kubernetes/core/external-secrets/bitwarden-secrets-manager.yml
  kubernetes/core/external-secrets/cloudflare-cluster-es.yml
  kubernetes/core/flux-instance/external-secret.yml
  kubernetes/core/rook-ceph/external-secret.yml
  kubernetes/core/tofu-controller/external-secret.yml
  kubernetes/core/tofu-controller/resources/external-secret.yml
  kubernetes/core/volsync/components/external-secret.yml
  kubernetes/flux/notifications/external-secret.yml
Labels: relative/kubernetes

fix(paperless-ngx): increase limits
  kubernetes/apps/paperless-ngx/helm-release.yml
Labels: relative/kubernetes

ci: ignore requirements that's auto generated
  renovate.json5
Labels: none

chore(flux): bump oci spec
  kubernetes/core/tofu-controller/oci-repository.yml
Labels: relative/kubernetes

Revert "chore(flux): bump oci spec"
  kubernetes/core/tofu-controller/oci-repository.yml
Labels: relative/kubernetes

ci: redo groups
  .renovate/groups.json5
Labels: relative/renovate

test(headlamp): test pluginsManager
  kubernetes/apps/headlamp/helm-release.yml
Labels: relative/kubernetes

chore(prometheus): swtiched to prompp
  kubernetes/core/prometheus/helm-release.yml
Labels: relative/kubernetes

chore(prometheus): add grafana dashboards
  kubernetes/core/prometheus/helm-release.yml
Labels: relative/kubernetes

deploy grafana-operator
  kubernetes/core/grafana-operator/external-secret.yml
  kubernetes/core/grafana-operator/flux-kustomization.yml
  kubernetes/core/grafana-operator/helm-release.yml
  kubernetes/core/grafana-operator/kustomization.yml
  kubernetes/core/grafana-operator/source.yml
  kubernetes/core/kustomization.yml
Labels: relative/kubernetes

chore(grafana-operator): removed unused values
  kubernetes/core/grafana-operator/flux-kustomization.yml
  kubernetes/core/grafana-operator/source.yml
  kubernetes/flux/namespaces/kustomization.yml
Labels: relative/kubernetes

chore(grafana-operator): remove extraObjects
  kubernetes/core/grafana-operator/helm-release.yml
Labels: relative/kubernetes

Revert "chore(grafana-operator): remove extraObjects"
  kubernetes/core/grafana-operator/helm-release.yml
Labels: relative/kubernetes

feat(terraform): contrained version to minor
  terraform/_modules/authentik/oauth2_app/providers.tf
  terraform/_modules/authentik/proxy_app/providers.tf
  terraform/_modules/aws_vm/providers.tf
  terraform/authentik/providers.tf
  terraform/aws/providers.tf
  terraform/backblaze/providers.tf
  terraform/cloudflare/providers.tf
  terraform/monitoring/providers.tf
  terraform/opnsense/providers.tf
  terraform/proxmox/providers.tf
  terraform/servarr/providers.tf
  terraform/unifi/providers.tf
  terraform/uptime-robot/providers.tf
Labels: relative/terraform

feat(prometheus): add dashboards to grafana operator
  kubernetes/core/prometheus/helm-release.yml
Labels: relative/kubernetes

fix(prometheus): wrong key name
  kubernetes/core/prometheus/helm-release.yml
Labels: relative/kubernetes

add keda operator
  kubernetes/core/keda-operator/flux-kustomization.yml
  kubernetes/core/keda-operator/helm-release.yml
  kubernetes/core/keda-operator/kustomization.yml
  kubernetes/core/keda-operator/source.yml
  kubernetes/core/kustomization.yml
Labels: relative/kubernetes

add blackbox exporter
  kubernetes/core/blackbox-exporter/flux-kustomization.yml
  kubernetes/core/blackbox-exporter/helm-release.yml
  kubernetes/core/blackbox-exporter/kustomization.yml
  kubernetes/core/blackbox-exporter/probes.yml
  kubernetes/core/blackbox-exporter/source.yml
  kubernetes/core/kustomization.yml
Labels: relative/kubernetes

fix(blackbox-exporter): ks name
  kubernetes/core/blackbox-exporter/flux-kustomization.yml
  kubernetes/core/blackbox-exporter/source.yml
Labels: relative/kubernetes

feat(blackbox-exporter): add tcp probes
  kubernetes/core/blackbox-exporter/probes.yml
Labels: relative/kubernetes

feat(keda): scale recommendarr based on ollama availability
  kubernetes/apps/recommendarr/flux-kustomization.yml
  kubernetes/core/keda-operator/_components/ollama/kustomization.yml
  kubernetes/core/keda-operator/_components/ollama/scaled-object.yml
Labels: relative/kubernetes

chore(keda-operator): restore objects replica count
  kubernetes/core/keda-operator/_components/ollama/scaled-object.yml
Labels: relative/kubernetes

feat(keda-operator): get granular with keda values
  kubernetes/core/keda-operator/_components/ollama/scaled-object.yml
Labels: relative/kubernetes

feat(karakeep): add keda scaled object
  kubernetes/apps/karakeep/flux-kustomization.yml
Labels: relative/kubernetes

feat(keda): add nfs scaler to all dependant apps
  kubernetes/apps/bazarr/flux-kustomization.yml
  kubernetes/apps/immich/flux-kustomization.yml
  kubernetes/apps/maintainerr/flux-kustomization.yml
  kubernetes/apps/paperless-ngx/flux-kustomization.yml
  kubernetes/apps/plex/flux-kustomization.yml
  kubernetes/apps/qbittorrent/flux-kustomization.yml
  kubernetes/apps/radarr/flux-kustomization.yml
  kubernetes/apps/sabnzbd/flux-kustomization.yml
  kubernetes/apps/sonarr/flux-kustomization.yml
  kubernetes/core/blackbox-exporter/probes.yml
  kubernetes/core/keda-operator/_components/nfs/kustomization.yml
  kubernetes/core/keda-operator/_components/nfs/scaled-object.yml
Labels: relative/kubernetes

temp
  .renovate/customManagers.json5
Labels: relative/renovate

chore(bazarr): changed exportarr image
  kubernetes/apps/bazarr/helm-release.yml
Labels: relative/kubernetes

ci: ignore spegel for now
  renovate.json5
Labels: none

fix(headlamp): increase mem limits
  kubernetes/apps/headlamp/helm-release.yml
Labels: relative/kubernetes
