Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

fix(palworld): add tmp dir and changed limits
  kubernetes/apps/palworld/helm-release.yml
  kubernetes/apps/rmfakecloud/external-secret.yml
  kubernetes/apps/rmfakecloud/flux-kustomization.yml
  kubernetes/apps/rmfakecloud/helm-release.yml
  kubernetes/apps/rmfakecloud/kustomization.yml
Labels: relative/kubernetes

feat(palworld): add additional settings for community
  kubernetes/apps/palworld/external-secret.yml
  kubernetes/apps/palworld/helm-release.yml
Labels: relative/kubernetes

feat(palworld): add multiplayer
  kubernetes/apps/palworld/helm-release.yml
Labels: relative/kubernetes

feat(seerr): update images
  kubernetes/apps/seerr/helm-release.yml
Labels: relative/kubernetes

use urlib instead of requests for terraform
  terraform/.envrc
  terraform/bws_lookup.py
Labels: relative/terraform

add single node openshift dns settings
  terraform/gravity/dns.tf
Labels: relative/terraform

add new leases
  terraform/opnsense/leases.json
Labels: relative/terraform

feat(mediamanager): apply new config changes
  kubernetes/apps/mediamanager/config.toml
  kubernetes/apps/mediamanager/helm-release.yml
Labels: relative/kubernetes

feat: prep for seerr migration
  kubernetes/apps/kustomization.yml
  kubernetes/apps/seerr/flux-kustomization.yml
  kubernetes/apps/seerr/helm-release.yml
  kubernetes/apps/seerr/kustomization.yml
Labels: relative/kubernetes

feat(seerr): update images
  kubernetes/apps/seerr/helm-release.yml
Labels: relative/kubernetes

feat(flux): add web
  kubernetes/core/flux-operator/values.yml
Labels: relative/kubernetes

feat(flux): add web
  kubernetes/core/flux-operator/values.yml
Labels: relative/kubernetes

chore: removed unused VMs
  terraform/proxmox/guest-machines.tf
  terraform/proxmox/snippets.tf
  terraform/proxmox/vars.tf
Labels: relative/terraform

use nfsv4.2 instead
  kubernetes/talos/talconfig.yml
Labels: relative/kubernetes, area/talos

feat(k8s): replace ephemera with shelfmark
  kubernetes/apps/ephemera/entrypoint.sh
  kubernetes/apps/ephemera/helm-release.yml
  kubernetes/apps/ephemera/kustomization.yml
  kubernetes/apps/kustomization.yml
  kubernetes/apps/shelfmark/flux-kustomization.yml
  kubernetes/apps/shelfmark/helm-release.yml
  kubernetes/apps/shelfmark/kustomization.yml
Labels: relative/kubernetes

fix(shelfmark): add volsync cr
  kubernetes/apps/shelfmark/flux-kustomization.yml
Labels: relative/kubernetes

fix(shelfmark): add volsync envs
  kubernetes/apps/shelfmark/flux-kustomization.yml
Labels: relative/kubernetes

feat(rook-ceph): add cephFS
  kubernetes/core/rook-ceph/cluster/helm-release.yml
Labels: relative/kubernetes

fix(shelfmark): swapped to statefulset
  kubernetes/apps/shelfmark/helm-release.yml
Labels: relative/kubernetes

removed palworld
  kubernetes/apps/kustomization.yml
  kubernetes/apps/palworld/external-secret.yml
  kubernetes/apps/palworld/flux-kustomization.yml
  kubernetes/apps/palworld/helm-release.yml
  kubernetes/apps/palworld/kustomization.yml
  kubernetes/apps/palworld/source.yml
Labels: relative/kubernetes

fix(shelfmark): persistence name
  kubernetes/apps/shelfmark/helm-release.yml
Labels: relative/kubernetes

refactor apps
  kubernetes/apps/bazarr/helm-release.yml
  kubernetes/apps/booklore/helm-release.yml
  kubernetes/apps/diff2rss/helm-release.yml
  kubernetes/apps/karakeep/helm-release.yml
  kubernetes/apps/maintainerr/helm-release.yml
  kubernetes/apps/mediamanager/helm-release.yml
  kubernetes/apps/miniflux/helm-release.yml
  kubernetes/apps/paperless-ngx/helm-release.yml
  kubernetes/apps/plex-auto-languages/helm-release.yml
  kubernetes/apps/plex/helm-release.yml
  kubernetes/apps/prowlarr/helm-release.yml
  kubernetes/apps/qbittorrent/helm-release.yml
  kubernetes/apps/radarr/helm-release.yml
  kubernetes/apps/recyclarr/helm-release.yml
  kubernetes/apps/rmfakecloud/helm-release.yml
  kubernetes/apps/sabnzbd/helm-release.yml
  kubernetes/apps/seerr/helm-release.yml
  kubernetes/apps/shelfmark/helm-release.yml
  kubernetes/apps/sonarr/helm-release.yml
  kubernetes/apps/tautulli/helm-release.yml
  kubernetes/apps/teslamate/helm-release.yml
  kubernetes/apps/teslamateapi/helm-release.yml
  kubernetes/apps/your-spotify/helm-release.yml
Labels: relative/kubernetes

fix(cilium): removed tolerations
  kubernetes/core/cilium/helm-release.yml
Labels: relative/kubernetes

feat(recyclarr): remove depracated key
  kubernetes/apps/recyclarr/recyclarr.yml
Labels: relative/kubernetes

feat(servarr): update address for services
  terraform/servarr/prowlarr.tf
  terraform/servarr/radarr.tf
  terraform/servarr/sonarr.tf
Labels: relative/terraform

chore(mediamanager): update prowlarr address
  kubernetes/apps/mediamanager/config.toml
Labels: relative/kubernetes

chore(external-secrets): no longer set image in hr
  kubernetes/core/external-secrets/values.yml
Labels: relative/kubernetes

fix(flux-operator): web ui netpol too restrictive
  kubernetes/core/flux-operator/values.yml
Labels: relative/kubernetes

Revert "feat(helm): update chart rook-ceph-cluster ( v1.18.8 → v1.19.0 )"
  kubernetes/core/rook-ceph/cluster/helm-release.yml
Labels: relative/kubernetes

Revert "feat(helm): update chart rook-ceph ( v1.18.8 → v1.19.0 )"
  kubernetes/core/rook-ceph/helm-release.yml
Labels: relative/kubernetes

fix(rook-ceph): enable features for cephFS
  kubernetes/core/rook-ceph/helm-release.yml
Labels: relative/kubernetes

fix(rook-ceph): revert back all the changes
  kubernetes/core/rook-ceph/cluster/helm-release.yml
  kubernetes/core/rook-ceph/helm-release.yml
Labels: relative/kubernetes

add new record
  terraform/cloudflare/a_records.tf
  terraform/cloudflare/providers.tf
Labels: relative/terraform

chore(rook-ceph): increased mem limits for rbd
  kubernetes/core/rook-ceph/helm-release.yml
Labels: relative/kubernetes

Fix memory limits for Ceph CSI driver and typo correction
  kubernetes/core/rook-ceph/helm-release.yml
Labels: relative/kubernetes

fix(external-dns): flux ks needed targetNamespace
  kubernetes/core/external-dns/flux-kustomization.yml
Labels: relative/kubernetes

chore(rook-ceph): lowered mon avail warning value
  kubernetes/core/rook-ceph/cluster/helm-release.yml
Labels: relative/kubernetes

drop mediamanager
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

fix(rook-ceph): schema was incorrect
  kubernetes/core/rook-ceph/cluster/helm-release.yml
Labels: relative/kubernetes

bump diff2rss
  kubernetes/apps/diff2rss/helm-release.yml
Labels: relative/kubernetes
