Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

add ollama
  kubernetes/apps/kustomization.yml
  kubernetes/apps/ollama/helm-release.yml
Labels: relative/kubernetes

increase ollama storage
  kubernetes/apps/ollama/helm-release.yml
Labels: relative/kubernetes

fix(maintainerr): volsync cache
  kubernetes/apps/maintainerr/flux-kustomization.yml
  kubernetes/apps/maintainerr/helm-release.yml
Labels: relative/kubernetes

fix volsync capacity
  kubernetes/apps/bazarr/flux-kustomization.yml
  kubernetes/apps/bazarr/helm-release.yml
  kubernetes/apps/jellyseerr/flux-kustomization.yml
  kubernetes/apps/jellyseerr/helm-release.yml
  kubernetes/apps/karakeep/flux-kustomization.yml
  kubernetes/apps/karakeep/helm-release.yml
  kubernetes/apps/maintainerr/helm-release.yml
  kubernetes/apps/paperless-ngx/flux-kustomization.yml
  kubernetes/apps/paperless-ngx/helm-release.yml
  kubernetes/apps/plex/flux-kustomization.yml
  kubernetes/apps/plex/helm-release.yml
  kubernetes/apps/prowlarr/flux-kustomization.yml
  kubernetes/apps/prowlarr/helm-release.yml
  kubernetes/apps/qbittorrent/flux-kustomization.yml
  kubernetes/apps/qbittorrent/helm-release.yml
  kubernetes/apps/radarr/flux-kustomization.yml
  kubernetes/apps/radarr/helm-release.yml
  kubernetes/apps/sabnzbd/flux-kustomization.yml
  kubernetes/apps/sabnzbd/helm-release.yml
  kubernetes/apps/slash/flux-kustomization.yml
  kubernetes/apps/slash/helm-release.yml
  kubernetes/apps/sonarr/flux-kustomization.yml
  kubernetes/apps/sonarr/helm-release.yml
  kubernetes/apps/tautulli/flux-kustomization.yml
  kubernetes/apps/tautulli/helm-release.yml
  kubernetes/apps/unifi-controller/flux-kustomization.yml
  kubernetes/apps/unifi-controller/helm-release.yml
  kubernetes/apps/your-spotify/flux-kustomization.yml
  kubernetes/apps/your-spotify/helm-release.yml
Labels: relative/kubernetes

feat(volsync): lowered cacheCapacity for repl source
  kubernetes/apps/bazarr/helm-release.yml
  kubernetes/apps/jellyseerr/helm-release.yml
  kubernetes/apps/karakeep/helm-release.yml
  kubernetes/apps/maintainerr/helm-release.yml
  kubernetes/apps/paperless-ngx/helm-release.yml
  kubernetes/apps/plex/helm-release.yml
  kubernetes/apps/prowlarr/helm-release.yml
  kubernetes/apps/qbittorrent/helm-release.yml
  kubernetes/apps/radarr/helm-release.yml
  kubernetes/apps/sabnzbd/helm-release.yml
  kubernetes/apps/slash/helm-release.yml
  kubernetes/apps/sonarr/helm-release.yml
  kubernetes/apps/tautulli/helm-release.yml
  kubernetes/apps/unifi-controller/helm-release.yml
  kubernetes/apps/your-spotify/helm-release.yml
  kubernetes/core/volsync/components/replication-source.yml
Labels: relative/kubernetes

update reloader annotations
  kubernetes/apps/authentik/helm-release.yml
  kubernetes/apps/twingate-connector/helm-release.yml
  kubernetes/core/external-dns/builtin/cloudflare/helm-release.yml
Labels: relative/kubernetes

chore: removed app yaml anchor
  kubernetes/apps/authentik/helm-release.yml
  kubernetes/apps/bazarr/helm-release.yml
  kubernetes/apps/jellyseerr/helm-release.yml
  kubernetes/apps/karakeep/helm-release.yml
  kubernetes/apps/maintainerr/helm-release.yml
  kubernetes/apps/miniflux/helm-release.yml
  kubernetes/apps/plex-auto-languages/helm-release.yml
  kubernetes/apps/plex/helm-release.yml
  kubernetes/apps/prowlarr/helm-release.yml
  kubernetes/apps/qbittorrent/helm-release.yml
  kubernetes/apps/radarr/helm-release.yml
  kubernetes/apps/recyclarr/helm-release.yml
  kubernetes/apps/sabnzbd/helm-release.yml
  kubernetes/apps/sonarr/helm-release.yml
  kubernetes/apps/tautulli/helm-release.yml
  kubernetes/apps/twingate-connector/helm-release.yml
  kubernetes/apps/unifi-controller/helm-release.yml
  kubernetes/apps/winxuu/helm-release.yml
  kubernetes/core/external-dns/webhooks/opnsense/helm-release.yml
  kubernetes/core/kromgo/helm-release.yml
  kubernetes/core/node-problem-detector/helm-release.yml
  kubernetes/core/reloader/helm-release.yml
  kubernetes/core/tofu-controller/helm-release.yml
Labels: relative/kubernetes

lowered cache capacity on repl source
  kubernetes/core/volsync/components/replication-destination.yml
Labels: relative/kubernetes

feat(volsync): removed default value for capacity
  kubernetes/core/volsync/components/replication-destination.yml
Labels: relative/kubernetes

add more volsync targets
  kubernetes/apps/obico/flux-kustomization.yml
  kubernetes/apps/obico/helm-release.yml
Labels: relative/kubernetes

add karakeep
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

add miniflux
  kubernetes/apps/kustomization.yml
  kubernetes/apps/miniflux/flux-kustomization.yml
Labels: relative/kubernetes

add backup config
  kubernetes/core/crunchydata-pgo/components/cluster.yml
Labels: relative/kubernetes

Update kustomization.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

Update flux-kustomization.yml
  kubernetes/apps/miniflux/flux-kustomization.yml
Labels: relative/kubernetes

fix(authentik): remove dataSource for pgo
  kubernetes/apps/authentik/flux-kustomization.yml
Labels: relative/kubernetes

fix(authentik): properly remove dataSource for postgres cluster
  kubernetes/apps/authentik/flux-kustomization.yml
Labels: relative/kubernetes

feat(rook-ceph): add disk prediction
  kubernetes/core/rook-ceph/cluster/helm-release.yml
Labels: relative/kubernetes

feat(taskfile): add global node names
  taskfile.yml
Labels: none

chore: changed var name taskfiles
  kubernetes/.taskfiles/rook-ceph/taskfile.yml
  kubernetes/.taskfiles/volsync/taskfile.yml
Labels: relative/kubernetes

feat(taskfiles): add rook ceph wipe task
  kubernetes/.taskfiles/rook-ceph/taskfile.yml
  kubernetes/.taskfiles/rook-ceph/templates/wipe-rook.yml.j2
Labels: relative/kubernetes

feat(taskfile/rook-ceph): use a job instead
  kubernetes/.taskfiles/rook-ceph/taskfile.yml
  kubernetes/.taskfiles/rook-ceph/templates/wipe-rook.yml.j2
Labels: relative/kubernetes

add debug task
  kubernetes/.taskfiles/k8s/taskfile.yml
Labels: relative/kubernetes

chore(CPGO): config adjusted
  kubernetes/core/crunchydata-pgo/components/cluster.yml
Labels: relative/kubernetes

testing(external-dns-opnsense): add annotation-filter for crd endpoints
  kubernetes/core/external-dns/webhooks/opnsense/helm-release.yml
Labels: relative/kubernetes

Revert "testing(external-dns-opnsense): add annotation-filter for crd endpoints"
  kubernetes/core/external-dns/webhooks/opnsense/helm-release.yml
Labels: relative/kubernetes

testing(external-dns): only create records using crds
  kubernetes/core/external-dns/webhooks/opnsense/helm-release.yml
Labels: relative/kubernetes

feat(external-dns-opnsense): use crd instead of ingress
  kubernetes/apps/bazarr/flux-kustomization.yml
  kubernetes/apps/bazarr/helm-release.yml
  kubernetes/apps/headlamp/flux-kustomization.yml
  kubernetes/apps/headlamp/helm-release.yml
  kubernetes/apps/maintainerr/flux-kustomization.yml
  kubernetes/apps/maintainerr/helm-release.yml
  kubernetes/apps/obico/flux-kustomization.yml
  kubernetes/apps/paperless-ngx/flux-kustomization.yml
  kubernetes/apps/paperless-ngx/helm-release.yml
  kubernetes/apps/prowlarr/flux-kustomization.yml
  kubernetes/apps/prowlarr/helm-release.yml
  kubernetes/apps/qbittorrent/flux-kustomization.yml
  kubernetes/apps/qbittorrent/helm-release.yml
  kubernetes/apps/radarr/flux-kustomization.yml
  kubernetes/apps/radarr/helm-release.yml
  kubernetes/apps/sabnzbd/flux-kustomization.yml
  kubernetes/apps/sabnzbd/helm-release.yml
  kubernetes/apps/sonarr/flux-kustomization.yml
  kubernetes/apps/sonarr/helm-release.yml
  kubernetes/apps/tautulli/flux-kustomization.yml
  kubernetes/apps/tautulli/helm-release.yml
  kubernetes/apps/unifi-controller/flux-kustomization.yml
  kubernetes/apps/unifi-controller/helm-release.yml
  kubernetes/core/external-dns/_components/internal/dns-endpoints.yml
  kubernetes/core/external-dns/_components/internal/kustomization.yml
  kubernetes/core/nginx-int-ingress/external-names/grafana.yml
  kubernetes/core/nginx-int-ingress/external-names/prometheus.yml
  kubernetes/core/nginx-int-ingress/external-names/proxmox.yml
  kubernetes/core/nginx-int-ingress/external-names/scanservjs.yml
  kubernetes/core/nginx-int-ingress/external-names/synology.yml
  kubernetes/core/prometheus/flux-kustomization.yml
  kubernetes/core/prometheus/helm-release.yml
  kubernetes/core/rook-ceph/cluster/helm-release.yml
  kubernetes/core/rook-ceph/flux-kustomization.yml
Labels: relative/kubernetes

feat(unifi-controller): switched to external mongodb
  kubernetes/apps/unifi-controller/helm-release.yml
Labels: relative/kubernetes

feat(unifi-controller): update mongo image
  kubernetes/apps/unifi-controller/helm-release.yml
Labels: relative/kubernetes

feat(obico): add gpu
  kubernetes/apps/obico/helm-release.yml
Labels: relative/kubernetes

feat(talos): remove depulicate entries
  kubernetes/talos/talconfig.yml
Labels: relative/kubernetes, area/talos

feat(ansible): add poetry to manage ansible packages
  ansible/.envrc
  ansible/poetry.lock
  ansible/poetry.toml
  ansible/pyproject.toml
  ansible/requirements.txt
Labels: relative/ansible

feat(prometheus): add exportarr for media stacks
  ansible/roles/monitoring/templates/prometheus.yml.j2
Labels: relative/ansible

Revert "drop spegel temp"
  kubernetes/core/kustomization.yml
  kubernetes/talos/talconfig.yml
Labels: relative/kubernetes, area/talos

feat(coredns): add search path hopping
  kubernetes/core/coredns/values.yml
Labels: relative/kubernetes

feat(coredns): add IP validation
  kubernetes/core/coredns/values.yml
Labels: relative/kubernetes

feat(coredns): add caching options
  kubernetes/core/coredns/values.yml
Labels: relative/kubernetes

add talos tasks
  kubernetes/.taskfiles/talos/Taskfile.yml
  taskfile.yml
Labels: relative/kubernetes

moved twingate to pi
  ansible/inventory/host_vars/mgmt-srv-01.yml
  kubernetes/apps/kustomization.yml
  kubernetes/apps/twingate-connector/external-secret.yml
  kubernetes/apps/twingate-connector/flux-kustomization.yml
  kubernetes/apps/twingate-connector/helm-release.yml
  kubernetes/apps/twingate-connector/kustomization.yml
  kubernetes/flux/sources/helm/kustomization.yml
  kubernetes/flux/sources/helm/twingate.yml
Labels: relative/kubernetes, relative/ansible

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
