Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/renovate, relative/scripts, relative/justfile

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
relative/scripts:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/hacks/scripts/**/*"
relative/justfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".justfile"

ci(labeler): allow write access
  .github/workflows/labels-sync.yml
Labels: relative/github

feat(shlink): bump kaygeee
  kubernetes/apps/tools/shlink/app/helm-release.yml
Labels: relative/kubernetes

chore: removed quotes from tags
  kubernetes/apps/tools/immich/app/helm-release.yml
Labels: relative/kubernetes

chore: removed comments
  kubernetes/apps/tools/your-spotify/app/helm-release.yml
Labels: relative/kubernetes

fix(kromgo): ingress class
  kubernetes/core/monitoring/kromgo/app/helm-release.yml
Labels: relative/kubernetes

fix read me
  README.md
  kubernetes/core/monitoring/kromgo/app/config.yml
Labels: relative/docs, relative/kubernetes

feat(kromgo): add more data
  kubernetes/core/monitoring/kromgo/app/config.yml
Labels: relative/kubernetes

docs: readme
  README.md
Labels: relative/docs

feat(kromgo): adjust variables
  kubernetes/core/monitoring/kromgo/app/config.yml
Labels: relative/kubernetes

ci: add metrics generator
  .github/workflows/readme-metrics.yml
  README.md
Labels: relative/docs, relative/github

update readme
  .github/workflows/readme-metrics.yml
  README.md
Labels: relative/docs, relative/github

docs: change to every minute
  .github/workflows/readme-metrics.yml
  README.md
Labels: relative/docs, relative/github

was bullied, reverted
  .github/workflows/readme-metrics.yml
  README.md
Labels: relative/docs, relative/github

fix(kromgo): node count metric
  kubernetes/core/monitoring/kromgo/app/config.yml
Labels: relative/kubernetes

fix(ci): if comment is too long, it fails
  .github/workflows/flux-diff.yaml
Labels: relative/github

feat(ci): use major for mshick workflow
  .github/workflows/flux-diff.yaml
Labels: relative/github

adjust labels
  README.md
  kubernetes/core/monitoring/kromgo/app/config.yml
Labels: relative/docs, relative/kubernetes

redid readme again
  .metadata/logo.png
  README.md
Labels: relative/docs

changed readme
  README.md
Labels: relative/docs

feat(cloudflare): add dns records
  terraform/cloudflare/a_records.tf
  terraform/cloudflare/providers.tf
Labels: none

ci: markdown lint name
  .markdownlint.yaml
Labels: none

ci: add more linting
  .github/workflows/global-lint.yaml
  .markdownlint.yml
  .prettierignore
  .prettierrc.yml
Labels: relative/github

fix(ci): removed labels
  .github/workflows/build-images.yaml
  .github/workflows/packer-automated-builds.yaml
  .github/workflows/terraform-oci-manifests.yaml
Labels: relative/github

feat(k8s/flux): add authentik again
  kubernetes/apps/security/authentik/app/helm-release.yml
  kubernetes/apps/security/kustomization.yml
Labels: relative/kubernetes

feat(it-tools): use bernds image instead
  kubernetes/apps/tools/it-tools/app/helm-release.yml
Labels: relative/kubernetes

drop authentik
  kubernetes/apps/security/kustomization.yml
Labels: relative/kubernetes

chore(vscode): settings
  .vscode/settings.json
Labels: none

update code block
  README.md
Labels: relative/docs

restructure workflows
  .github/.metadata/logo.png
  .github/workflows/build-images.yml
  .github/workflows/flux-diff.yml
  .github/workflows/global-lint.yml
  .github/workflows/kubernetes-pluto.yml
  .github/workflows/terraform-lint.yml
  .github/workflows/terraform-oci-manifests.yml
  README.md
Labels: relative/docs, relative/github

fmt
  .github/workflows/ansible-linting.yml
  .github/workflows/build-images.yml
  .github/workflows/global-lint.yml
  .github/workflows/kubernetes-pluto.yml
  kubernetes/apps/tools/it-tools/app/helm-release.yml
Labels: relative/github, relative/kubernetes

ci(tf_lint): removed hardcoded value
  .github/workflows/terraform-lint.yml
Labels: relative/github

ci(tflint): add dir to cli cmd
  .github/workflows/terraform-lint.yml
Labels: relative/github

chore(terraform): lint and fmt
  terraform/_modules/authentik/oauth2_app/data.tf
  terraform/_modules/authentik/oauth2_app/main.tf
  terraform/_modules/authentik/oauth2_app/providers.tf
  terraform/_modules/authentik/oauth2_app/vars.tf
  terraform/_modules/authentik/proxy_app/providers.tf
  terraform/_modules/aws_vm/providers.tf
  terraform/_modules/internal_dns/stacked_dns_records.tf
  terraform/_modules/proxmox_clone/main.tf
  terraform/_modules/proxmox_clone/outputs.tf
  terraform/_modules/proxmox_clone/variables.tf
  terraform/_modules/proxmox_vm/data.tf
  terraform/_modules/proxmox_vm/providers.tf
  terraform/_modules/proxmox_vm/variables.tf
  terraform/authentik/data.tf
  terraform/authentik/providers.tf
  terraform/authentik/vars.tf
  terraform/aws/providers.tf
  terraform/aws/vars.tf
  terraform/backblaze/providers.tf
  terraform/cloudflare/data.tf
  terraform/cloudflare/email_routing.tf
  terraform/cloudflare/providers.tf
  terraform/cloudflare/variables.tf
  terraform/monitoring/providers.tf
  terraform/opnsense/data.tf
  terraform/opnsense/providers.tf
  terraform/proxmox/data.tf
  terraform/proxmox/providers.tf
  terraform/proxmox/vars.tf
  terraform/servarr/providers.tf
  terraform/unifi/providers.tf
  terraform/unifi/variables.tf
  terraform/uptime-robot/providers.tf
Labels: none

ci: fix workflows
  .github/workflows/ansible-lint.yml
  .github/workflows/ansible-linting.yml
  .github/workflows/terraform-lint.yml
Labels: relative/github

ci(ansible): specify correct requirements file
  .github/workflows/ansible-lint.yml
Labels: relative/github

ci(ansible): add pip caching
  .github/workflows/ansible-lint.yml
Labels: relative/github

ci(ansible): removed python version
  .github/workflows/ansible-lint.yml
Labels: relative/github

ci(ansible): add caching to galaxy dependencies
  .github/workflows/ansible-lint.yml
Labels: relative/github

additional pre-commits
  .pre-commit-config.yaml
Labels: none

arrange pre-commit
  .pre-commit-config.yaml
Labels: none
