Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

feat(ansible): add ai vm
  ansible/inventory/static.yml
Labels: relative/ansible

feat(ansible): using debian trixie now
  ansible/playbooks/install_nvidia_cuda_drivers.yml
  terraform/proxmox/images.tf
Labels: relative/terraform, relative/ansible

feat: switched to generic images instead of cloud
  terraform/proxmox/images.tf
Labels: relative/terraform

feat(terraform): add gpu mapping for titan x maxwell
  terraform/proxmox/main.tf
Labels: relative/terraform

misc
  terraform/proxmox/outputs.tf
Labels: relative/terraform

feat(terraform): use cloudinit images now for proxmox
  terraform/proxmox/guest-machines.tf
  terraform/proxmox/snippets.tf
Labels: relative/terraform

feat(ansible): add install ollama role
  ansible/roles/ollama/defaults/main.yml
  ansible/roles/ollama/handlers/main.yml
  ansible/roles/ollama/tasks/main.yml
  ansible/roles/ollama/templates/ollama.service.j2
Labels: relative/ansible

feat(ansible): use localized user for role
  ansible/roles/linux_setup/handlers/main.yml
  ansible/roles/linux_setup/tasks/disk.yml
  ansible/roles/linux_setup/tasks/main.yml
  ansible/roles/linux_setup/tasks/user.yml
Labels: relative/ansible

fix(ansible): playbook user change
  ansible/playbooks/setup_node.yml
Labels: relative/ansible

fix(ansible): playbook user change
  ansible/playbooks/setup_node.yml
  ansible/playbooks/setup_ollama.yml
Labels: relative/ansible

feat(ollama): add read timeout to ingress
  kubernetes/core/nginx-int-ingress/external-names/ollama.yml
Labels: relative/kubernetes

feat(terraform): up the cores to give it more breathing room
  terraform/proxmox/guest-machines.tf
Labels: relative/terraform

misc
  .gitignore
Labels: none

update twingate secrets
  ansible/inventory/host_vars/mgmt-srv-01.yml
Labels: relative/ansible

feat: updste gitignore
  .gitignore
Labels: none

feat(ollama): use gemma for inference
  kubernetes/apps/karakeep/helm-release.yml
Labels: relative/kubernetes

feat(ansible): add maintenance task
  ansible/playbooks/maintenance/check_disk_space.yml
Labels: relative/ansible

feat(semaphore): removed oidc for now
  ansible/roles/semaphore/defaults/main.yml
  ansible/roles/semaphore/tasks/main.yml
Labels: relative/ansible

chore(semaphore): switched to private ingress for now
  kubernetes/core/nginx-ext-ingress/external-names/semaphore.yml
Labels: relative/kubernetes

oops
  kubernetes/core/nginx-ext-ingress/external-names/kustomization.yml
  kubernetes/core/nginx-int-ingress/external-names/kustomization.yml
  kubernetes/core/nginx-int-ingress/external-names/semaphore.yml
Labels: relative/kubernetes

test
  kubernetes/core/nginx-int-ingress/external-names/semaphore.yml
Labels: relative/kubernetes

fix(semaphore): path rules and stricter deny rule
  kubernetes/core/nginx-int-ingress/external-names/semaphore.yml
Labels: relative/kubernetes

chore(semaphore): implement rate limiting
  kubernetes/core/nginx-int-ingress/external-names/semaphore.yml
Labels: relative/kubernetes

feat(ansible): add requirements for semaphore to use
  ansible/collections/requirements.yml
  ansible/roles/requirements.yml
Labels: relative/ansible

add more yaml schemas
  kubernetes/core/flux-instance/ingress-flux-webhook.yml
  kubernetes/core/nginx-ext-ingress/external-names/home-assistant.yml
  kubernetes/core/nginx-int-ingress/external-names/grafana.yml
  kubernetes/core/nginx-int-ingress/external-names/ollama.yml
  kubernetes/core/nginx-int-ingress/external-names/prometheus.yml
  kubernetes/core/nginx-int-ingress/external-names/proxmox.yml
  kubernetes/core/nginx-int-ingress/external-names/scanservjs.yml
  kubernetes/core/nginx-int-ingress/external-names/semaphore.yml
  kubernetes/core/nginx-int-ingress/external-names/synology.yml
  kubernetes/flux/notifications/error-gitrepository.yml
  kubernetes/flux/notifications/error-helm.yml
  kubernetes/flux/notifications/error-kustomize.yml
  kubernetes/flux/notifications/flux-errors-provider.yml
Labels: relative/kubernetes

add playbook
  ansible/playbooks/setup_ollama.yml
Labels: relative/ansible

deploy semaphore in kubessssssssss
  kubernetes/apps/kustomization.yml
  kubernetes/apps/semaphore/external-secret.yml
  kubernetes/apps/semaphore/flux-kustomization.yml
  kubernetes/apps/semaphore/helm-release.yml
  kubernetes/apps/semaphore/kustomization.yml
  kubernetes/apps/semaphore/source.yml
Labels: relative/kubernetes

feat: shorten cmd for guest agent
  terraform/proxmox/snippets.tf
Labels: relative/terraform

feat(cloud-init): add ssh key from git instead
  terraform/proxmox/snippets.tf
Labels: relative/terraform

switched images for unifi-controller
  kubernetes/apps/unifi-controller/flux-kustomization.yml
  kubernetes/apps/unifi-controller/helm-release.yml
Labels: relative/kubernetes

feat(unifi-controller): add unifi record for discovery
  kubernetes/apps/unifi-controller/dns-endpoint.yml
  kubernetes/apps/unifi-controller/kustomization.yml
Labels: relative/kubernetes

feat(unifi-controller): add healthcheck to mongodb
  kubernetes/apps/unifi-controller/helm-release.yml
Labels: relative/kubernetes

chore(ansible): removed unused collections
  ansible/collections/requirements.yml
  ansible/roles/requirements.yml
Labels: relative/ansible

ci: add ansible requirements generator
  .github/workflows/ansible-requirements.yml
Labels: relative/github

feat(ansible): add poetry plugins
  .github/workflows/ansible-requirements.yml
  ansible/pyproject.toml
Labels: relative/github, relative/ansible

adjusted
  .github/workflows/ansible-requirements.yml
Labels: relative/github

ci: add default working-dir
  .github/workflows/ansible-requirements.yml
Labels: relative/github

ci: add default working-dir
  .github/workflows/ansible-requirements.yml
Labels: relative/github

fix ingress
  kubernetes/apps/plex/helm-release.yml
  kubernetes/core/cilium/flux-kustomization.yml
  kubernetes/core/cilium/values.yml
Labels: relative/kubernetes

styling(ansible): ports
  ansible/inventory/host_vars/mgmt-srv-01.yml
Labels: relative/ansible
