Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

no longer need
  ansible/inventory/static.yml
Labels: relative/ansible

remove cache for apex zone
  terraform/gravity/dns.tf
Labels: relative/terraform

drop apps for now
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

update schemas 2026-05-07T10:30:18Z
  index.html
Labels: none

fix(prowlarr): increase mem limits
  kubernetes/apps/prowlarr/helm-release.yml
Labels: relative/kubernetes

update schemas 2026-05-08T10:30:19Z
  index.html
Labels: none

update schemas 2026-05-09T10:30:18Z
  index.html
  master-standalone/tuppr.home-operations.com-kubernetesupgrade-stable-v1alpha1.json
  tuppr.home-operations.com/kubernetesupgrade_v1alpha1.html
  tuppr.home-operations.com/kubernetesupgrade_v1alpha1.json
Labels: none

chore(dawarich): don't use dragonfly
  kubernetes/apps/dawarich/flux-kustomization.yml
Labels: relative/kubernetes

feat(terraform): add sure to authentik apps
  terraform/authentik/applications.tf
  terraform/authentik/providers.tf
Labels: relative/terraform

feat(sure): init
  kubernetes/apps/kustomization.yml
  kubernetes/apps/sure/external-secret.yml
  kubernetes/apps/sure/flux-kustomization.yml
  kubernetes/apps/sure/helm-release.yml
  kubernetes/apps/sure/kustomization.yml
  kubernetes/apps/sure/source.yml
Labels: relative/kubernetes

feat: remove dragonfly
  kubernetes/core/dragonfly-operator/components/cluster.yml
  kubernetes/core/dragonfly-operator/components/kustomization.yml
  kubernetes/core/dragonfly-operator/flux-kustomization.yml
  kubernetes/core/dragonfly-operator/helm-release.yml
  kubernetes/core/dragonfly-operator/kustomization.yml
  kubernetes/core/dragonfly-operator/source.yml
  kubernetes/core/kustomization.yml
Labels: relative/kubernetes

add sure ns
  kubernetes/flux/00-namespaces.yml
Labels: relative/kubernetes

testing
  kubernetes/apps/sure/helm-release.yml
Labels: relative/kubernetes

testing
  kubernetes/apps/sure/external-secret.yml
  kubernetes/apps/sure/helm-release.yml
Labels: relative/kubernetes

testing
  kubernetes/apps/sure/helm-release.yml
Labels: relative/kubernetes

testing
  kubernetes/apps/sure/helm-release.yml
Labels: relative/kubernetes

update schemas 2026-05-10T10:30:23Z
  index.html
Labels: none

docs(k8s): update component reference docs
  kubernetes/core/cilium/reference.md
Labels: relative/kubernetes

update schemas 2026-05-11T10:30:18Z
  index.html
Labels: none

init kro
  kubernetes/core/kro/flux-kustomization.yml
  kubernetes/core/kro/helm-release.yml
  kubernetes/core/kro/kustomization.yml
  kubernetes/core/kro/source.yml
  kubernetes/core/kustomization.yml
  kubernetes/flux/00-namespaces.yml
Labels: relative/kubernetes

remove tofu controller
  kubernetes/core/tofu-controller/resources/kustomization.yml
Labels: relative/kubernetes

drop sure
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

bring up to date
  kubernetes/apps/sure/helm-release.yml
Labels: relative/kubernetes

remove kcl
  .github/workflows/kubernetes-kcl-oci.yml
  kubernetes/.taskfiles/kcl/taskfile.yml
  kubernetes/README.md
  kubernetes/kcl/README.md
  kubernetes/kcl/apps/bazarr.k
  kubernetes/kcl/apps/kustomization.yml
  kubernetes/kcl/apps/prowlarr.k
  kubernetes/kcl/apps/radarr.k
  kubernetes/kcl/apps/sonarr.k
  kubernetes/kcl/kcl.mod
  kubernetes/kcl/kcl.mod.lock
  kubernetes/kcl/schemas/app.k
  kubernetes/kcl/schemas/emit.k
  kubernetes/kcl/schemas/external_secret.k
  kubernetes/kcl/schemas/flux_kustomization.k
  kubernetes/kcl/schemas/helm_release.k
  kubernetes/kcl/schemas/raw_workload.k
  kubernetes/kcl/schemas/volsync.k
  taskfile.yml
Labels: relative/github, relative/kubernetes

feat(kro): add featuregate
  kubernetes/core/kro/helm-release.yml
Labels: relative/kubernetes

update schemas 2026-05-12T10:30:19Z
  index.html
  internal.kro.run/graphrevision_v1alpha1.html
  internal.kro.run/graphrevision_v1alpha1.json
  kro.run/mediaapp_v1alpha1.html
  kro.run/mediaapp_v1alpha1.json
  kro.run/resourcegraphdefinition_v1alpha1.html
  kro.run/resourcegraphdefinition_v1alpha1.json
  master-standalone/internal.kro.run-graphrevision-stable-v1alpha1.json
  master-standalone/kro.run-mediaapp-stable-v1alpha1.json
  master-standalone/kro.run-resourcegraphdefinition-stable-v1alpha1.json
Labels: none

update schemas 2026-05-13T10:30:24Z
  index.html
  kro.run/mediaapp_v1alpha1.html
  kro.run/mediaapp_v1alpha1.json
  master-standalone/kro.run-mediaapp-stable-v1alpha1.json
  master-standalone/tuppr.home-operations.com-kubernetesupgrade-stable-v1alpha1.json
  master-standalone/tuppr.home-operations.com-talosupgrade-stable-v1alpha1.json
  tuppr.home-operations.com/kubernetesupgrade_v1alpha1.html
  tuppr.home-operations.com/kubernetesupgrade_v1alpha1.json
  tuppr.home-operations.com/talosupgrade_v1alpha1.html
  tuppr.home-operations.com/talosupgrade_v1alpha1.json
Labels: none

update schemas 2026-05-15T10:30:18Z
  index.html
  master-standalone/tuppr.home-operations.com-kubernetesupgrade-stable-v1alpha1.json
  master-standalone/tuppr.home-operations.com-talosupgrade-stable-v1alpha1.json
  tuppr.home-operations.com/kubernetesupgrade_v1alpha1.html
  tuppr.home-operations.com/kubernetesupgrade_v1alpha1.json
  tuppr.home-operations.com/talosupgrade_v1alpha1.html
  tuppr.home-operations.com/talosupgrade_v1alpha1.json
Labels: none

update schemas 2026-05-16T10:30:18Z
  index.html
Labels: none

update schemas 2026-05-17T10:30:19Z
  index.html
Labels: none

docs(k8s): update component reference docs
  kubernetes/core/cilium/reference.md
  kubernetes/core/envoy-gateway/reference.md
  kubernetes/core/volsync/reference.md
Labels: relative/kubernetes

Revert "feat(container): update image ghcr.io/home-operations/kopia ( 0.22.3 → 0.23.0 )"
  kubernetes/core/volsync/kopia-hr.yml
Labels: relative/kubernetes

Update helm-release.yml
  kubernetes/core/rook-ceph/cluster/helm-release.yml
Labels: relative/kubernetes

Update helm-release.yml
  kubernetes/core/rook-ceph/helm-release.yml
Labels: relative/kubernetes

removed tautulli
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

feat(jellyfin): make public and enforce protection
  kubernetes/apps/jellyfin/helm-release.yml
Labels: relative/kubernetes

add kro stuff
  kubernetes/apps/karakeep/app.yml
  kubernetes/apps/sonarr-test/app.yml
  kubernetes/kro-migration-plan.md
  kubernetes/kro/clusterrole.yml
  kubernetes/kro/generic-app-rgd.yml
  kubernetes/kro/media-rgd.yml
Labels: relative/kubernetes

untag VLAN 20 on port 4
  terraform/mikrotik/interfaces.tf
  terraform/mikrotik/variables.tf
Labels: relative/terraform

feat: add yamlpath
  kubernetes/poetry.lock
  kubernetes/pyproject.toml
Labels: relative/kubernetes

chore(jellyfin): ro media mount
  kubernetes/apps/jellyfin/helm-release.yml
Labels: relative/kubernetes
