Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/renovate, relative/scripts, relative/justfile

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
relative/scripts:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/hacks/scripts/**/*"
relative/justfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".justfile"

ci(ansible): fmt
  .github/workflows/ansible-lint.yml
Labels: relative/github

ci: rename workflow
  .github/workflows/global-lint.yml
Labels: relative/github

ci(terraform): removed misc comment
  .github/workflows/terraform-lint.yml
Labels: relative/github

ci(ansible): cache path
  .github/workflows/ansible-lint.yml
Labels: relative/github

testing
  kubernetes/apps/security/kustomization.yml
Labels: relative/kubernetes

changed authentik vers
  kubernetes/apps/security/authentik/app/helm-release.yml
Labels: relative/kubernetes

back to latest
  kubernetes/apps/security/authentik/app/helm-release.yml
Labels: relative/kubernetes

fix(authentik): changed secret name
  kubernetes/apps/security/authentik/app/external-secret.yml
  kubernetes/apps/security/authentik/app/helm-release.yml
Labels: relative/kubernetes

feat(authentik): disable embedded outpost
  kubernetes/apps/security/authentik/app/helm-release.yml
Labels: relative/kubernetes

feat(authentik): update ingresses according to authentik outpost
  kubernetes/apps/media/bazarr/app/helm-release.yml
  kubernetes/apps/media/jellyfin/app/helm-release.yml
  kubernetes/apps/media/maintainerr/app/helm-release.yml
  kubernetes/apps/media/prowlarr/app/helm-release.yml
  kubernetes/apps/media/qbittorrent/app/helm-release.yml
  kubernetes/apps/media/radarr/app/helm-release.yml
  kubernetes/apps/media/sabnzbd/app/helm-release.yml
  kubernetes/apps/media/sonarr/app/helm-release.yml
  terraform/authentik/main.tf
Labels: relative/kubernetes

ci: add tf pre-commits
  .pre-commit-config.yaml
Labels: none

ci: removed trivy pre-commit
  .pre-commit-config.yaml
Labels: none

chore(terraform): fmt
  terraform/authentik/backend.tf
  terraform/authentik/directory.tf
  terraform/authentik/main.tf
  terraform/authentik/providers.tf
Labels: none

docs: update readme
  README.md
Labels: relative/docs

docs: fmt readme
  README.md
Labels: relative/docs

chore(flux): removed wait
  kubernetes/apps/game-servers/factorio/ks.yml
  kubernetes/apps/media/bazarr/ks.yml
  kubernetes/apps/media/jellyfin/ks.yml
  kubernetes/apps/media/jellyplex/ks.yml
  kubernetes/apps/media/jellyseerr/ks.yml
  kubernetes/apps/media/maintainerr/ks.yml
  kubernetes/apps/media/plex-auto-languages/ks.yml
  kubernetes/apps/media/plex/ks.yml
  kubernetes/apps/media/prowlarr/ks.yml
  kubernetes/apps/media/qbittorrent/ks.yml
  kubernetes/apps/media/radarr/ks.yml
  kubernetes/apps/media/recyclarr/ks.yml
  kubernetes/apps/media/sabnzbd/ks.yml
  kubernetes/apps/media/sonarr/ks.yml
  kubernetes/apps/media/tautulli/ks.yml
  kubernetes/apps/misc/sandbox/ks.yml
  kubernetes/apps/misc/winxuu/ks.yml
  kubernetes/apps/networking/twingate-connector/ks.yml
  kubernetes/apps/networking/unifi-controller/ks.yml
  kubernetes/apps/security/authentik/ks.yml
  kubernetes/apps/tools/flaresolverr/ks.yml
  kubernetes/apps/tools/it-tools/ks.yml
  kubernetes/apps/tools/obico/ks.yml
  kubernetes/apps/tools/paperless-ngx/ks.yml
  kubernetes/apps/tools/shlink/ks.yml
Labels: relative/kubernetes

feat(flux): add healthCheckExprs
  kubernetes/core/security/cert-manager/ks.yml
Labels: relative/kubernetes

chore: replace just with go-task
  Taskfile.yaml
  kubernetes/.justfile
  kubernetes/.taskfiles/flux/Taskfile.yaml
  kubernetes/.taskfiles/k8s/Taskfile.yaml
  kubernetes/.taskfiles/postgres/Taskfile.yaml
Labels: relative/kubernetes

chore: fmt
  kubernetes/.taskfiles/flux/Taskfile.yaml
Labels: relative/kubernetes

chore(flux): move external-secrets chart to oci
  kubernetes/infra/sources/helm-repos/kustomization.yml
  kubernetes/infra/sources/oci/external-secrets.yml
  kubernetes/infra/sources/oci/kustomization.yml
Labels: relative/kubernetes

chore: taskfile updates
  kubernetes/.taskfiles/flux/taskfile.yml
  kubernetes/.taskfiles/helm/taskfile.yml
  kubernetes/.taskfiles/k8s/taskfile.yml
  taskfile.yml
Labels: relative/kubernetes

chore: fmt
  terraform/servarr/backend.tf
  terraform/servarr/providers.tf
  terraform/servarr/sonarr.tf
Labels: none

fix(renovate): removed external-dns image from chart
  kubernetes/core/networking/external-dns/builtin/cloudflare/helm-release.yml
Labels: relative/kubernetes

chore(taskfile): use builtin loops
  kubernetes/.taskfiles/helm/taskfile.yml
Labels: relative/kubernetes

removed helm script
  kubernetes/hacks/scripts/add-all-helm-repos-to-helm.sh
Labels: relative/kubernetes, relative/scripts

chore: cleanup gitignore
  .gitignore
Labels: none

fmt
  kubernetes/.taskfiles/helm/taskfile.yml
Labels: relative/kubernetes

chore(cert-manager): removed staging cert
  kubernetes/core/security/cert-manager/app/default-cert.yml
  kubernetes/core/security/cert-manager/app/issuers.yml
  kubernetes/core/security/cert-manager/app/kustomization.yml
  kubernetes/core/security/cert-manager/app/staging.yml
Labels: relative/kubernetes

chore(cert-manager): renamed issuer
  kubernetes/apps/security/authentik/app/helm-release.yml
  kubernetes/core/monitoring/prometheus/app/helm-release.yml
  kubernetes/core/security/cert-manager/app/default-cert.yml
  kubernetes/core/security/cert-manager/app/issuers.yml
  kubernetes/core/storage/longhorn/app/helm-release.yml
Labels: relative/kubernetes

chore(cert-manager): changed kustomization name
  kubernetes/core/security/cert-manager/app/kustomization.yml
  kubernetes/core/security/cert-manager/app/main-cert.yml
Labels: relative/kubernetes

add multus
  kubernetes/core/networking/kustomization.yml
  kubernetes/core/networking/multus/app/helm-release.yml
Labels: relative/kubernetes

add configs
  kubernetes/core/networking/multus/config/iot-bond.yml
  kubernetes/core/networking/multus/config/testing-pod.yml
Labels: relative/kubernetes

drop multus
  kubernetes/core/networking/kustomization.yml
Labels: relative/kubernetes

drop jellyfin
  kubernetes/apps/media/jellyfin/app/helm-release.yml
  kubernetes/apps/media/jellyfin/app/kustomization.yml
  kubernetes/apps/media/jellyfin/ks.yml
  kubernetes/apps/media/jellyplex/app/external-secret.yml
  kubernetes/apps/media/jellyplex/app/helm-release.yml
  kubernetes/apps/media/jellyplex/app/kustomization.yml
  kubernetes/apps/media/jellyplex/ks.yml
  kubernetes/apps/media/kustomization.yml
Labels: relative/kubernetes

drop jellyfin
  kubernetes/apps/media/jellyfin/app/helm-release.yml
  kubernetes/apps/media/jellyfin/app/kustomization.yml
  kubernetes/apps/media/jellyfin/ks.yml
  kubernetes/apps/media/jellyplex/app/external-secret.yml
  kubernetes/apps/media/jellyplex/app/helm-release.yml
  kubernetes/apps/media/jellyplex/app/kustomization.yml
  kubernetes/apps/media/jellyplex/ks.yml
  kubernetes/apps/media/kustomization.yml
Labels: relative/kubernetes

restructure and moved to talos
  kubernetes/core/kustomization.yml
  kubernetes/core/networking/cilium/app/kustomization.yml
  kubernetes/core/networking/cilium/app/kustomizeconfig.yml
  kubernetes/core/networking/cilium/app/values.yml
  kubernetes/core/networking/coredns/app/helm-release.yml
  kubernetes/core/networking/coredns/app/kustomization.yml
  kubernetes/core/networking/coredns/app/kustomizeconfig.yml
  kubernetes/core/networking/coredns/app/values.yml
  kubernetes/core/networking/coredns/ks.yml
  kubernetes/core/networking/kustomization.yml
  kubernetes/core/security/cert-manager/app/kustomizeconfig.yml
  kubernetes/core/security/cert-manager/app/values.yml
  kubernetes/core/security/cert-manager/ks.yml
  kubernetes/core/security/external-secrets/app/kustomization.yml
  kubernetes/core/security/external-secrets/app/kustomizeconfig.yml
  kubernetes/core/security/external-secrets/app/values.yml
  kubernetes/core/system/flux-instance/app/external-secret.yml
  kubernetes/core/system/flux-instance/app/helm-release.yml
  kubernetes/core/system/flux-instance/app/ingress-flux-webhook.yml
  kubernetes/core/system/flux-instance/app/kustomization.yml
  kubernetes/core/system/flux-instance/app/kustomizeconfig.yml
  kubernetes/core/system/flux-instance/app/prometheus-rule.yml
  kubernetes/core/system/flux-instance/app/receiver-github.yml
  kubernetes/core/system/flux-instance/app/values.yml
  kubernetes/core/system/flux-instance/ks.yml
  kubernetes/core/system/flux-instance/kustomization.yml
  kubernetes/core/system/flux-operator/app/helmrelease.yml
  kubernetes/core/system/flux-operator/app/kustomization.yml
  kubernetes/core/system/flux-operator/app/kustomizeconfig.yml
  kubernetes/core/system/flux-operator/app/values.yml
  kubernetes/core/system/flux-operator/ks.yml
  kubernetes/core/system/kustomization.yml
  kubernetes/hacks/bootstrap/helmfile.yml
  kubernetes/infra/cluster.yml.bak
  kubernetes/infra/core.yml
  kubernetes/infra/flux/cluster-conf.yml
  kubernetes/infra/flux/flux-conf.yml
  kubernetes/talos/clusterconfig/.gitignore
  kubernetes/talos/talconfig.yml
  kubernetes/talos/talsecret.sops.yml
Labels: relative/kubernetes

fix cilium
  kubernetes/core/networking/cilium/app/helm-release.yml
Labels: relative/kubernetes

removed
  kubernetes/apps/kustomization.yml
  kubernetes/core/storage/kustomization.yml
  kubernetes/core/storage/longhorn-recurring-jobs/app/helm-release.yml
  kubernetes/core/storage/longhorn-recurring-jobs/app/kustomization.yml
  kubernetes/core/storage/longhorn-recurring-jobs/ks.yml
  kubernetes/core/storage/longhorn/app/helm-release.yml
  kubernetes/core/storage/longhorn/app/kustomization.yml
  kubernetes/core/storage/longhorn/ks.yml
Labels: relative/kubernetes

feat(k8s): add rook-ceph
  kubernetes/core/storage/rook-ceph/app/external-secret.yml
  kubernetes/core/storage/rook-ceph/app/helm-release.yml
  kubernetes/core/storage/rook-ceph/app/kustomization.yml
  kubernetes/core/storage/rook-ceph/cluster/helm-release.yml
  kubernetes/core/storage/rook-ceph/cluster/kustomization.yml
  kubernetes/core/storage/rook-ceph/ks.yml
  kubernetes/infra/sources/helm-repos/kustomization.yml
  kubernetes/infra/sources/helm-repos/rook-ceph.yml
Labels: relative/kubernetes

feat(flux): apply cluster core
  kubernetes/infra/cluster.yml
  kubernetes/infra/cluster.yml.bak
Labels: relative/kubernetes
