Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

fix(prometheus): add external-dns label
  kubernetes/core/prometheus/helm-release.yml
Labels: relative/kubernetes

fix(flux-instance): add external-dns label
  kubernetes/core/flux-instance/ingress-flux-webhook.yml
Labels: relative/kubernetes

add ceph dashboard
  terraform/monitoring/dashboards.tf
  terraform/monitoring/files/dashboards/kubernetes-ceph-cluster.json
Labels: relative/terraform

style
  kubernetes/core/rook-ceph/cluster/helm-release.yml
Labels: relative/kubernetes

add endpoints
  kubernetes/core/external-dns/endpoints/kustomization.yml
  kubernetes/core/external-dns/endpoints/prometheus.yml
Labels: relative/kubernetes

minor adjustments to dashboard
  terraform/monitoring/files/dashboards/kubernetes-ceph-cluster.json
  terraform/monitoring/files/dashboards/kubernetes-ceph-usage.json
Labels: relative/terraform

fix(unifi-controller): ssh key
  terraform/unifi/administration.tf
  terraform/unifi/variables.tf
Labels: relative/terraform

add karakeep
  kubernetes/apps/karakeep/external-secret.yml
  kubernetes/apps/karakeep/flux-kustomization.yml
  kubernetes/apps/karakeep/helm-release.yml
  kubernetes/apps/karakeep/kustomization.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

add oauth to karakeep
  kubernetes/apps/karakeep/external-secret.yml
  kubernetes/apps/karakeep/helm-release.yml
  terraform/authentik/applications.tf
  terraform/authentik/providers.tf
Labels: relative/kubernetes, relative/terraform

fix wellknown url
  kubernetes/apps/karakeep/helm-release.yml
Labels: relative/kubernetes

fix(karakeep): allow signup
  kubernetes/apps/karakeep/helm-release.yml
Labels: relative/kubernetes

add gitleaks precommit hook
  .pre-commit-config.yaml
Labels: none

bump gitleaks
  .pre-commit-config.yaml
Labels: none

fix(karakeep): volumeMounts
  kubernetes/apps/karakeep/helm-release.yml
Labels: relative/kubernetes

fix(karakeep): service fqdn
  kubernetes/apps/karakeep/helm-release.yml
Labels: relative/kubernetes

change icons provider
  terraform/authentik/applications.tf
Labels: relative/terraform

feat(karakeep): remove full page screenshot
  kubernetes/apps/karakeep/helm-release.yml
Labels: relative/kubernetes

feat(authentik): use selfhst icons instead
  terraform/authentik/applications.tf
Labels: relative/terraform

lint: removed unused local variables
  terraform/opnsense/data.tf
Labels: relative/terraform

feat: add reference gate
  kubernetes/core/gateway-api/flux-kustomization.yml
  kubernetes/core/gateway-api/resources/kustomization.yml
  kubernetes/core/gateway-api/resources/private-class.yml
  kubernetes/core/gateway-api/resources/reference-grant.yml
  kubernetes/core/gateway-api/resources/test-http-route.yml
Labels: relative/kubernetes

chore: renamed helm repos
  kubernetes/infra/sources/helm/aqua-security.yml
  kubernetes/infra/sources/helm/authentik.yml
  kubernetes/infra/sources/helm/backube.yml
  kubernetes/infra/sources/helm/bjw-s.yml
  kubernetes/infra/sources/helm/cilium.yml
  kubernetes/infra/sources/helm/cloudnative-pg.yml
  kubernetes/infra/sources/helm/deliveryhero.yml
  kubernetes/infra/sources/helm/external-dns.yml
  kubernetes/infra/sources/helm/factorio-server.yml
  kubernetes/infra/sources/helm/headlamp.yml
  kubernetes/infra/sources/helm/immich.yml
  kubernetes/infra/sources/helm/ingress-nginx.yml
  kubernetes/infra/sources/helm/intel.yml
  kubernetes/infra/sources/helm/jetstack.yml
  kubernetes/infra/sources/helm/kustomization.yml
  kubernetes/infra/sources/helm/metrics-server.yml
  kubernetes/infra/sources/helm/piraeus.yml
  kubernetes/infra/sources/helm/prometheus-community.yml
  kubernetes/infra/sources/helm/rook-ceph.yml
  kubernetes/infra/sources/helm/stakater.yml
  kubernetes/infra/sources/helm/tofu-controller.yml
  kubernetes/infra/sources/helm/twingate.yml
  kubernetes/infra/sources/kustomization.yml
Labels: relative/kubernetes

feat(k8s): add ollama
  kubernetes/apps/kustomization.yml
  kubernetes/apps/ollama/flux-kustomization.yml
  kubernetes/apps/ollama/helm-release.yml
  kubernetes/apps/ollama/kustomization.yml
  kubernetes/infra/sources/helm/kustomization.yml
  kubernetes/infra/sources/helm/ollama.yml
Labels: relative/kubernetes

switch to ai namespace
  kubernetes/apps/ollama/flux-kustomization.yml
  kubernetes/infra/namespaces/ai.yml
  kubernetes/infra/namespaces/kustomization.yml
Labels: relative/kubernetes

feat(ollama): add gpu(s)
  kubernetes/apps/ollama/helm-release.yml
Labels: relative/kubernetes

fix(ollama): add intel gpu support env
  kubernetes/apps/ollama/helm-release.yml
Labels: relative/kubernetes

feat(k8s): remove gpu selection rules
  kubernetes/apps/immich/helm-release.yml
  kubernetes/apps/ollama/helm-release.yml
  kubernetes/apps/plex/helm-release.yml
Labels: relative/kubernetes

testing
  kubernetes/apps/ollama/helm-release.yml
Labels: relative/kubernetes

drop trivy
  kubernetes/core/kustomization.yml
  kubernetes/core/trivy-operator/flux-kustomization.yml
  kubernetes/core/trivy-operator/helm-release.yml
  kubernetes/core/trivy-operator/kustomization.yml
Labels: relative/kubernetes

testing
  kubernetes/apps/ollama/helm-release.yml
Labels: relative/kubernetes

feat(ollama): use cpu instead
  kubernetes/apps/ollama/helm-release.yml
Labels: relative/kubernetes

parameterize svc cluster env
  kubernetes/apps/karakeep/helm-release.yml
  kubernetes/apps/recyclarr/recyclarr.yml
Labels: relative/kubernetes

feat(ollama): add llava to ai
  kubernetes/apps/ollama/helm-release.yml
Labels: relative/kubernetes

feat(karakeep): add ai support
  kubernetes/apps/karakeep/helm-release.yml
Labels: relative/kubernetes

chore(talos): removed host aliases
  kubernetes/talos/talconfig.yml
Labels: relative/kubernetes, area/talos

feat(talos): enabled bbr
  kubernetes/talos/talconfig.yml
Labels: relative/kubernetes, area/talos

chore: use relative path for talosconfig
  kubernetes/.envrc
Labels: relative/kubernetes

feat: moved cluster variables to flux-instance
  kubernetes/core/flux-instance/cluster-vars.yml
  kubernetes/core/flux-instance/kustomization.yml
Labels: relative/kubernetes

fix path
  kubernetes/.taskfiles/helm/taskfile.yml
  kubernetes/core/flux-instance/values.yml
Labels: relative/kubernetes

fix: add sources ks
  kubernetes/flux/cluster1.yml
Labels: relative/kubernetes

fix: add dependsOn for core
  kubernetes/flux/cluster1.yml
Labels: relative/kubernetes

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
