Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

feat(proxmox): improved guest machines creation
  terraform/proxmox/data.tf
  terraform/proxmox/guest-machines.tf
  terraform/proxmox/meta-data.tftpl
  terraform/proxmox/networking.tf
  terraform/proxmox/snippets.tf
  terraform/proxmox/vars.tf
Labels: relative/terraform

chore(terraform): use dns again for bws_lookup
  terraform/bws_lookup.py
Labels: relative/terraform

deploy actual
  ansible/inventory/group_vars/dns_servers/main.yml
  ansible/inventory/host_vars/mgmt-srv-01.yml
  ansible/playbooks/setup_dns.yml
  kubernetes/apps/actual/external-secret.yml
  kubernetes/apps/actual/flux-kustomization.yml
  kubernetes/apps/actual/helm-release.yml
  kubernetes/apps/actual/kustomization.yml
  kubernetes/apps/kustomization.yml
  terraform/gravity/records.json
  terraform/proxmox/guest-machines.tf
Labels: relative/kubernetes, relative/terraform, relative/ansible

modify actual
  kubernetes/apps/actual/helm-release.yml
Labels: relative/kubernetes

chore(ansible): add dns group
  ansible/inventory/static.yml
Labels: relative/ansible

feat(traefik): set labels for monitoring stack
  ansible/roles/monitoring/defaults/main.yml
Labels: relative/ansible

ansible: fmt
  ansible/roles/traefik/tasks/main.yml
Labels: relative/ansible

chore(traefik): add more hosts
  ansible/roles/traefik/files/config.yml
Labels: relative/ansible

chore(ansible): minor tweaks
  ansible/playbooks/setup_ollama.yml
  ansible/playbooks/system_maintenance.yml
Labels: relative/ansible

add actual to oidc
  terraform/authentik/applications.tf
Labels: relative/terraform

fix(actual): typo in envs
  kubernetes/apps/actual/helm-release.yml
Labels: relative/kubernetes

feat(k8s): change main cidr
  kubernetes/apps/actual/helm-release.yml
  kubernetes/apps/plex/helm-release.yml
  kubernetes/apps/qbittorrent/helm-release.yml
  kubernetes/apps/unifi-controller/dns-endpoint.yml
  kubernetes/apps/unifi-controller/helm-release.yml
  kubernetes/core/cilium/pools.yml
  kubernetes/core/external-dns/_components/internal/dns-endpoints.yml
  kubernetes/core/gateway-api/private-class.yml
  kubernetes/core/gateway-api/public-class.yml
  kubernetes/core/gravity/sts.yml
  kubernetes/core/gravity/svc.yml
  kubernetes/core/multus/resources/iot-bond.yml
  kubernetes/core/multus/resources/iot-bridge.yml
  kubernetes/core/multus/resources/iot-macvlan.yml
  kubernetes/core/multus/resources/iot-vlan.yml
  kubernetes/core/multus/resources/testing-pod.yml
  kubernetes/talos/talconfig.yml
Labels: relative/kubernetes, area/talos

feat(rook-ceph): add disk wipe from other clusters
  kubernetes/core/rook-ceph/cluster/helm-release.yml
Labels: relative/kubernetes

feat(talos): update talos
  kubernetes/talos/talconfig.yml
Labels: relative/kubernetes, area/talos

update rook ceph cluster
  kubernetes/core/rook-ceph/cluster/helm-release.yml
Labels: relative/kubernetes

fix(external-dns): dependency recursion
  kubernetes/core/external-dns/builtin/cloudflare/kustomization.yml
  kubernetes/core/external-dns/builtin/external-secret.yml
  kubernetes/core/external-dns/builtin/kustomization.yml
Labels: relative/kubernetes

update rook ceph cluster
  kubernetes/core/rook-ceph/helm-release.yml
Labels: relative/kubernetes

fix(volsync): moved restic repo env out of bitwarden
  kubernetes/core/volsync/components/external-secret.yml
Labels: relative/kubernetes

fix(gravity-dns): correct secret name
  kubernetes/core/gravity/sts.yml
Labels: relative/kubernetes

more cidr changes for the lab
  ansible/inventory/group_vars/gatus/main.yml
  ansible/inventory/host_vars/mgmt-srv-01.yml
  ansible/roles/monitoring/templates/prometheus.yml.j2
  ansible/roles/traefik/files/config.yml
  terraform/gravity/dhcp.tf.bak
  terraform/gravity/dns.tf
  terraform/gravity/providers.tf
  terraform/gravity/records.json
  terraform/monitoring/files/dashboards/kubernetes-nodes.json
  terraform/opnsense/interfaces.tf
  terraform/opnsense/kea.tf
  terraform/opnsense/leases.json
  terraform/opnsense/variables.tf
  terraform/proxmox/guest-machines.tf
  terraform/unifi/networks.tf
  terraform/unifi/providers.tf
  terraform/unifi/variables.tf
Labels: relative/terraform, relative/ansible

docker changes
  ansible/roles/monitoring/tasks/main.yml
  ansible/roles/traefik/defaults/main.yml
Labels: relative/ansible

feat(taskfiles): add rook-ceph new zap config
  kubernetes/.taskfiles/rook-ceph/templates/wipe-rook.yml.j2
Labels: relative/kubernetes

fix(helmfile): wrong path
  kubernetes/hacks/helmfile.yml
Labels: relative/kubernetes

upgrade KUBESSSSSSSSSSS
  kubernetes/talos/talconfig.yml
Labels: relative/kubernetes, area/talos

feat(terraform): set opnsense uri
  terraform/opnsense/providers.tf
Labels: relative/terraform

some dns changes
  terraform/gravity/dns.tf
  terraform/opnsense/leases.json
  terraform/proxmox/providers.tf
Labels: relative/terraform

fix(recyclarr): set svc correctly
  kubernetes/apps/recyclarr/recyclarr.yml
Labels: relative/kubernetes

drop plex-auto-languages
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

misc changes
  ansible.cfg
  renovate.json5
Labels: none

feat(miniflux): disable local auth
  kubernetes/apps/miniflux/helm-release.yml
Labels: relative/kubernetes

chore(proxmox): adjust VMs configs
  terraform/proxmox/guest-machines.tf
  terraform/proxmox/providers.tf
  terraform/proxmox/vars.tf
Labels: relative/terraform

feat: update configs for authentik to avoid race conditions
  terraform/_modules/authentik/oauth2_app/main.tf
  terraform/_modules/authentik/oauth2_app/vars.tf
  terraform/authentik/applications.tf
  terraform/authentik/main.tf
  terraform/authentik/providers.tf
Labels: relative/terraform

feat(ansible): update containers
  ansible/inventory/host_vars/mgmt-srv-01.yml
Labels: relative/ansible

just use ip here, i hate it
  terraform/bws_lookup.py
Labels: relative/terraform

feat(proxmox): add veeam vm metadata
  terraform/proxmox/snippets.tf
Labels: relative/terraform

misc changes
  terraform/proxmox/directory.tf
  terraform/proxmox/networking.tf
Labels: relative/terraform

move things around
  ansible/inventory/group_vars/dns_servers/main.yml
Labels: relative/ansible

chore(k8s: )increase ExternalSecret refresh token
  kubernetes/apps/actual/external-secret.yml
  kubernetes/apps/anirra/external-secret.yml
  kubernetes/apps/authentik/external-secret.yml
  kubernetes/apps/bazarr/external-secret.yml
  kubernetes/apps/diff2rss/external-secret.yml
  kubernetes/apps/discovarr/external-secret.yml
  kubernetes/apps/immich/external-secret.yml
  kubernetes/apps/karakeep/external-secret.yml
  kubernetes/apps/kestra/external-secret.yml
  kubernetes/apps/miniflux/external-secret.yml
  kubernetes/apps/obico/external-secret.yml
  kubernetes/apps/paperless-gpt/external-secret.yml
  kubernetes/apps/paperless-ngx/external-secret.yml
  kubernetes/apps/plex-auto-languages/external-secret.yml
  kubernetes/apps/plex/external-secret.yml
  kubernetes/apps/prowlarr/external-secret.yml
  kubernetes/apps/pulsarr/external-secret.yml
  kubernetes/apps/radarr/external-secret.yml
  kubernetes/apps/recyclarr/external-secret.yml
  kubernetes/apps/sabnzbd/external-secret.yml
  kubernetes/apps/sonarr/external-secret.yml
  kubernetes/apps/soundbored/external-secret.yml
  kubernetes/apps/your-spotify/external-secret.yml
  kubernetes/core/cert-manager/external-secret.yml
  kubernetes/core/external-dns/builtin/external-secret.yml
  kubernetes/core/external-dns/webhooks/gravity/external-secret.yml
  kubernetes/core/flux-instance/external-secret.yml
  kubernetes/core/grafana-operator/external-secret.yml
  kubernetes/core/gravity/external-secret.yml
  kubernetes/core/rook-ceph/external-secret.yml
  kubernetes/core/tofu-controller/external-secret.yml
  kubernetes/core/tofu-controller/resources/external-secret.yml
  kubernetes/core/volsync/components/external-secret.yml
  kubernetes/flux/notifications/external-secret.yml
Labels: relative/kubernetes

fix(gravity): dns authorativity issues
  terraform/gravity/dns.tf
  terraform/gravity/records.json
Labels: relative/terraform

feat(bws-cache): upgrade to latest release
  ansible/inventory/host_vars/mgmt-srv-01.yml
Labels: relative/ansible
