Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

fix(trek): image
  kubernetes/apps/trek/helm-release.yml
Labels: relative/kubernetes

feat: add dawarich
  kubernetes/apps/dawarich/external-secret.yml
  kubernetes/apps/dawarich/flux-kustomization.yml
  kubernetes/apps/dawarich/helm-release.yml
  kubernetes/apps/dawarich/init.sql
  kubernetes/apps/dawarich/kustomization.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

small changes
  terraform/authentik/applications.tf
  terraform/authentik/directory.tf
  terraform/authentik/providers.tf
Labels: relative/terraform

fix(dawarich): add cdpg init
  kubernetes/apps/dawarich/flux-kustomization.yml
Labels: relative/kubernetes

im dumb
  kubernetes/apps/dawarich/flux-kustomization.yml
Labels: relative/kubernetes

drop isponsorblock
  kubernetes/apps/isponsorblocktv/external-secret.yml
  kubernetes/apps/isponsorblocktv/flux-kustomization.yml
  kubernetes/apps/isponsorblocktv/helm-release.yml
  kubernetes/apps/isponsorblocktv/kustomization.yml
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

fix(dawarich): hr typo
  kubernetes/apps/dawarich/helm-release.yml
Labels: relative/kubernetes

update image
  kubernetes/apps/dawarich/flux-kustomization.yml
Labels: relative/kubernetes

drop dawarich for now
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

drop(surmai): trek is better
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

update schemas 2026-05-02T10:30:23Z
  index.html
  master-standalone/tuppr.home-operations.com-kubernetesupgrade-stable-v1alpha1.json
  master-standalone/tuppr.home-operations.com-talosupgrade-stable-v1alpha1.json
  tuppr.home-operations.com/kubernetesupgrade_v1alpha1.html
  tuppr.home-operations.com/kubernetesupgrade_v1alpha1.json
  tuppr.home-operations.com/talosupgrade_v1alpha1.html
  tuppr.home-operations.com/talosupgrade_v1alpha1.json
Labels: none

fix(k8s): incorrect path
  kubernetes/apps/bazarr/flux-kustomization.yml
  kubernetes/kcl/schemas/flux_kustomization.k
Labels: relative/kubernetes

fix kcl
  .github/workflows/kubernetes-kcl-oci.yml
  kubernetes/.taskfiles/kcl/taskfile.yml
  kubernetes/README.md
  kubernetes/kcl/README.md
Labels: relative/github, relative/kubernetes

remove old files
  kubernetes/apps/surmai/external-secret.yml
  kubernetes/apps/surmai/flux-kustomization.yml
  kubernetes/apps/surmai/helm-release.yml
  kubernetes/apps/surmai/kustomization.yml
Labels: relative/kubernetes

chore(ansible): remove semaphore role
  ansible/roles/semaphore/defaults/main.yml
  ansible/roles/semaphore/handlers/main.yml
  ansible/roles/semaphore/tasks/main.yml
Labels: relative/ansible

fix(kcl): correct path of component
  kubernetes/kcl/apps/bazarr.k
  kubernetes/kcl/apps/radarr.k
  kubernetes/kcl/apps/sonarr.k
Labels: relative/kubernetes

update schemas 2026-05-03T10:30:24Z
  ceph.rook.io/cephcluster_v1.html
  ceph.rook.io/cephcluster_v1.json
  ceph.rook.io/cephfilesystemsubvolumegroup_v1.html
  ceph.rook.io/cephfilesystemsubvolumegroup_v1.json
  external-secrets.io/clustersecretstore_v1.html
  external-secrets.io/clustersecretstore_v1.json
  external-secrets.io/secretstore_v1.html
  external-secrets.io/secretstore_v1.json
  index.html
  master-standalone/ceph.rook.io-cephcluster-stable-v1.json
  master-standalone/ceph.rook.io-cephfilesystemsubvolumegroup-stable-v1.json
  master-standalone/external-secrets.io-clustersecretstore-stable-v1.json
  master-standalone/external-secrets.io-secretstore-stable-v1.json
Labels: none

docs(k8s): update component reference docs
  kubernetes/core/cilium/reference.md
  kubernetes/core/envoy-gateway/reference.md
  kubernetes/core/rook-ceph/reference.md
  kubernetes/core/volsync/reference.md
Labels: relative/kubernetes

update schemas 2026-05-04T10:30:18Z
  index.html
Labels: none

update schemas 2026-05-05T10:30:18Z
  index.html
Labels: none

update schemas 2026-05-06T10:30:19Z
  index.html
Labels: none

drop mimir
  ansible/playbooks/infra/mimir-setup.yml
  ansible/roles/mimir/defaults/main.yml
  ansible/roles/mimir/handlers/main.yml
  ansible/roles/mimir/tasks/main.yml
  ansible/roles/mimir/templates/mimir.yml.j2
  ansible/roles/mimir/templates/nginx.conf.j2
Labels: relative/ansible

chore(ansible): remove grafana and prom from RPI
  ansible/roles/monitoring/defaults/main.yml
  ansible/roles/monitoring/handlers/main.yml
  ansible/roles/monitoring/tasks/main.yml
  ansible/roles/monitoring/templates/prometheus.yml.j2
  ansible/roles/monitoring/templates/web.yml.j2
Labels: relative/ansible

feat(grafana-operator): use operator to install and configure monitoring stack
  kubernetes/apps/teslamate/flux-kustomization.yml
  kubernetes/core/grafana-operator/external-secret.yml
  kubernetes/core/grafana-operator/flux-kustomization.yml
  kubernetes/core/grafana-operator/resources/dashboards.yml
  kubernetes/core/grafana-operator/resources/eso-ns-reader.yml
  kubernetes/core/grafana-operator/resources/settings.yml
  kubernetes/core/prometheus/helm-release.yml
Labels: relative/kubernetes

chore(terraform): use main cname to give content to others
  terraform/cloudflare/a_records.tf
Labels: relative/terraform

maybe fix?
  kubernetes/core/grafana-operator/flux-kustomization.yml
Labels: relative/kubernetes

more fixes
  kubernetes/core/grafana-operator/resources/settings.yml
Labels: relative/kubernetes

fix(grafana-operator): removed persistence from grafana instance
  kubernetes/core/grafana-operator/flux-kustomization.yml
  kubernetes/core/grafana-operator/resources/settings.yml
Labels: relative/kubernetes

fix(grafana-operator): url for prom
  kubernetes/core/grafana-operator/resources/settings.yml
Labels: relative/kubernetes

chore(grafana-operator): change secret name
  kubernetes/core/grafana-operator/external-secret.yml
Labels: relative/kubernetes

fix(grafana-operator): resources need to go in separate ns
  kubernetes/core/grafana-operator/flux-kustomization.yml
  kubernetes/core/grafana-operator/resources/dashboards.yml
  kubernetes/core/grafana-operator/resources/settings.yml
Labels: relative/kubernetes

fix
  kubernetes/core/grafana-operator/resources/settings.yml
Labels: relative/kubernetes

fix(gravity): remove unused records
  terraform/gravity/dns.tf
  terraform/gravity/records.json
Labels: relative/terraform

bump external-dns version for gravity
  kubernetes/core/external-dns/gravity/helm-release.yml
Labels: relative/kubernetes

fix(gravity-dns): add domain filter
  kubernetes/core/external-dns/gravity/helm-release.yml
Labels: relative/kubernetes

remove old records
  terraform/gravity/dns.tf
  terraform/gravity/records.json
Labels: relative/terraform

Revert "bump external-dns version for gravity"
  kubernetes/core/external-dns/gravity/helm-release.yml
Labels: relative/kubernetes

fix(grafana-operator): use private httproute instead
  kubernetes/core/grafana-operator/resources/settings.yml
Labels: relative/kubernetes

fix(grafana-operator): im an idiot
  kubernetes/core/grafana-operator/resources/settings.yml
Labels: relative/kubernetes

fix(gravity-dns): needed both
  ansible/inventory/group_vars/dns_servers/main.yml
  kubernetes/core/external-dns/gravity/helm-release.yml
Labels: relative/kubernetes, relative/ansible

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
