Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

fix(flux): yaml-schema url for provider
  kubernetes/flux/notifications/flux-errors-provider.yml
Labels: relative/kubernetes

chore(external-secrets): isolate plex secrets
  kubernetes/apps/plex-auto-languages/external-secret.yml
  kubernetes/apps/plex/external-secret.yml
Labels: relative/kubernetes

chore(Booklore): switched to private ingress
  kubernetes/apps/booklore/helm-release.yml
Labels: relative/kubernetes

fix(booklore)): try a tighter security
  kubernetes/apps/booklore/helm-release.yml
Labels: relative/kubernetes

refactor volsync and storage
  kubernetes/core/snapshot-controller/flux-kustomization.yml
  kubernetes/core/volsync/components/external-secret.yml
  kubernetes/core/volsync/components/replication-destination.yml
  kubernetes/core/volsync/components/replication-source.yml
  kubernetes/core/volsync/flux-kustomization.yml
  kubernetes/core/volsync/helm-release.yml
  kubernetes/core/volsync/kustomization.yml
  kubernetes/core/volsync/prometheus-rule.yml
  kubernetes/core/volsync/source.yml
Labels: relative/kubernetes

fix(volsync): update repository path
  kubernetes/core/volsync/components/external-secret.yml
Labels: relative/kubernetes

fix(volsync): removed unused schema; i hate being sick
  kubernetes/core/volsync/components/replication-source.yml
Labels: relative/kubernetes

fix(volsync): remove incorrect spec
  kubernetes/core/volsync/components/replication-source.yml
Labels: relative/kubernetes

chore(renovate): add new automerges
  .renovate/autoMerge.json5
Labels: relative/renovate

feat(renovate): process custom resources
  .renovate/customManagers.json5
Labels: relative/renovate

add kasten nodes for testing
  ansible/roles/traefik/files/config.yml
Labels: relative/ansible

feat(grafana-operator): update dashboard for volsync
  kubernetes/core/grafana-operator/resources/dashboards.yml
Labels: relative/kubernetes

feat(volsync): add policy to jitter volsync pods
  kubernetes/core/volsync/kustomization.yml
  kubernetes/core/volsync/mutating-admission-policy.yml
Labels: relative/kubernetes

changes to talconfig
  kubernetes/talos/.gitignore
  kubernetes/talos/talconfig.yml
Labels: relative/kubernetes, area/talos

dns records for kasten
  terraform/gravity/records.json
Labels: relative/terraform

chore(cloudflare): use tfe output from mikrotik to get address
  terraform/cloudflare/a_records.tf
  terraform/cloudflare/data.tf
Labels: relative/terraform

chore(mikrotik): removed scripts and use ddns instead
  terraform/mikrotik/firewall.tf
  terraform/mikrotik/outputs.tf
  terraform/mikrotik/providers.tf
  terraform/mikrotik/scripts/ddns-cf-update.rsc
  terraform/mikrotik/services.tf
Labels: relative/terraform

feat(volsync): add kopia maintenance
  kubernetes/core/volsync/external-secret.yml
  kubernetes/core/volsync/kopia-maintenance.yml
Labels: relative/kubernetes

feat(volsync): add kopia maintenance
  kubernetes/core/volsync/kustomization.yml
Labels: relative/kubernetes

feat(volsync): update mtap be more representative to my env
  kubernetes/core/volsync/mutating-admission-policy.yml
Labels: relative/kubernetes

chore(ansible): removed unused containers
  ansible/inventory/host_vars/mgmt-srv-01.yml
Labels: relative/ansible

feat(authentik): increase pvc size
  kubernetes/apps/authentik/flux-kustomization.yml
Labels: relative/kubernetes

feat(volsync): add kopia web ui
  kubernetes/core/volsync/kopia-hr.yml
  kubernetes/core/volsync/kustomization.yml
  kubernetes/core/volsync/volsync-hr.yml
Labels: relative/kubernetes

feat(volsync): update values
  kubernetes/core/volsync/volsync-hr.yml
Labels: relative/kubernetes

chore(volsync): set reasonable defaults
  kubernetes/core/volsync/components/replication-source.yml
Labels: relative/kubernetes

chore(booklore): implement backups
  kubernetes/apps/booklore/flux-kustomization.yml
  kubernetes/apps/booklore/helm-release.yml
Labels: relative/kubernetes

chore(k8s): increase snapshots
  kubernetes/apps/paperless-ngx/flux-kustomization.yml
  kubernetes/apps/plex/flux-kustomization.yml
  kubernetes/apps/your-spotify/flux-kustomization.yml
Labels: relative/kubernetes

document volsync references
  kubernetes/core/volsync/kopia-policy-reference.md
Labels: relative/kubernetes

add docs
  kubernetes/core/cilium/reference.md
  kubernetes/core/coredns/reference.md
  kubernetes/core/flux-instance/reference.md
  kubernetes/core/gateway-api/reference.md
  kubernetes/core/prometheus/reference.md
  kubernetes/core/rook-ceph/reference.md
  kubernetes/core/spegel/reference.md
  kubernetes/core/volsync/reference.md
Labels: relative/kubernetes

feat: add docs auto update with GHA
  .github/scripts/update-reference-docs.py
  .github/workflows/docs-reference-update.yml
Labels: relative/github

fix markdown
  kubernetes/core/flux-instance/reference.md
  kubernetes/core/prometheus/reference.md
  kubernetes/core/rook-ceph/reference.md
Labels: relative/kubernetes

docs(k8s): update component reference docs
  kubernetes/core/coredns/reference.md
  kubernetes/core/flux-instance/reference.md
Labels: relative/kubernetes

refactor these two
  .github/scripts/update-reference-docs.py
  .github/workflows/docs-reference-update.yml
Labels: relative/github

docs(k8s): update component reference docs
  kubernetes/core/cilium/reference.md
  kubernetes/core/coredns/reference.md
  kubernetes/core/flux-instance/reference.md
  kubernetes/core/gateway-api/reference.md
  kubernetes/core/prometheus/reference.md
  kubernetes/core/rook-ceph/reference.md
  kubernetes/core/spegel/reference.md
Labels: relative/kubernetes

docs(k8s): update component reference docs
  kubernetes/core/coredns/reference.md
  kubernetes/core/flux-instance/reference.md
Labels: relative/kubernetes

changes
  .github/scripts/update-reference-docs.py
Labels: relative/github

fix(flux): add sources ks
  kubernetes/flux/cluster.yml
  kubernetes/flux/sources/bjw-s-labs.yml
  kubernetes/flux/sources/kustomization.yaml
Labels: relative/kubernetes

docs(k8s): update component reference docs
  kubernetes/core/coredns/reference.md
Labels: relative/kubernetes

tests
  .github/scripts/update-reference-docs.py
  .github/workflows/docs-reference-update.yml
Labels: relative/github

chore(flux): add sync info
  kubernetes/core/flux-instance/reference.md
Labels: relative/kubernetes
