Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

more
  kubernetes/flux/cluster-vars.yml
  kubernetes/flux/cluster.yml
  kubernetes/flux/namespaces/kustomization.yml
  kubernetes/flux/namespaces/personal.yml
Labels: relative/kubernetes

fix: update path
  .github/workflows/flux-diff.yml
Labels: relative/github

fix: gitrepo name
  kubernetes/flux/cluster.yml
Labels: relative/kubernetes

fix: add patches for child kustomizations
  kubernetes/flux/cluster.yml
Labels: relative/kubernetes

feat: removed oidc proxy from internal apps
  kubernetes/apps/bazarr/helm-release.yml
  kubernetes/apps/maintainerr/helm-release.yml
  kubernetes/apps/prowlarr/helm-release.yml
  kubernetes/apps/qbittorrent/helm-release.yml
  kubernetes/apps/radarr/helm-release.yml
  kubernetes/apps/sabnzbd/helm-release.yml
  kubernetes/apps/sonarr/helm-release.yml
  terraform/authentik/applications.tf
  terraform/authentik/main.tf
Labels: relative/kubernetes, relative/terraform

feat: add spegel
  kubernetes/core/kustomization.yml
  kubernetes/core/spegel/flux-kustomization.yml
  kubernetes/core/spegel/helm-release.yml
  kubernetes/core/spegel/kustomization.yml
  kubernetes/flux/sources/oci/spegel.yml
Labels: relative/kubernetes

configured containerd options
  kubernetes/talos/talconfig.yml
Labels: relative/kubernetes, area/talos

chore(spegel): set for helmfile
  kubernetes/core/spegel/flux-kustomization.yml
  kubernetes/core/spegel/helm-release.yml
  kubernetes/core/spegel/kustomization.yml
  kubernetes/core/spegel/kustomizeconfig.yml
  kubernetes/core/spegel/values.yml
Labels: relative/kubernetes

fix(flux): spegel oci
  kubernetes/flux/sources/oci/spegel.yml
Labels: relative/kubernetes

add spegel to helm file
  kubernetes/hacks/helmfile.yml
Labels: relative/kubernetes

fix(k8s): set prune to false
  kubernetes/flux/namespaces/ai.yml
  kubernetes/flux/namespaces/databases.yml
  kubernetes/flux/namespaces/game-servers.yml
  kubernetes/flux/namespaces/media.yml
  kubernetes/flux/namespaces/misc.yml
  kubernetes/flux/namespaces/monitoring.yml
  kubernetes/flux/namespaces/networking.yml
  kubernetes/flux/namespaces/rook-ceph.yml
  kubernetes/flux/namespaces/security.yml
  kubernetes/flux/namespaces/storage.yml
  kubernetes/flux/namespaces/system.yml
  kubernetes/flux/namespaces/tools.yml
Labels: relative/kubernetes

removed ns requirement from rook DA
  kubernetes/hacks/debug-fs.yml
Labels: relative/kubernetes

temp
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

fix(helmfile): relative path for values
  kubernetes/hacks/helmfile.yml
Labels: relative/kubernetes

slowly add services
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

removed internal ingress for home-assistant
  kubernetes/core/nginx-ext-ingress/external-names/home-assistant.yml
  kubernetes/core/nginx-int-ingress/external-names/home-assistant.yml
  kubernetes/core/nginx-int-ingress/external-names/kustomization.yml
Labels: relative/kubernetes

slowly add services
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

slowly add services
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

feat(taskfile): add ceph task
  kubernetes/.taskfiles/rook-ceph/taskfile.yml
Labels: relative/kubernetes

add more
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

feat(karakeep): add volsync
  kubernetes/apps/karakeep/flux-kustomization.yml
Labels: relative/kubernetes

add karakeep
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

add more automation
  .minijinja.toml
  kubernetes/.taskfiles/volsync/taskfile.yml
  kubernetes/.taskfiles/volsync/templates/replicationdestination.yml.j2
  kubernetes/.taskfiles/volsync/templates/unlock.yml.j2
  kubernetes/apps/factorio/external-secrets.yml
  kubernetes/apps/factorio/flux-kustomization.yml
  kubernetes/apps/factorio/helm-release.yml
  kubernetes/apps/factorio/kustomization.yml
  kubernetes/apps/kustomization.yml
  taskfile.yml
Labels: relative/kubernetes

add more apps
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

dropped it-tools
  kubernetes/apps/it-tools/flux-kustomization.yml
  kubernetes/apps/it-tools/helm-release.yml
  kubernetes/apps/it-tools/kustomization.yml
Labels: relative/kubernetes

feat(volsync): adjust repl destination securityContext
  kubernetes/apps/bazarr/flux-kustomization.yml
  kubernetes/apps/jellyseerr/flux-kustomization.yml
  kubernetes/apps/karakeep/flux-kustomization.yml
  kubernetes/apps/karakeep/helm-release.yml
  kubernetes/apps/maintainerr/flux-kustomization.yml
  kubernetes/apps/paperless-ngx/flux-kustomization.yml
  kubernetes/apps/plex/flux-kustomization.yml
  kubernetes/apps/prowlarr/flux-kustomization.yml
  kubernetes/apps/qbittorrent/flux-kustomization.yml
  kubernetes/apps/radarr/flux-kustomization.yml
  kubernetes/apps/sabnzbd/flux-kustomization.yml
  kubernetes/apps/sonarr/flux-kustomization.yml
  kubernetes/apps/tautulli/flux-kustomization.yml
  kubernetes/core/volsync/components/replication-destination.yml
Labels: relative/kubernetes

feat: add datasourceRef to pvc
  kubernetes/apps/bazarr/helm-release.yml
  kubernetes/apps/jellyseerr/helm-release.yml
  kubernetes/apps/karakeep/helm-release.yml
  kubernetes/apps/maintainerr/helm-release.yml
  kubernetes/apps/obico/helm-release.yml
  kubernetes/apps/paperless-ngx/helm-release.yml
  kubernetes/apps/plex/helm-release.yml
  kubernetes/apps/prowlarr/helm-release.yml
  kubernetes/apps/qbittorrent/helm-release.yml
  kubernetes/apps/radarr/helm-release.yml
  kubernetes/apps/sabnzbd/helm-release.yml
  kubernetes/apps/sonarr/helm-release.yml
  kubernetes/apps/tautulli/helm-release.yml
  kubernetes/apps/unifi-controller/helm-release.yml
Labels: relative/kubernetes

feat: use sqlite for shlink
  kubernetes/apps/kustomization.yml
  kubernetes/apps/shlink/flux-kustomization.yml
  kubernetes/apps/shlink/helm-release.yml
Labels: relative/kubernetes

feat(shlink): add emptyDir
  kubernetes/apps/shlink/helm-release.yml
Labels: relative/kubernetes

replace shlink with slash
  kubernetes/apps/kustomization.yml
  kubernetes/apps/shlink/external-secret.yml
  kubernetes/apps/slash/flux-kustomization.yml
  kubernetes/apps/slash/helm-release.yml
  kubernetes/apps/slash/kustomization.yml
Labels: relative/kubernetes

deprecate linkding
  kubernetes/apps/kustomization.yml
  kubernetes/apps/linkding/external-secret.yml
  kubernetes/apps/linkding/flux-kustomization.yml
  kubernetes/apps/linkding/helm-release.yml
  kubernetes/apps/linkding/kustomization.yml
Labels: relative/kubernetes

fix(CPGO): add postgres image
  kubernetes/core/crunchydata-pgo/components/cluster.yml
Labels: relative/kubernetes

add authentik
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

drop spegel temp
  kubernetes/core/kustomization.yml
  kubernetes/talos/talconfig.yml
Labels: relative/kubernetes, area/talos

bump rook-ceph
  kubernetes/core/rook-ceph/cluster/helm-release.yml
  kubernetes/core/rook-ceph/helm-release.yml
Labels: relative/kubernetes

feat(plex): removed readOnly
  kubernetes/apps/plex/helm-release.yml
Labels: relative/kubernetes

drop pkgs for now
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

add slash
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

feat(slash): update pvc size
  kubernetes/apps/slash/helm-release.yml
Labels: relative/kubernetes

feat(slash): shorten ingress
  kubernetes/apps/slash/helm-release.yml
Labels: relative/kubernetes
