Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

fix(mediamanager): add init cluster label for pgo
  kubernetes/apps/mediamanager/flux-kustomization.yml
Labels: relative/kubernetes

feat(external-secrets): add cloudflare-id secrets to media namespace as well
  kubernetes/core/external-secrets/cloudflare-cluster-es.yml
Labels: relative/kubernetes

feat(crunchydata-pgo): bump release for 6.x
  kubernetes/core/crunchydata-pgo/helm-release.yml
Labels: relative/kubernetes

feat(flux): add crunchydata dataSource removal on new clusters
  kubernetes/flux/cluster.yml
Labels: relative/kubernetes

fix(mediamanager): set logging to writable path
  kubernetes/apps/mediamanager/helm-release.yml
Labels: relative/kubernetes

fix(mediamanager): use file instead of directory for logging
  kubernetes/apps/mediamanager/helm-release.yml
Labels: relative/kubernetes

fix(mediamanager): add metadata pvc
  kubernetes/apps/mediamanager/helm-release.yml
Labels: relative/kubernetes

fix(mediamanager): typo in hr
  kubernetes/apps/mediamanager/helm-release.yml
Labels: relative/kubernetes

bump(app-template): yaml schema
  kubernetes/apps/bazarr/helm-release.yml
  kubernetes/apps/booklore/helm-release.yml
  kubernetes/apps/diff2rss/helm-release.yml
  kubernetes/apps/ephemera/helm-release.yml
  kubernetes/apps/flaresolverr/helm-release.yml
  kubernetes/apps/jellyseerr/helm-release.yml
  kubernetes/apps/maintainerr/helm-release.yml
  kubernetes/apps/mediamanager/config.toml
  kubernetes/apps/mediamanager/helm-release.yml
  kubernetes/apps/miniflux/helm-release.yml
  kubernetes/apps/paperless-ngx/helm-release.yml
  kubernetes/apps/plex-auto-languages/helm-release.yml
  kubernetes/apps/plex/helm-release.yml
  kubernetes/apps/prowlarr/helm-release.yml
  kubernetes/apps/qbittorrent/helm-release.yml
  kubernetes/apps/radarr/helm-release.yml
  kubernetes/apps/recyclarr/helm-release.yml
  kubernetes/apps/sabnzbd/helm-release.yml
  kubernetes/apps/sonarr/helm-release.yml
  kubernetes/apps/tautulli/helm-release.yml
  kubernetes/apps/your-spotify/helm-release.yml
Labels: relative/kubernetes

chore(cilium): drop hubble route
  kubernetes/core/cilium/kustomization.yml
Labels: relative/kubernetes

fix(mediamanager): typo in serviceBackend
  kubernetes/apps/mediamanager/helm-release.yml
Labels: relative/kubernetes

fix(mediamanager): add correct service addr
  kubernetes/apps/mediamanager/config.toml
Labels: relative/kubernetes

feat(mediamanager): switched to dev build
  kubernetes/apps/mediamanager/helm-release.yml
Labels: relative/kubernetes

set new postgres Version for components
  kubernetes/core/crunchydata-pgo/components/cluster.yml
Labels: relative/kubernetes

fix(miniflux): allow user creation from oidc only
  kubernetes/apps/miniflux/external-secret.yml
  kubernetes/apps/miniflux/helm-release.yml
Labels: relative/kubernetes

chore(booklore): add lb addr
  kubernetes/apps/booklore/helm-release.yml
Labels: relative/kubernetes

chore(booklore): bump version
  kubernetes/apps/booklore/helm-release.yml
Labels: relative/kubernetes

chore(booklore): add private and public routes
  kubernetes/apps/booklore/helm-release.yml
Labels: relative/kubernetes

fix(booklore): test rewrite on path
  kubernetes/apps/booklore/helm-release.yml
Labels: relative/kubernetes

fix(booklore): forget it, too much work
  kubernetes/apps/booklore/helm-release.yml
Labels: relative/kubernetes

chore(booklore): removed LB
  kubernetes/apps/booklore/helm-release.yml
Labels: relative/kubernetes

chore(mediamanager): bump
  ansible/roles/dyrne/defaults/main.yml
  kubernetes/apps/mediamanager/helm-release.yml
Labels: relative/kubernetes, relative/ansible

fix(mediamanager): .cache dir changed
  kubernetes/apps/mediamanager/helm-release.yml
Labels: relative/kubernetes

fix(pre-commit): adjusted octal settings
  .pre-commit-config.yaml
  .yamllint.yml
Labels: none

fix(mediamanager): add custom entrypoint, thanks jfroy
  kubernetes/apps/mediamanager/helm-release.yml
Labels: relative/kubernetes

chore(traefik): add correct dns entry for gravity
  ansible/roles/traefik/files/config.yml
Labels: relative/ansible

chore(taskfiles): misc changes
  kubernetes/.taskfiles/postgres/taskfile.yml
Labels: relative/kubernetes

chore(terraform): misc changes
  terraform/_modules/authentik/oauth2_app/main.tf
  terraform/_modules/authentik/oauth2_app/vars.tf
  terraform/authentik/applications.tf
  terraform/authentik/providers.tf
  terraform/gravity/records.json
  terraform/opnsense/leases.json
  terraform/servarr/sonarr.tf
Labels: relative/terraform

chore(taskfiles): misc changes
  taskfile.yml
Labels: none

fix(mediamanager): oops forgot entrypoint file
  kubernetes/apps/mediamanager/entrypoint.sh
Labels: relative/kubernetes

fix(mediamanager): oops forgot configmap in the ks
  kubernetes/apps/mediamanager/kustomization.yml
Labels: relative/kubernetes

fix(mediamanager): controller and container attachment
  kubernetes/apps/mediamanager/helm-release.yml
Labels: relative/kubernetes

fix(mediamanager): user identity and cache location
  kubernetes/apps/mediamanager/entrypoint.sh
  kubernetes/apps/mediamanager/helm-release.yml
Labels: relative/kubernetes

fix(mediamanager): bump version
  kubernetes/apps/mediamanager/helm-release.yml
Labels: relative/kubernetes

feat(renovate): create your_spotify group
  .renovate/groups.json5
Labels: relative/renovate

remove unused apps
  terraform/authentik/applications.tf
Labels: relative/terraform

feat: add palworld
  kubernetes/apps/kustomization.yml
  kubernetes/apps/palworld/external-secret.yml
  kubernetes/apps/palworld/flux-kustomization.yml
  kubernetes/apps/palworld/helm-release.yml
  kubernetes/apps/palworld/kustomization.yml
  kubernetes/apps/palworld/source.yml
Labels: relative/kubernetes

fix: remove unused app
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

fix(palworld): idk why thats broken
  kubernetes/apps/palworld/helm-release.yml
Labels: relative/kubernetes

fix(palworld): not enough procs
  kubernetes/apps/palworld/helm-release.yml
Labels: relative/kubernetes

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
