Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

chore(snapshot-controller): disable webhook
  kubernetes/core/snapshot-controller/helm-release.yml
Labels: relative/kubernetes

feat(cert-manager): switch to short lived certs
  kubernetes/core/cert-manager/issuers.yml
  kubernetes/core/cert-manager/prometheus-rules.yml
  kubernetes/core/gateway-api/certificate.yml
Labels: relative/kubernetes

feat(cert-manager): switch to short lived certs
  kubernetes/core/gateway-api/certificate.yml
Labels: relative/kubernetes

fix(gravity-external-dns): livenessProbe port
  kubernetes/core/external-dns/gravity/helm-release.yml
Labels: relative/kubernetes

chore(opnsense): add new leases
  terraform/opnsense/leases.json
Labels: relative/terraform

fix(gravity-external-dns): switch to stable release
  kubernetes/core/external-dns/gravity/helm-release.yml
Labels: relative/kubernetes

switched to mikrotik babyyyy
  ansible/roles/traefik/files/config.yml
  terraform/mikrotik/dhcp.tf
  terraform/mikrotik/firewall.tf
  terraform/mikrotik/interfaces.tf
  terraform/mikrotik/leases.json
  terraform/mikrotik/providers.tf
  terraform/mikrotik/services.tf
  terraform/mikrotik/variables.tf
Labels: relative/terraform, relative/ansible

feat(cloudflare): add new secrets
  terraform/mikrotik/providers.tf
Labels: relative/terraform

update external-dns for gravity
  kubernetes/core/external-dns/gravity/helm-release.yml
Labels: relative/kubernetes

add more firewall rules
  terraform/mikrotik/firewall.tf
Labels: relative/terraform

feat(mikrotik): add ddns script
  terraform/mikrotik/scripts/ddns-cf-update.rsc
  terraform/mikrotik/services.tf
Labels: relative/terraform

virtual machines for kasten added
  terraform/proxmox/guest-machines.tf
  terraform/proxmox/snippets.tf
  terraform/proxmox/vars.tf
Labels: relative/terraform

chore(bazarr): update limits and requests
  kubernetes/apps/bazarr/helm-release.yml
Labels: relative/kubernetes

chore(authentik): add autoscaling and remove worker limits
  kubernetes/apps/authentik/helm-release.yml
Labels: relative/kubernetes

chore(mikrotik): set firewall rules to be stable map keys
  terraform/mikrotik/firewall.tf
  terraform/mikrotik/variables.tf
Labels: relative/terraform

chore(authentik): update limits and requests
  kubernetes/apps/authentik/helm-release.yml
Labels: relative/kubernetes

chore(mikrotik): add wireguard interface
  terraform/mikrotik/interfaces.tf
Labels: relative/terraform

chore(recyclarr): migrate config to v8
  kubernetes/apps/recyclarr/recyclarr.yml
  terraform/mikrotik/wireguard.tf
Labels: relative/kubernetes, relative/terraform

chore(mikrotik): add wireguard rules
  terraform/mikrotik/firewall.tf
Labels: relative/terraform

chore(recyclarr): add tmp dir
  kubernetes/apps/recyclarr/helm-release.yml
Labels: relative/kubernetes

chore(recyclarr): add persistent pvc
  kubernetes/apps/recyclarr/helm-release.yml
Labels: relative/kubernetes

chore(recyclarr): fix stupidity
  kubernetes/apps/recyclarr/helm-release.yml
Labels: relative/kubernetes

fix some recyclarr stuff bah
  kubernetes/apps/recyclarr/helm-release.yml
Labels: relative/kubernetes

chore(recyclarr): change schedule to every 2 days
  kubernetes/apps/recyclarr/helm-release.yml
Labels: relative/kubernetes

feat(k8s): add gha actions runners to cluster
  kubernetes/core/github-actions/actions-controller/helm-release.yml
  kubernetes/core/github-actions/actions-controller/kustomization.yml
  kubernetes/core/github-actions/actions-controller/source.yml
  kubernetes/core/github-actions/actions-runners/external-secret.yml
  kubernetes/core/github-actions/actions-runners/helm-release.yml
  kubernetes/core/github-actions/actions-runners/kustomization.yml
  kubernetes/core/github-actions/actions-runners/source.yml
  kubernetes/core/github-actions/flux-kustomization.yml
  kubernetes/core/github-actions/flux-mcp-reporter/cron-job.yml
  kubernetes/core/github-actions/flux-mcp-reporter/kustomization.yml
  kubernetes/core/github-actions/kustomization.yml
  kubernetes/core/kustomization.yml
  kubernetes/flux/namespaces/actions-runner-system.yml
  kubernetes/flux/namespaces/gha-runners.yml
Labels: relative/kubernetes

fix(k8s): namespace
  kubernetes/flux/namespaces/runners.yml
Labels: relative/kubernetes

fix(k8s): oci repos were wrong
  kubernetes/core/github-actions/actions-controller/helm-release.yml
  kubernetes/core/github-actions/actions-controller/source.yml
  kubernetes/core/github-actions/actions-runners/helm-release.yml
Labels: relative/kubernetes

fix(k8s): oci repo again
  kubernetes/core/github-actions/actions-runners/helm-release.yml
Labels: relative/kubernetes

fix again
  kubernetes/core/github-actions/actions-runners/helm-release.yml
  kubernetes/core/github-actions/actions-runners/source.yml
Labels: relative/kubernetes

fix(actions-runners): update to owner instead of org
  kubernetes/core/github-actions/actions-runners/helm-release.yml
Labels: relative/kubernetes

feat(mikrotik): add gatus wg peer
  terraform/mikrotik/wireguard.tf
Labels: relative/terraform

feat(mikrotik): add firewall rule for gatus to icmp only
  terraform/mikrotik/firewall.tf
Labels: relative/terraform

chore(ansible): update cloud machine ip
  ansible/inventory/static.yml
Labels: relative/ansible

fix(external-dns-gravity): something wong in stable release
  kubernetes/core/external-dns/gravity/helm-release.yml
Labels: relative/kubernetes

chore(gatus): changed the names of services
  ansible/inventory/group_vars/gatus/main.yml
Labels: relative/ansible

chore(aws): update AMIs for debian t3.small
  terraform/aws/main.tf
Labels: relative/terraform

chore(gatus): update wg configuration
  ansible/playbooks/cloud/gatus/pre_configuration.yml
Labels: relative/ansible

refactor flux directory
  kubernetes/flux/00-namespaces.yml
  kubernetes/flux/bjw-s-labs.yml
  kubernetes/flux/namespaces/actions-runner-system.yml
  kubernetes/flux/namespaces/ai.yml
  kubernetes/flux/namespaces/databases.yml
  kubernetes/flux/namespaces/kustomization.yml
  kubernetes/flux/namespaces/media.yml
  kubernetes/flux/namespaces/misc.yml
  kubernetes/flux/namespaces/monitoring.yml
  kubernetes/flux/namespaces/networking.yml
  kubernetes/flux/namespaces/rook-ceph.yml
  kubernetes/flux/namespaces/runners.yml
  kubernetes/flux/namespaces/security.yml
  kubernetes/flux/namespaces/storage.yml
  kubernetes/flux/namespaces/system.yml
  kubernetes/flux/namespaces/tools.yml
  kubernetes/flux/sources/helm/kustomization.yml
  kubernetes/flux/sources/kustomization.yml
Labels: relative/kubernetes

fixed
  kubernetes/core/github-actions/flux-mcp-reporter/cron-job.yml
  kubernetes/core/github-actions/flux-mcp-reporter/kustomization.yml
Labels: relative/kubernetes

refactor flux directory
  kubernetes/flux/cluster.yml
Labels: relative/kubernetes

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
