Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

fix(towonel-agent): disable PROXY v2 on the echo service
  kubernetes/apps/towonel-agent/helm-release.yml
Labels: relative/kubernetes

docs(k8s): update component reference docs
  kubernetes/core/rook-ceph/reference.md
Labels: relative/kubernetes

fix(jellyfin): adjust netpols
  kubernetes/apps/jellyfin/helm-release.yml
Labels: relative/kubernetes

fix(rook-ceph): requires csi drivers
  kubernetes/core/rook-ceph/cluster/helm-release.yml
  kubernetes/core/rook-ceph/csi-drivers/helm-release.yml
  kubernetes/core/rook-ceph/csi-drivers/kustomization.yml
  kubernetes/core/rook-ceph/flux-kustomization.yml
  kubernetes/core/rook-ceph/source.yml
Labels: relative/kubernetes

add kubevirt
  kubernetes/core/cdi/cdi.yml
  kubernetes/core/cdi/flux-kustomization.yml
  kubernetes/core/cdi/kustomization.yml
  kubernetes/core/kubevirt/flux-kustomization.yml
  kubernetes/core/kubevirt/kubevirt.yml
  kubernetes/core/kubevirt/kustomization.yml
  kubernetes/core/kubevirt/vm/debian/flux-kustomization.yml
  kubernetes/core/kubevirt/vm/debian/instancetype.yml
  kubernetes/core/kubevirt/vm/debian/kustomization.yml
  kubernetes/core/kubevirt/vm/debian/network.yml
  kubernetes/core/kubevirt/vm/debian/preference.yml
  kubernetes/core/kubevirt/vm/debian/virtualmachine.yml
  kubernetes/core/kustomization.yml
  kubernetes/flux/00-namespaces.yml
  kubernetes/talos/talconfig.yml
Labels: relative/kubernetes, area/talos

fix(talos): improved containerd defaults for block devices
  kubernetes/talos/talconfig.yml
Labels: relative/kubernetes, area/talos

fix(bazarr): jellyfin
  kubernetes/apps/bazarr/helm-release.yml
  kubernetes/apps/jellyfin/helm-release.yml
Labels: relative/kubernetes

fix(prometheus): broken alerts
  kubernetes/core/prometheus/helm-release.yml
Labels: relative/kubernetes

fix(rook-ceph): no csi snapshotter drivers
  kubernetes/core/rook-ceph/csi-drivers/helm-release.yml
Labels: relative/kubernetes

add kubevirt support
  kubernetes/core/kubevirt/vm/debian/kustomization.yml
  kubernetes/core/kubevirt/vm/debian/network.yml
  kubernetes/core/kubevirt/vm/debian/virtualmachine.yml
  kubernetes/talos/talconfig.yml
Labels: relative/kubernetes, area/talos

add immich
  kubernetes/apps/immich/external-secret.yml
  kubernetes/apps/immich/library-pvc.yml
Labels: relative/kubernetes

small changes
  ansible/poetry.lock
  ansible/roles/llamacpp/tasks/main.yml
Labels: relative/ansible

fix gatus deployment
  ansible/inventory/host_vars/ct-01-ec2.yml
  ansible/playbooks/cloud/gatus/pre_configuration.yml
  ansible/pyproject.toml
Labels: relative/ansible

feat(proxmox): new way of tackling VMs
  terraform/aws/base.tf
  terraform/aws/providers.tf
  terraform/proxmox/guest-machines.tf
  terraform/proxmox/images.tf
  terraform/proxmox/main.tf
  terraform/proxmox/snippets.tf
Labels: relative/terraform

chore(immich): update config
  kubernetes/apps/immich/external-secret.yml
Labels: relative/kubernetes

add immich
  kubernetes/apps/immich/external-secret.yml
  kubernetes/apps/immich/flux-kustomization.yml
  kubernetes/apps/immich/helm-release.yml
  kubernetes/apps/immich/init.sql
  kubernetes/apps/immich/kustomization.yml
  kubernetes/apps/immich/library-pvc.yml
  kubernetes/apps/kustomization.yml
  kubernetes/flux/sources/immich.yml
  kubernetes/flux/sources/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/authentik/providers.tf
Labels: relative/kubernetes, relative/terraform

fix(immich): go templating for eso
  kubernetes/apps/immich/external-secret.yml
Labels: relative/kubernetes

fix(immich): ssl on database communication
  kubernetes/apps/immich/helm-release.yml
Labels: relative/kubernetes

fix(immich): remove passwordLogin and set pub
  kubernetes/apps/immich/external-secret.yml
  kubernetes/apps/immich/helm-release.yml
Labels: relative/kubernetes

update readme
  README.md
Labels: relative/docs

chore(mikrotik): add rules for immich on tv clients
  terraform/mikrotik/firewall.tf
Labels: relative/terraform

fix(authentik): grant_types
  terraform/_modules/authentik/oauth2_app/main.tf
  terraform/_modules/authentik/oauth2_app/vars.tf
Labels: relative/terraform

fix(cilium): disable ipv6 hubble
  kubernetes/core/cilium/values.yml
Labels: relative/kubernetes

fix(cilium): wrong namespace
  kubernetes/core/cilium/http-route.yml
Labels: relative/kubernetes

add frigate
  kubernetes/apps/frigate/config.yml
  kubernetes/apps/frigate/external-secret.yml
  kubernetes/apps/frigate/flux-kustomization.yml
  kubernetes/apps/frigate/helm-release.yml
  kubernetes/apps/frigate/kustomization.yml
  kubernetes/apps/kustomization.yml
  kubernetes/flux/00-namespaces.yml
Labels: relative/kubernetes

add frigate
  kubernetes/apps/frigate/config.yml
  kubernetes/apps/frigate/helm-release.yml
Labels: relative/kubernetes

add erykuh to immich
  terraform/authentik/applications.tf
Labels: relative/terraform

docs(k8s): update component reference docs
  kubernetes/core/flux-instance/reference.md
Labels: relative/kubernetes

fix(frigate): s6 management
  kubernetes/apps/frigate/config.yml
  kubernetes/apps/frigate/flux-kustomization.yml
  kubernetes/apps/frigate/helm-release.yml
  kubernetes/apps/frigate/kustomization.yml
  kubernetes/apps/frigate/s6-applyuidgid
  kubernetes/apps/frigate/s6-log-prepare-run
Labels: relative/kubernetes

fix(teslamate): mqtt had the wrong address
  kubernetes/apps/teslamate/helm-release.yml
Labels: relative/kubernetes

update justfile
  ansible/.justfile
Labels: relative/ansible

feat(ansible): add mikrotik switch artifacts
  ansible/ansible.cfg
  ansible/inventory/group_vars/gatus/main.yml
  ansible/inventory/host_vars/mk-sw-01.yml
  ansible/inventory/static.yml
  ansible/library/swos.py
  ansible/playbooks/infra/switch-config.yml
  ansible/pyproject.toml
Labels: relative/ansible

fix mistakes
  ansible/inventory/group_vars/gatus/main.yml
  ansible/roles/traefik/files/config.yml
  kubernetes/apps/frigate/config.yml
  kubernetes/apps/frigate/helm-release.yml
  kubernetes/apps/frigate/kustomization.yml
  kubernetes/apps/frigate/s6-applyuidgid
  kubernetes/apps/frigate/s6-log-prepare-run
  kubernetes/apps/teslamateapi/helm-release.yml
  kubernetes/core/proxies/hass-proxy.yml
Labels: relative/kubernetes, relative/ansible

firewall changes
  terraform/mikrotik/firewall.tf
  terraform/mikrotik/interfaces.tf
  terraform/mikrotik/leases.json
Labels: relative/terraform

fix(mikrotik): add mac learning to swOS vlans
  ansible/inventory/host_vars/mk-sw-01.yml
Labels: relative/ansible

fix(frigate): remove built-in tls
  kubernetes/apps/frigate/config.yml
Labels: relative/kubernetes

update libs for ansible
  ansible/poetry.lock
Labels: relative/ansible

feat(frigate): add my boisss code
  kubernetes/apps/frigate/helm-release.yml
Labels: relative/kubernetes

cleaned up leases
  terraform/mikrotik/leases.json
Labels: relative/terraform

add searxng
  kubernetes/apps/kustomization.yml
  kubernetes/apps/searxng/external-secret.yml
  kubernetes/apps/searxng/flux-kustomization.yml
  kubernetes/apps/searxng/helm-release.yml
Labels: relative/kubernetes

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
