Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

testing
  .github/workflows/docs-reference-update.yml
Labels: relative/github

chore: removed hardcoded
  .github/scripts/update-reference-docs.py
  .github/workflows/docs-reference-update.yml
Labels: relative/github

cleanup
  .github/workflows/docs-reference-update.yml
Labels: relative/github

chore(volsync): kopia backup window at a later time
  kubernetes/core/volsync/components/replication-source.yml
Labels: relative/kubernetes

fix(flux): namespaces conditional
  kubernetes/flux/00-namespaces.yml
Labels: relative/kubernetes

fix(booklore): addtional volumeMount and dataref
  kubernetes/apps/booklore/helm-release.yml
Labels: relative/kubernetes

fix booklore
  kubernetes/apps/booklore/helm-release.yml
Labels: relative/kubernetes

feat(cilium): add healthchecks to hr
  kubernetes/core/cilium/flux-kustomization.yml
Labels: relative/kubernetes

fix(cilium): gate BGP CRDs on HelmRelease health + benchmark baselines
  kubernetes/core/cilium/bgp-migration.md
Labels: relative/kubernetes

fix(cilium): temporarily exclude bgp.yml
  kubernetes/core/cilium/kustomization.yml
Labels: relative/kubernetes

Revert "fix(cilium): temporarily exclude bgp.yml"
  kubernetes/core/cilium/kustomization.yml
Labels: relative/kubernetes

feat(k8s): set new subnets on BGP
  kubernetes/apps/plex/helm-release.yml
  kubernetes/apps/qbittorrent/helm-release.yml
  kubernetes/apps/teslamate/flux-kustomization.yml
  kubernetes/core/cilium/bgp-migration.md
  kubernetes/core/cilium/bgp.yml
  kubernetes/core/cilium/pools.yml
  kubernetes/core/external-dns/_components/internal/dns-endpoints.yml
  kubernetes/core/gateway-api/private-class.yml
  kubernetes/core/gateway-api/public-class.yml
  kubernetes/core/gateway-api/reference.md
  kubernetes/core/grafana-operator/resources/settings.yml
  terraform/gravity/dns.tf
  terraform/mikrotik/bgp.tf
  terraform/mikrotik/firewall.tf
Labels: relative/kubernetes, relative/terraform

fix(cilium): remove unsupported selector field
  kubernetes/core/cilium/bgp.yml
Labels: relative/kubernetes

feat(cilium): maybe - enable socketLB to fix BGP LoadBalancer routing loop
  kubernetes/core/cilium/values.yml
Labels: relative/kubernetes

fix(cilium): maybe fixes it
  kubernetes/core/cilium/values.yml
Labels: relative/kubernetes

feat(cilium): enable external envoy daemonset
  kubernetes/core/cilium/values.yml
Labels: relative/kubernetes

testing
  kubernetes/core/cilium/values.yml
Labels: relative/kubernetes

testing
  kubernetes/core/cilium/values.yml
Labels: relative/kubernetes

testing
  kubernetes/apps/plex/helm-release.yml
  kubernetes/apps/qbittorrent/helm-release.yml
  kubernetes/apps/teslamate/flux-kustomization.yml
  kubernetes/core/cilium/values.yml
Labels: relative/kubernetes

no longer need these
  terraform/mikrotik/firewall.tf
Labels: relative/terraform

feat(cilium): enable alpn
  kubernetes/core/cilium/values.yml
Labels: relative/kubernetes

feat(cilium): enable tproxy again
  kubernetes/core/cilium/values.yml
Labels: relative/kubernetes

test cilium values
  kubernetes/core/cilium/values.yml
Labels: relative/kubernetes

feat(cilium): lol disable tproxy since its imcompatible with netkit
  kubernetes/core/cilium/values.yml
Labels: relative/kubernetes

chore(cilium): remove l2announcements
  kubernetes/core/cilium/policy.yml
Labels: relative/kubernetes

docs(k8s): update component reference docs
  kubernetes/core/prometheus/reference.md
  kubernetes/core/volsync/reference.md
Labels: relative/kubernetes

feat(external-dns): bump chart version
  kubernetes/core/external-dns/cloudflare/helm-release.yml
  kubernetes/core/external-dns/gravity/helm-release.yml
Labels: relative/kubernetes

fix(envoy-gateway): no longer need gateway api crds
  kubernetes/core/envoy-gateway/certificate.yml
  kubernetes/core/envoy-gateway/flux-kustomization.yml
  kubernetes/core/envoy-gateway/kustomization.yml
  kubernetes/core/envoy-gateway/private-class.yml
  kubernetes/core/envoy-gateway/public-class.yml
  kubernetes/core/envoy-gateway/redirect-route.yml
  kubernetes/core/gateway-api/flux-kustomization.yml
  kubernetes/core/gateway-api/kustomization.yml
  kubernetes/core/gateway-api/reference.md
  kubernetes/core/kustomization.yml
Labels: relative/kubernetes

feat(helmfile): add envoy-gateway crds
  kubernetes/hacks/crds-helmfile.yml
Labels: relative/kubernetes

chore(envoy-gateway): compression is deprecated; switch to compressor
  kubernetes/core/envoy-gateway/backend-traffic-policy.yml
Labels: relative/kubernetes

chore(envoy-gateway): refactor files
  kubernetes/core/envoy-gateway/backend-traffic-policy.yml
  kubernetes/core/envoy-gateway/client-traffic-policy.yml
  kubernetes/core/envoy-gateway/config.yml
  kubernetes/core/envoy-gateway/gateways.yml
  kubernetes/core/envoy-gateway/kustomization.yml
  kubernetes/core/envoy-gateway/public-class.yml
  kubernetes/core/envoy-gateway/traffic-policies.yml
Labels: relative/kubernetes

chore(cilium): revert annotation based forwarding mode on lbs
  kubernetes/apps/plex/helm-release.yml
  kubernetes/apps/qbittorrent/helm-release.yml
  kubernetes/apps/teslamate/flux-kustomization.yml
  kubernetes/core/cilium/values.yml
Labels: relative/kubernetes

chore(volsync): set kopia maintence outside of backup window
  kubernetes/core/volsync/kopia-maintenance.yml
Labels: relative/kubernetes

feat(ansible): use cloud.terraform to reference terraform values
  ansible/playbooks/cloud/gatus/pre_configuration.yml
  ansible/requirements.yml
  terraform/mikrotik/outputs.tf
  terraform/mikrotik/providers.tf
  terraform/mikrotik/wireguard.tf
Labels: relative/terraform, relative/ansible

chore(ansible): for aws host, add preshared key from mikrotik peer
  ansible/playbooks/cloud/gatus/pre_configuration.yml
Labels: relative/ansible

chore(teslamateapi): drop for now
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

docs(k8s): update component reference docs
  kubernetes/core/cilium/reference.md
  kubernetes/core/envoy-gateway/reference.md
  kubernetes/core/flux-instance/reference.md
  kubernetes/core/prometheus/reference.md
  kubernetes/core/rook-ceph/reference.md
  kubernetes/core/volsync/reference.md
Labels: relative/kubernetes

feat(ansible): add dynamic inventory for terraform
  ansible/ansible.cfg
  ansible/inventory/terraform_provider.yml
Labels: relative/ansible

chore(k8s): update secret names
  kubernetes/apps/authentik/external-secret.yml
  kubernetes/apps/diff2rss/external-secret.yml
  kubernetes/apps/karakeep/external-secret.yml
  kubernetes/apps/miniflux/external-secret.yml
  kubernetes/apps/paperless-ngx/external-secret.yml
  kubernetes/apps/your-spotify/external-secret.yml
  kubernetes/core/external-dns/secrets/external-secret.yml
  kubernetes/core/rook-ceph/external-secret.yml
Labels: relative/kubernetes

feat(flux): redeploy mcp
  kubernetes/core/flux-operator/mcp.yml
  kubernetes/core/github-actions/flux-kustomization.yml
  kubernetes/core/github-actions/flux-mcp-reporter/cron-job.yml
  kubernetes/core/github-actions/flux-mcp-reporter/kustomization.yml
  kubernetes/core/github-actions/kustomization.yml
Labels: relative/kubernetes
