Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

docs: include rook in components
  README.md
Labels: relative/docs

fix(taskfiles): check if helm repo contains oci
  kubernetes/.taskfiles/helm/taskfile.yml
Labels: relative/kubernetes

add pulsarr
  kubernetes/apps/kustomization.yml
  kubernetes/apps/pulsarr/external-secret.yml
  kubernetes/apps/pulsarr/flux-kustomization.yml
  kubernetes/apps/pulsarr/helm-release.yml
  kubernetes/apps/pulsarr/kustomization.yml
Labels: relative/kubernetes

chore(source-controller): upgrade resources to v1
  kubernetes/core/grafana-operator/helm-release.yml
  kubernetes/core/grafana-operator/source.yml
  kubernetes/core/prometheus/flux-metrics.yml
  kubernetes/core/rook-ceph/source.yml
Labels: relative/kubernetes

fix(pulsarr): secretName
  kubernetes/apps/pulsarr/helm-release.yml
Labels: relative/kubernetes

chore(pulsarr): add persistence
  kubernetes/apps/pulsarr/helm-release.yml
Labels: relative/kubernetes

feat(pulsarr): add dns endpoint
  kubernetes/apps/pulsarr/flux-kustomization.yml
Labels: relative/kubernetes

fix(pulsarr): set correct tautulli port
  kubernetes/apps/pulsarr/helm-release.yml
Labels: relative/kubernetes

feat(ansible): add apprise
  ansible/inventory/host_vars/mgmt-srv-01.yml
Labels: relative/ansible

misc
  kubernetes/apps/pulsarr/helm-release.yml
Labels: relative/kubernetes

chore(pulsarr): seems to want a list
  kubernetes/apps/pulsarr/external-secret.yml
  kubernetes/apps/pulsarr/helm-release.yml
Labels: relative/kubernetes

add paperless-ai
  kubernetes/apps/kustomization.yml
  kubernetes/apps/paperless-ai/external-secret.yml
  kubernetes/apps/paperless-ai/flux-kustomization.yml
  kubernetes/apps/paperless-ai/helm-release.yml
  kubernetes/apps/paperless-ai/kustomization.yml
Labels: relative/kubernetes

chore(paperless-ai): add more envs
  kubernetes/apps/paperless-ai/helm-release.yml
Labels: relative/kubernetes

chore(paperless-ai): add tmp volumes
  kubernetes/apps/paperless-ai/helm-release.yml
Labels: relative/kubernetes

drop for now
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

docs: add flux mcp
  .github/instructions/flux.instructions.md
Labels: relative/github

docs(flux): add mcp server
  kubernetes/flux/mcp.yml
Labels: relative/kubernetes

refactor(flux): place mcp in fluxOp subdir
  kubernetes/core/flux-operator/kustomization.yml
  kubernetes/core/flux-operator/mcp.yml
Labels: relative/kubernetes

fix(flux): serve mcp traffic on subPath
  kubernetes/core/flux-operator/mcp.yml
Labels: relative/kubernetes

bump headlamp hr
  kubernetes/apps/headlamp/helm-release.yml
Labels: relative/kubernetes

feat(flux-mcp): remove sse
  kubernetes/core/flux-operator/mcp.yml
Labels: relative/kubernetes

Revert "feat(flux-mcp): remove sse"
  kubernetes/core/flux-operator/mcp.yml
Labels: relative/kubernetes

fix(flux-operator-mcp): add networking ns to allow list
  kubernetes/core/flux-operator/mcp.yml
Labels: relative/kubernetes

chore(flux-operator-mcp): removed flux namespace
  kubernetes/.vscode/mcp.json
Labels: relative/kubernetes

init kasten demo
  terraform/kasten/backend.tf
  terraform/kasten/base.tf
  terraform/kasten/main.tf
  terraform/kasten/providers.tf
Labels: relative/terraform

add kubernetes and helm providers
  terraform/kasten/providers.tf
Labels: relative/terraform

add ebs
  terraform/kasten/main.tf
Labels: relative/terraform

init
  .renovate/customManagers.json5
  .renovate/grafanaDashboards.json5
  kubernetes/core/prometheus/helm-release.yml
Labels: relative/kubernetes, relative/renovate

feat(flux-operator-mcp): removed flux ns
  kubernetes/core/flux-operator/mcp.yml
Labels: relative/kubernetes

refactor: make it cleaner
  terraform/kasten/iam.tf
  terraform/kasten/main.tf
  terraform/kasten/network.tf
  terraform/kasten/providers.tf
  terraform/kasten/vars.tf
Labels: relative/terraform

fix pod identity
  terraform/kasten/main.tf
Labels: relative/terraform

add helm releases
  terraform/kasten/iam.tf
  terraform/kasten/iam/aws-lbc.json
  terraform/kasten/main.tf
Labels: relative/terraform

fix(headlamp): image was incorrect
  kubernetes/apps/headlamp/helm-release.yml
Labels: relative/kubernetes

fix(keda-operator): query was pointing at the wrong thing
  kubernetes/core/keda-operator/_components/nfs/scaled-object.yml
Labels: relative/kubernetes

add dependsOn and annotation to vsc
  terraform/kasten/main.tf
Labels: relative/terraform

1.33 is not supported, ffs
  terraform/kasten/vars.tf
Labels: relative/terraform

set up iam for kasten user
  terraform/kasten/iam.tf
  terraform/kasten/iam/aws-kasten.json
  terraform/kasten/outputs.tf
Labels: relative/terraform

fmt
  terraform/kasten/main.tf
Labels: relative/terraform

just to have the variables present if needed
  terraform/kasten/.envrc
Labels: relative/terraform

docs
  terraform/kasten/README.md
  terraform/kasten/k10-tools/csi.yml
Labels: relative/terraform
