Repository chkpwd/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: relative/docs, relative/github, relative/kubernetes, relative/terraform, relative/ansible, relative/packer, relative/containers, relative/renovate, area/talos, area/taskfile

removed anirra
  kubernetes/apps/kustomization.yml
Labels: relative/kubernetes

ci(renovate): add ami lookup
  terraform/aws/main.tf
Labels: relative/terraform

chore(ansible): add game server to linux hosts
  ansible/inventory/static.yml
Labels: relative/ansible

small cahnges
  ansible/playbooks/setup_game_servers.yml
  ansible/roles/game_server/tasks/ark-server.yml
  ansible/roles/game_server/tasks/main.yml
  ansible/roles/semaphore/defaults/main.yml
Labels: relative/ansible

ci: add renovate customManager for aws
  .renovate/customManagers.json5
Labels: relative/renovate

removed for now
  .renovate/customManagers.json5
Labels: relative/renovate

drop support for customManagers temporarily
  renovate.json5
Labels: none

trying again
  .renovate/customManagers.json5
  renovate.json5
Labels: relative/renovate

formatting
  .renovate/containers.json5
  .renovate/groups.json5
Labels: relative/renovate

ci(renovate): fix regex file pattern
  .renovate/customManagers.json5
Labels: relative/renovate

ci(renovate): removed extra escapes
  .renovate/customManagers.json5
Labels: relative/renovate

feat(terraform): add iam policy for renovate
  terraform/aws/directory.tf
  terraform/aws/main.tf
  terraform/aws/outputs.tf
Labels: relative/terraform

fix(unifi-controller): increase timeout for mongo database
  kubernetes/apps/unifi-controller/helm-release.yml
Labels: relative/kubernetes

chore(plex): increase volsync cache
  kubernetes/apps/plex/flux-kustomization.yml
Labels: relative/kubernetes

chore(plex): increase volsync cache
  kubernetes/apps/unifi-controller/helm-release.yml
Labels: relative/kubernetes

chore(paperless-ngx): use non root on the supporting containers
  kubernetes/apps/paperless-ngx/helm-release.yml
Labels: relative/kubernetes

chore(paperless-ngx): changed container names
  kubernetes/apps/paperless-ngx/helm-release.yml
Labels: relative/kubernetes

chore(paperless-ngx): changed persistence to NAS
  kubernetes/apps/paperless-ngx/helm-release.yml
Labels: relative/kubernetes

fix(paperless-ngx): set subPath
  kubernetes/apps/paperless-ngx/helm-release.yml
  kubernetes/flux/namespaces/kustomization.yml
Labels: relative/kubernetes

oops
  kubernetes/flux/namespaces/kustomization.yml
Labels: relative/kubernetes

revert temp
  kubernetes/apps/paperless-ngx/helm-release.yml
Labels: relative/kubernetes

Revert "revert temp"
  kubernetes/apps/paperless-ngx/helm-release.yml
Labels: relative/kubernetes

no more mistakes
  .gitignore
  kubernetes/apps/paperless-ngx/helm-release.yml
Labels: relative/kubernetes

fighting paperless
  kubernetes/apps/paperless-ngx/helm-release.yml
Labels: relative/kubernetes

fix(paperless-ngx): media env name
  kubernetes/apps/paperless-ngx/helm-release.yml
Labels: relative/kubernetes

fix(obico): removed dnsendpoint
  kubernetes/apps/obico/flux-kustomization.yml
Labels: relative/kubernetes

feat(immich): update images location
  kubernetes/apps/immich/helm-release.yml
  kubernetes/apps/immich/storage.yml
Labels: relative/kubernetes

deployed kestra
  .gitignore
  kubernetes/apps/kestra/external-secret.yml
  kubernetes/apps/kestra/flux-kustomization.yml
  kubernetes/apps/kestra/helm-release.yml
  kubernetes/apps/kestra/kustomization.yml
  kubernetes/apps/kestra/source.yml
  kubernetes/apps/kustomization.yml
  kubernetes/flux/namespaces/kustomization.yml
  kubernetes/flux/namespaces/runners.yml
Labels: relative/kubernetes

fix(kestra): helm ingress
  kubernetes/apps/kestra/helm-release.yml
Labels: relative/kubernetes

fix(kestra): secret name
  kubernetes/apps/kestra/external-secret.yml
  kubernetes/apps/kestra/helm-release.yml
Labels: relative/kubernetes

fix(kestra): postgres config
  kubernetes/apps/kestra/external-secret.yml
  kubernetes/apps/kestra/helm-release.yml
Labels: relative/kubernetes

redo kestra settings
  kubernetes/apps/kestra/external-secret.yml
  kubernetes/apps/kestra/helm-release.yml
  kubernetes/apps/kestra/kustomization.yml
  kubernetes/apps/kestra/settings.yml
Labels: relative/kubernetes

testing(kestra): removed root lockdown
  kubernetes/apps/kestra/helm-release.yml
Labels: relative/kubernetes

im dumb dumb
  kubernetes/apps/kestra/helm-release.yml
  kubernetes/apps/kestra/kustomization.yml
  kubernetes/apps/kestra/settings.yml
Labels: relative/kubernetes

chore(kestra): clean up
  kubernetes/apps/kestra/helm-release.yml
Labels: relative/kubernetes

feat(kestra): add dind
  kubernetes/apps/kestra/helm-release.yml
Labels: relative/kubernetes

feat(kestra): add more env
  kubernetes/apps/kestra/external-secret.yml
  kubernetes/apps/kestra/helm-release.yml
Labels: relative/kubernetes

style(ansible): formatting in cfg file
  ansible/ansible.cfg
  kubernetes/apps/kestra/external-secret.yml
  kubernetes/apps/kestra/helm-release.yml
Labels: relative/kubernetes, relative/ansible

fix(kestra): forgot to b64 encode the secret
  kubernetes/apps/kestra/external-secret.yml
Labels: relative/kubernetes

fix(kestra): base64enc myself!
  kubernetes/apps/kestra/external-secret.yml
Labels: relative/kubernetes

.github/labeler.yml:

---
relative/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
relative/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
relative/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
relative/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
relative/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
relative/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"
relative/containers:
  - changed-files:
      - any-glob-to-any-file: "containers/**/*"
relative/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
